// @type
@use '../../../../styles/foundation' as *;

.sortable {
  display: flex;
  flex-direction: column;
  gap: var(--distance-16px);
  margin-bottom: var(--distance-16px);
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    flex: 1;
    display: flex;
    &__handle {
      display: flex;
      align-items: center;
      padding: 0 var(--distance-16px);
      cursor: grab;
      margin-left: calc(var(--distance-16px) * -1);
      > svg {
        fill: var(--brand-color);
        height: var(--icon-dimension-16px);
      }
    }
    &__field {
      flex: 1;
    }
  }
  &__actions {
    display: flex;
    gap: var(--distance-4px);
    margin-left: var(--distance-8px);
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
      width: var(--button-dimension-34px);
      height: var(--button-dimension-34px);
      @include transition-150ms(background-color);
      @include hover {
        background-color: var(--blue100);
      }
      > svg {
        height: var(--icon-dimension-20px);
        fill: var(--brand-color);
        @include transition-150ms(fill);
      }
      &--remove {
        margin-right: calc(var(--distance-2px) * -1);
        > svg {
          transform: rotate(45deg);
        }
      }
      &--disabled > svg {
        fill: var(--blue300);
      }
    }
  }
}
