// @type
@use '../../../../styles/foundation' as *;

.sortable {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  &__input {
    flex: 1;
    display: flex;
    &__handle {
      display: flex;
      align-items: center;
      padding: 0 16px;
      cursor: grab;
      margin-left: calc(16px * -1);
      > svg {
        fill: var(--neutral300);
        height: var(--icon-dimension-14px);
      }
    }
    &__field {
      flex: 1;
    }
  }
  &__actions {
    display: flex;
    gap: 4px;
    margin-left: var(--padding-8px);
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
      width: var(--button-dimension-28px);
      height: var(--button-dimension-28px);
      @include transition-150ms(background-color);
      @include hover {
        background-color: var(--neutral100);
      }
      > svg {
        width: 17px;
        fill: var(--black);
        @include transition-150ms(fill);
      }
      &--remove {
        margin-right: calc(2px * -1);
        > svg {
          transform: rotate(45deg);
        }
      }
      &--disabled > svg {
        fill: var(--neutral300);
      }
    }
  }
}
