// @type
@use '../../../../styles/foundation' as *;

.container {
  background: var(--header-background);
  border-bottom: var(--border-primary);
  animation: var(--animation-move-from-top);
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--distance-30px);
  padding: var(--distance-210px) 0 var(--distance-120px) 0;
  text-align: center;
  > h1 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
    letter-spacing: var(--letter-spacing-landing-heading);
    animation: var(--animation-fade-in);
    font-size: var(--font-size-32px);
    @include at768 {
      font-size: var(--font-size-40px);
    }
    @include at1200 {
      font-size: var(--font-size-64px);
    }
    @include at1380 {
      font-size: var(--font-size-70px);
    }
  }
  &__subheading {
    animation: var(--animation-fade-in-move-from-top-delayed);
    > p {
      max-width: var(--distance-900px);
      font-size: var(--font-size-18px);
      @include at768 {
        font-size: var(--font-size-20px);
      }
      @include at992 {
        font-size: var(--font-size-23px);
      }
      > strong {
        font-weight: 500;
      }
    }
  }
  &__button {
    animation: var(--animation-fade-in-move-from-top-delayed);
  }
}
