// @type
@use '../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  .label {
    padding-left: var(--padding-8px);
    color: var(--text-color-variant);
  }
  &--label-left {
    flex-direction: row-reverse;
    .label {
      padding-left: 0;
      padding-right: var(--padding-8px);
    }
  }
  &--disabled {
    pointer-events: none;
    opacity: var(--dimmed-opacity);
  }
  &--checked {
    .switch {
      background-color: var(--accent-color);
      @include dark {
        background-color: var(--dark300);
      }
    }
    @include hover {
      .switch {
        background-color: var(--blue800);
        @include dark {
          background-color: var(--blue700);
        }
      }
    }
    .thumb {
      transform: translateX(10px);
    }
  }
}
.switch {
  position: relative;
  width: 32px;
  height: 22px;
  border-radius: 999px;
  background-color: var(--neutral300);
  right: 0;
  @include dark {
    background-color: var(--dark300);
  }
  @include hover {
    background-color: var(--neutral400);
    @include dark {
      background-color: var(--dark200);
    }
  }
  .thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
  }
}
