// @type
@use '../../styles/foundation' as *;

.container {
  --swich-width: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  user-select: none; // Prevent text selection
  @include transition-150ms;
  > span {
    padding-right: calc(var(--swich-width) + var(--padding-8px));
  }
  &--disabled {
    pointer-events: none;
    opacity: var(--dimmed-opacity);
  }
  &--checked {
    .switch {
      background-color: var(--accent-color);
      @include dark {
        background-color: var(--dark300);
      }
    }
    @include hover {
      .switch {
        background-color: var(--blue800);
        @include dark {
          background-color: var(--blue700);
        }
      }
    }
    .thumb {
      transform: translateX(10px);
    }
  }
}
.switch {
  width: var(--swich-width);
  height: 22px;
  border-radius: 999px;
  background-color: var(--neutral300);
  position: absolute;
  right: 0;
  @include transition-150ms;
  @include dark {
    background-color: var(--dark300);
  }
  @include hover {
    background-color: var(--neutral400);
    @include dark {
      background-color: var(--dark200);
    }
  }
  .thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    @include transition-150ms;
  }
}
