// @type
@use '../../../../web-ui/src/styles/foundation' as *;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

.container {
  --font-family-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
  font-family: var(--font-family-inter);
  animation: fade-in var(--transition-duration-150ms) ease-in-out;
  a {
    text-decoration: none;
  }
  button,
  select {
    cursor: pointer;
    font-family: var(--font-family-inter);
  }
  a,
  button {
    &:focus {
      outline: none;
    }
  }
  button {
    margin: unset;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
