// @type
@use '../../../../web-ui/src/styles/foundation' as *;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

.container {
  --font-family-plus-jakarta-sans: 'Plus Jakarta Sans', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
  --accent-color: var(--blue700) !important; // Fix for youtube
  font-family: var(--font-family-inter);
  animation: fade-in var(--transition-duration-150ms) ease-in-out;
  font-size: var(--font-size-15px);
  line-height: 1.3;
  * {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  button,
  select {
    cursor: pointer;
  }
  a,
  button {
    &:focus {
      outline: none;
    }
  }
  textarea {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-15px);
    &:focus-visible {
      outline: none;
    }
  }
  button {
    margin: unset;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
