// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.radio {
  border: 1px solid var(--blue200);
  background: var(--blue100);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: var(--border-radius-999px);
  @include hover {
    border-color: var(--blue300);
  }
  @include transition-150ms(border-color);
  &--checked {
    border-color: var(--blue300);
  }
  &__check {
    background-color: var(--accent-color);
    border-radius: var(--border-radius-999px);
    width: 11px;
    height: 11px;
  }
}
.text {
  display: flex;
  flex-direction: column;
  &__top-line {
    font-weight: var(--font-weight-inter-medium);
    font-size: var(--font-size-16px);
  }
  &__bottom-line {
    color: var(--text-color-variant);
    font-size: var(--font-size-14px);
  }
}
