// @type
@use '../../../../styles/foundation' as *;

.container {
  display: grid;
  background: var(--Bookmark-background);
  border: var(--border-secondary);
  cursor: pointer;
  @include transition-100ms(border-color);
  @include to992 {
    grid-template-areas:
      'main main'
      'link actions';
    border-left-width: 0px;
    border-right-width: 0px;
    grid-template-columns: 1fr auto;
  }
  @include at992 {
    grid-template-areas:
      'main actions'
      'link actions';
    border-radius: var(--border-radius-10px);
    grid-template-columns: 1fr auto;
    @include hover {
      border-color: var(--border-color-hover);
    }
  }
  .main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding-top: var(--distance-12px);
    padding-left: var(--distance-16px);
    padding-bottom: var(--distance-10px);
    @include to992 {
      padding-right: var(--distance-16px);
      border-bottom: 1px solid var(--border-color-secondary);
    }
    &--has-tags {
      @include to992 {
        padding-bottom: var(--distance-3px);
      }
      @include at992 {
        padding-bottom: 0;
      }
    }
    &__title {
      display: inline;
      color: var(--text-color-normal);
      margin-right: var(--distance-0-6rem);
      &--starred {
        padding: var(--distance-0-7rem) var(--distance-0-5rem) 0.28rem
          var(--distance-0-5rem);
        margin-left: calc(var(--distance-0-5rem) * -1);
        margin-right: calc(var(--distance-0-6rem) - var(--distance-0-4rem));
        background: var(--Bookmark-starred-title-background);
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
      }
      &__saves {
        display: inline-flex;
        align-items: center;
        transform: translateY(-0.2rem);
        border-radius: var(--border-radius-999px);
        font-family: var(--font-family-plus-jakarta-sans);
        font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
        background: var(--Bookmark-saves-background);
        color: var(--Bookmark-saves-foreground);
        font-size: var(--font-size-1-4rem);
        padding: 0 var(--distance-0-9rem);
        height: var(--distance-2-0rem);
        margin-right: var(--distance-0-6rem);
      }
      &__nsfw {
        display: inline-flex;
        align-items: center;
        color: var(--Bookmark-nsfw-foreground);
        transform: scale(0.9) translateY(-0.33rem);
        transform-origin: left;
        position: relative;
        font-size: var(--font-size-1-2rem);
        margin-right: var(--distance-0-1rem);
        height: var(--distance-2-0rem);
        background: var(--Bookmark-nsfw-background);
        padding: 0 var(--distance-0-4rem);
        border-radius: var(--border-radius-4px);
        font-family: var(--font-family-plus-jakarta-sans);
        font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
      }
      &__text {
        display: inline;
        font-weight: var(--font-weight-inter-medium);
        font-size: var(--font-size-1-9rem);
        margin-bottom: var(--distance-0-8rem);
      }
    }
    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: var(--distance-0-8rem);
      margin: var(--distance-6px) 0 var(--distance-8px) 0;
      &__tag {
        display: flex;
        align-items: center;
        gap: var(--distance-0-4rem);
        @include hover {
          > div > span:first-child {
            @include text-decoration-underline;
          }
        }
        &--condensed {
          @include to992 {
            font-family: var(--font-family-inter-tight);
          }
        }
        &__name {
          font-size: var(--font-size-1-5rem);
          color: var(--Bookmark-tag-foreground);
          font-weight: var(--font-weight-inter-medium);
          &--selected {
            color: var(--Bookmark-tag-selected-foreground);
          }
        }
        &__yields {
          font-size: var(--font-size-1-5rem);
          color: var(--text-color-dimmed);
          margin-left: var(--distance-0-3rem);
        }
      }
    }
  }
  .actions {
    grid-area: actions;
    display: flex;
    @include to992 {
      margin-right: var(--distance-9px);
    }
    @include at992 {
      flex-direction: column;
      margin-top: var(--distance-7px);
      margin-left: var(--distance-8px);
    }
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      @include to992 {
        width: var(--button-dimension-48px);
        height: var(--button-dimension-48px);
      }
      @include at992 {
        width: var(--button-dimension-40px);
        height: var(--button-dimension-34px);
      }
      &:last-of-type {
        @include to992 {
          order: -1;
        }
      }
      svg {
        width: var(--icon-dimension-18px);
        height: var(--icon-dimension-18px);
        fill: var(--Bookmark-action-fill) !important;
        @include transition-100ms(fill);
        @include at992 {
          width: var(--icon-dimension-16px);
          height: var(--icon-dimension-16px);
        }
      }
      @include hover {
        svg {
          fill: var(--Bookmark-action-fill-hover) !important;
        }
      }
    }
  }
  .link {
    grid-area: link;
    @include to992 {
      overflow: hidden;
    }
    &__inner {
      display: flex;
      padding-left: var(--distance-16px);
      @include to992 {
        height: 100%;
        align-items: center;
      }
      @include at992 {
        padding-bottom: var(--distance-12px);
      }
      &__element {
        position: relative;
        word-break: break-all;
        font-size: var(--font-size-1-5rem);
        color: var(--Bookmark-link-foreground);
        @include text-decoration-underline;
        @include hover {
          text-decoration: none;
        }
        @include to992 {
          height: 100%;
          display: flex;
          align-items: center;
        }
        &:visited {
          color: var(--Bookmark-link-visited-foreground);
        }
        > div > span {
          position: relative;
        }
        > div > span::after {
          content: '';
          top: 0.25rem;
          left: 0;
          width: 2.1rem;
          height: 1.7rem;
          background: url('data:image/svg+xml;utf8,<svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.12431 8.12749C3.4496 8.12749 2.8317 7.96236 2.27062 7.6321C1.71309 7.2983 1.26742 6.85263 0.933616 6.2951C0.60336 5.73402 0.438232 5.11435 0.438232 4.43608C0.438232 3.92827 0.534113 3.45241 0.725874 3.00852C0.917636 2.56108 1.1822 2.16868 1.51955 1.83132C1.85691 1.49396 2.24754 1.2294 2.69143 1.03764C3.13887 0.845881 3.6165 0.75 4.12431 0.75H4.82744V2.55043H4.12431C3.77985 2.55043 3.4638 2.63565 3.17616 2.80611C2.89207 2.97656 2.66479 3.20383 2.49434 3.48793C2.32389 3.77202 2.23866 4.08807 2.23866 4.43608C2.23866 4.78409 2.32211 5.10192 2.48901 5.38956C2.65947 5.67365 2.88674 5.90092 3.17083 6.07138C3.45847 6.24183 3.7763 6.32706 4.12431 6.32706H13.1584V8.12749H4.12431ZM9.94107 12.2024L8.71593 10.9666L12.4606 7.22727L8.71593 3.47727L9.94107 2.25213L14.9162 7.22727L9.94107 12.2024Z" fill="%23171717"/></svg>');
          background-color: var(--Bookmark-background);
          background-size: 1.55rem;
          background-repeat: no-repeat;
          position: absolute;
        }
      }
    }
  }
}
