// @type
@use '../../../../styles/foundation' as *;

.container {
  background: var(--Bookmark-background);
  border: var(--border-secondary);
  @include transition-100ms(border-color);
  @include to992 {
    border-top: var(--border-primary);
    border-left: 0;
    border-right: 0;
  }
  @include at992 {
    border-radius: var(--border-radius-12px);
    @include hover {
      border-color: var(--border-color-hover);
    }
    @include dark {
      background: blue;
    }
  }
  &--has-highlights {
    border-color: var(--blue100);
    @include to992 {
      border-top-color: var(--blue200);
    }
    @include at992 {
      @include hover {
        border-color: var(--blue300);
      }
    }
  }
}
.bookmark {
  display: flex;
  flex-direction: column;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    &__info {
      color: var(--text-color-dimmed);
      display: flex;
      padding-left: var(--distance-16px);
      padding-bottom: var(--distance-6px);
      white-space: pre-wrap;
    }
    &__menu {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-left: var(--distance-8px);
      margin-top: var(--distance-11px);
      @include to992 {
        margin-right: var(--distance-16px);
        margin-left: var(--distance-16px);
      }
      @include at992 {
        margin-right: var(--distance-8px);
        margin-left: var(--distance-8px);
      }
      &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-radius-999px);
        @include transition-100ms(background-color);
        width: var(--button-dimension-28px);
        height: var(--button-dimension-28px);
        svg {
          fill: var(--Bookmark-action-fill);
          @include transition-100ms(fill);
          width: var(--icon-dimension-16px);
          height: var(--icon-dimension-16px);
        }
        @include hover {
          background: var(--Bookmark-action-background-hover);
          svg {
            fill: var(--Bookmark-action-fill-hover);
          }
        }
      }
      &--toggled {
        background: var(--Bookmark-action-background-hover);
        svg {
          fill: var(--Bookmark-action-fill-hover);
        }
      }
      &__slot {
        position: absolute;
        z-index: 1;
        top: calc(var(--button-dimension-28px) + var(--distance-4px));
        right: 0;
        bottom: calc(var(--distance-4px) * -1);
        opacity: 1;
        @include transition-100ms;
        transform: translateY(0);
        &--hidden {
          opacity: 0;
          transform: translateY(calc(var(--distance-4px) * -1));
          pointer-events: none;
          transition: none;
        }
      }
    }
  }
  &__title {
    padding: 0 var(--distance-16px);
    &__inner {
      display: inline;
      color: var(--text-color-normal);
      margin-right: var(--distance-0-6rem);
      &__unread {
        display: inline-flex;
        align-items: center;
        transform: scale(0.9) translateY(-0.27rem);
        transform-origin: left;
        position: relative;
        margin-right: var(--distance-0-4rem);
        height: var(--distance-2-0rem);
        width: var(--distance-2-0rem);
        background: var(--red);
        border-radius: var(--border-radius-999px);
        &:after {
          content: '⠀';
        }
      }
      &__stars {
        display: inline-flex;
        gap: var(--distance-0-4rem);
        transform: translateY(0.12rem);
        margin-right: var(--distance-0-6rem);
        > svg {
          width: var(--distance-2-0rem);
          fill: var(--yellow);
        }
      }
      &__text {
        position: relative;
        display: inline;
        font-weight: var(--font-weight-inter-medium);
        font-size: var(--font-size-1-9rem);
        margin-bottom: var(--distance-0-8rem);
        overflow-wrap: anywhere;
        &--unread {
          font-weight: var(--font-weight-inter-semi-bold);
        }
      }
    }
  }
  &__tags {
    font-family: var(--font-family-inter-tight);
    margin: var(--distance-6px) 0 var(--distance-6px) 0;
    padding: 0 var(--distance-16px);
    font-size: var(--font-size-1-5rem);
    > * {
      padding-right: var(--distance-0-8rem);
      padding-bottom: var(--distance-0-6rem);
    }
    > span {
      color: var(--text-color-dimmed);
    }
    &__tag {
      @include hover {
        > div > span:first-child {
          @include text-decoration-underline;
        }
      }
      &__name {
        color: var(--green800);
        font-weight: var(--font-weight-inter-medium);
        &--selected {
          color: var(--yellow800);
        }
      }
      &__yields {
        color: var(--text-color-dimmed);
        margin-left: var(--distance-0-4rem);
      }
    }
  }
  &__links {
    display: block;
    &__item {
      display: flex;
      gap: var(--distance-8px);
      justify-content: space-between;
      padding: var(--distance-10px) var(--distance-12px);
      background-color: var(--Bookmark-link-background);
      border-top: var(--border-secondary);
      &--has-highlights {
        background-color: var(--blue25);
        border-top-color: var(--blue100);
      }
      &:last-of-type {
        border-bottom-left-radius: var(--border-radius-12px);
        border-bottom-right-radius: var(--border-radius-12px);
      }
      &__site {
        flex: 1;
        display: flex;
        align-items: center;
        gap: var(--distance-8px);
        overflow: hidden;
        &__favicon {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: var(--distance-32px);
          height: var(--distance-32px);
          background-color: var(--outlined-button-background);
          border-radius: var(--border-radius-999px);
          border: var(--border-secondary);
          @include transition-100ms(border-color);
          @include hover {
            border-color: var(--border-color-hover);
          }
          &--has-highlights {
            border-color: var(--blue100);
            @include hover {
              border-color: var(--blue300);
            }
          }
          > img {
            width: var(--distance-16px);
            height: var(--distance-16px);
          }
        }
        &__url {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          @include hover {
            > span {
              color: var(--text-color-normal) !important;
              @include text-decoration-underlinie-thin;
              text-decoration-color: var(--text-color-variant);
            }
            &:visited > span {
              text-decoration-color: var(--text-color-dimmed);
            }
          }
          > span {
            color: var(--text-color-normal);
            text-overflow: ellipsis;
            overflow: hidden;
          }
          > span:last-child {
            color: var(--text-color-variant);
            font-size: var(--font-size-13px);
            -webkit-line-clamp: 2;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            @include at1200 {
              -webkit-line-clamp: 1;
            }
          }
          &:visited > span {
            color: var(--text-color-dimmed);
            text-decoration-color: rgba(115, 115, 115, 0.3);
          }
        }
      }
      &__actions {
        display: flex;
        align-items: center;
        gap: var(--distance-8px);
        &__open {
          display: flex;
          align-items: center;
          gap: var(--distance-4px);
          > button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--border-radius-999px);
            @include transition-100ms(background-color);
            width: var(--button-dimension-28px);
            height: var(--button-dimension-28px);
            svg {
              fill: var(--Bookmark-link-new-tab-fill);
              @include transition-100ms(fill);
              width: var(--icon-dimension-12px);
              height: var(--icon-dimension-12px);
            }
            @include hover {
              background: var(--Bookmark-link-new-tab-background-hover);
              svg {
                fill: var(--Bookmark-link-new-tab-fill-hover);
              }
            }
          }
        }
        &__bookmark {
          display: flex;
          gap: var(--distance-6px);
          align-items: center;
          height: var(--button-dimension-34px);
          padding: 0 var(--distance-12px) 0 var(--distance-11px);
          background-color: var(--Bookmark-saves-background);
          border-radius: var(--border-radius-999px);
          @include transition-100ms(background-color);
          @include hover {
            background-color: var(--Bookmark-saves-background-hover);
          }
          span {
            color: var(--Bookmark-saves-foreground);
            font-family: var(--font-family-plus-jakarta-sans);
            font-weight: var(--font-weight-plus-jakarta-sans-bold);
            font-size: var(--font-size-14px);
          }
          svg {
            height: var(--icon-dimension-16px);
            fill: var(--Bookmark-saves-foreground);
          }
        }
      }
    }
  }
}
.highlight {
  background-color: var(--highlight);
}
