// @type
@use '../../../../styles/foundation' as *;

.wrapper {
  margin-bottom: var(--distance-8px);
  @include at992 {
    margin-bottom: var(--distance-16px);
  }
  &--compact {
    margin-bottom: -1px;
    @include at992 {
      margin-bottom: var(--distance-8px);
    }
  }
  &--margin-override {
    margin: var(--distance-8px) 0;
    @include at992 {
      margin: var(--distance-16px) 0;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
.container {
  background: var(--plain-white);
  border: var(--border-secondary);
  @include transition-150ms(border-color);
  @include to992 {
    border-left: 0;
    border-right: 0;
  }
  @include at992 {
    border-radius: var(--border-radius-12px);
    @include dark {
      background: blue;
    }
  }
  &--clickable {
    @include at992 {
      @include hover {
        border-color: var(--border-color-hover);
      }
    }
  }
}
.bookmark {
  display: flex;
  flex-direction: column;
  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--distance-10px) 0;
    &__top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      margin-bottom: calc(
        var(--distance-3px) * -1
      ); // Needed by "compact" density.
      &--compact {
        display: none;
      }
      &__info {
        color: var(--text-color-dimmed);
        display: flex;
        padding-left: var(--distance-16px);
        padding-bottom: var(--distance-6px);
        white-space: pre-wrap;
      }
      &__menu {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-right: var(--distance-10px);
        &__button {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: var(--border-radius-999px);
          @include transition-150ms(background-color);
          width: var(--button-dimension-28px);
          height: var(--button-dimension-28px);
          svg {
            fill: var(--neutral350);
            @include transition-150ms(fill);
            height: var(--icon-dimension-16px);
          }
          @include hover {
            background-color: var(--neutral100);
            svg {
              fill: var(--neutral600);
            }
          }
        }
        &--toggled {
          background-color: var(--neutral100);
          svg {
            fill: var(--neutral600);
          }
        }
        &__slot {
          position: absolute;
          z-index: 1;
          top: calc(var(--button-dimension-28px) + var(--distance-4px));
          right: 0;
          bottom: calc(var(--distance-4px) * -1);
          opacity: 1;
          @include transition-150ms;
          transform: translateY(0);
          &--hidden {
            opacity: 0;
            transform: translateY(calc(var(--distance-4px) * -1));
            pointer-events: none;
            transition: none;
          }
        }
      }
    }
    &__content {
      padding: var(--distance-2px) var(--distance-16px) 0 var(--distance-16px);
      display: flex;
      flex-direction: column;
      gap: var(--distance-2px);
      overflow: hidden;
      position: relative;
      &__title {
        display: inline;
        color: var(--text-color-normal);
        overflow: hidden;
        &__unread {
          display: inline-flex;
          align-items: center;
          transform: translateX(-9px) translateY(-0.4rem) rotate(45deg);
          left: 0;
          transform-origin: left;
          position: absolute;
          border-top-right-radius: var(--border-radius-5px);
          height: var(--distance-18px);
          width: var(--distance-18px);
          background: var(--red);
        }
        &__stars {
          display: inline-flex;
          align-items: center;
          gap: var(--distance-0-6rem);
          transform: translateY(0.22rem);
          margin-left: var(--distance-0-1rem);
          margin-right: var(--distance-0-7rem);
          height: 0;
          > svg {
            height: var(--distance-2-0rem);
            fill: var(--yellow);
          }
        }
        &__text {
          position: relative;
          display: inline;
          font-weight: var(--font-weight-inter-medium);
          font-size: var(--font-size-1-9rem);
          margin-bottom: var(--distance-0-8rem);
          overflow-wrap: anywhere;
          &--unread {
            font-weight: var(--font-weight-inter-semi-bold);
          }
          &--untitled {
            font-style: italic;
            font-weight: var(--font-weight-inter-regular);
          }
        }
      }
      &__note {
        color: var(--text-color-variant);
      }
    }
    &__tags {
      font-family: var(--font-family-inter-tight);
      margin-top: var(--distance-4px);
      padding: 0 var(--distance-16px);
      font-size: var(--font-size-1-5rem);
      margin-bottom: calc(var(--distance-0-5rem) * -1);
      > * {
        padding-right: var(--distance-0-8rem);
        padding-bottom: var(--distance-0-5rem);
      }
      > span {
        color: var(--text-color-dimmed);
      }
      &__tag {
        > div > span:first-child {
          @include hover {
            @include text-decoration-underline;
          }
        }
        &__name {
          color: var(--green800);
          font-weight: var(--font-weight-inter-medium);
          &--selected {
            color: var(--yellow800);
          }
        }
        &__yields {
          color: var(--text-color-dimmed);
          margin-left: var(--distance-0-4rem);
        }
      }
    }
  }
  &__links {
    display: block;
    &--compact {
      visibility: hidden;
      height: 0;
    }
    &__item {
      display: flex;
      gap: var(--distance-12px);
      justify-content: space-between;
      padding: var(--distance-10px) var(--distance-10px) var(--distance-10px)
        var(--distance-12px);
      background-color: var(--neutral25);
      border-top: var(--border-secondary);
      &:last-of-type {
        @include at992 {
          border-bottom-left-radius: var(--border-radius-12px);
          border-bottom-right-radius: var(--border-radius-12px);
        }
      }
      &__link {
        flex: 1;
        display: flex;
        align-items: center;
        gap: var(--distance-8px);
        overflow: hidden;
        &__site {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: var(--distance-32px);
          height: var(--distance-32px);
          background-color: var(--outlined-button-background);
          border-radius: var(--border-radius-999px);
          border: var(--border-secondary);
          @include transition-150ms(border-color);
          @include hover {
            border-color: var(--border-color-hover);
          }
          > img {
            width: var(--distance-16px);
            height: var(--distance-16px);
          }
          &--highlighted {
            background-color: var(--highlight);
          }
        }
        &__url {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          @include hover {
            > span {
              @include text-decoration-underlinie-thin;
              text-decoration-color: var(--text-color-variant);
            }
          }
          &--dim-visited {
            @include hover {
              &:visited > span {
                text-decoration-color: var(--text-color-dimmed);
              }
            }
          }
          > span {
            color: var(--text-color-normal);
            text-overflow: ellipsis;
            overflow: hidden;
          }
          > span:first-child {
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
          }
          > span:last-child {
            color: var(--text-color-variant);
            font-size: var(--font-size-13px);
            -webkit-line-clamp: 2;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            @include to768 {
              font-family: var(--font-family-inter-tight);
            }
            @include at1200 {
              -webkit-line-clamp: 1;
            }
          }
          &--dim-visited:visited > span {
            color: var(--text-color-dimmed);
            text-decoration-color: rgba(115, 115, 115, 0.3);
          }
        }
      }
      &__actions {
        display: flex;
        align-items: center;
        gap: var(--distance-4px);
        &__open {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: var(--border-radius-999px);
          @include transition-150ms(background-color);
          width: var(--button-dimension-28px);
          height: var(--button-dimension-28px);
          svg {
            fill: var(--neutral500);
            @include transition-150ms(fill);
            width: var(--icon-dimension-12px);
            height: var(--icon-dimension-12px);
          }
          @include hover {
            background: var(--neutral200);
            svg {
              fill: var(--neutral600);
            }
          }
        }
        &__menu {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: var(--border-radius-999px);
          @include transition-150ms(background-color);
          width: var(--button-dimension-28px);
          height: var(--button-dimension-28px);
          svg {
            fill: var(--neutral400);
            @include transition-150ms(fill);
            height: var(--icon-dimension-16px);
          }
          @include hover {
            background: var(--neutral200);
            svg {
              fill: var(--neutral600);
            }
          }
        }
        &__public-saves {
          margin-right: 8px;
          color: var(--text-color-dimmed);
          font-size: var(--font-size-13px);
          @include hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.highlight {
  background-color: var(--highlight);
}
