// @type
@use '../../../../../../styles/foundation' as *;

.container {
  background-color: var(--header-background);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: var(--button-dimension-48px);
  border-top: var(--border-primary);
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--button-dimension-48px);
  height: 100%;
  @include transition-150ms(background-color);
  @include hover {
    > svg:first-child {
      opacity: 0;
    }
    > svg:last-child {
      opacity: 1;
    }
  }
  > svg {
    fill: var(--black);
    height: var(--icon-dimension-20px);
    @include transition-150ms(opacity);
  }
  > svg:last-child {
    position: absolute;
    opacity: 0;
  }
}
