// @type
@use '../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--distance-16px);
  padding-right: var(--distance-10px);
  border-bottom: var(--border-primary);
  height: var(--header-mobile-height);
  background-color: var(--header-background);
}
