// @type
@use '../../../../styles/foundation' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  border: var(--border-secondary);
  overflow: hidden;
  position: relative;
  @include transition-150ms(border-color);
  width: var(--button-dimension-40px);
  height: var(--button-dimension-40px);
  background: var(--ButtonOutlined-icon-background);
  @include hover {
    border-color: var(--border-color-hover);
  }
  svg {
    width: var(--icon-dimension-20px);
    height: var(--icon-dimension-20px);
  }
}
