// @type
@use '../../../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--app-bar-height);
  border-bottom: var(--border-primary);
  background: var(--header-transparent-background);
  backdrop-filter: var(--backdrop-filter);
  box-sizing: content-box;
}
.icon {
  display: flex;
  align-items: center;
  width: var(--app-bar-height);
  align-self: stretch;
  &--left {
    padding-left: var(--distance-16px);
    svg {
      width: var(--icon-dimension-21px);
      height: var(--icon-dimension-21px);
    }
  }
  &--right {
    padding-right: var(--distance-16px);
    justify-content: flex-end;
    svg {
      width: var(--icon-dimension-28px);
      height: var(--icon-dimension-28px);
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--TitleBar-background-mobile);
  padding: var(--distance-4px) var(--distance-24px) var(--distance-3px)
    var(--distance-24px);
  border-radius: var(--border-radius-999px);
  &__primaryText {
    font-family: var(--font-family-plus-jakarta-sans);
    color: var(--TitleBar-primary-foreground);
    font-size: var(--font-size-20px);
    font-weight: var(--font-weight-plus-jakarta-sans-bold);
    line-height: 1.25;
  }
  &__secondaryText {
    color: var(--TitleBar-secondary-foreground);
    font-size: var(--font-size-13px);
  }
}
