// @type
@use '../../../../styles/foundation' as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - var(--distance-80px));
  width: 100vw;
  @include at768 {
    width: 768px;
  }
  @include at992 {
    width: 900px;
  }
  &__header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__content {
    overflow: auto;
    position: relative;
    scrollbar-width: none;
    @include to992 {
      padding-top: var(--header-mobile-height);
    }
    @include at992 {
      padding-top: var(--distance-54px);
      margin: 0 auto;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &__inner {
      display: flex;
      flex-direction: column;
      gap: var(--distance-16px);
      padding: var(--distance-16px);
      width: 100%;
      @include at992 {
        gap: var(--distance-40px);
        padding: var(--distance-40px) 0;
        width: 630px;
      }
    }
  }
  &__footer {
    z-index: 1;
    width: 100%;
  }
}
