// @type
@use '../../../../styles/foundation' as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: calc(80svh);
  width: 100vw;
  @include at768 {
    width: calc(100vw - var(--distance-80px));
    max-height: calc(100svh - var(--distance-80px));
  }
  @include at992 {
    width: 900px;
  }
  &__header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__content {
    width: 100%;
    overflow: auto;
    position: relative;
    scrollbar-width: none;
    padding-top: var(--header-mobile-height);
    @include at992 {
      padding-top: var(--distance-52px);
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &::before {
      position: absolute;
      content: '';
      height: var(--distance-52px);
      top: 0;
      left: 0;
      right: 0;
      background: var(--header-background);
      height: var(--header-mobile-height);
      @include at992 {
        height: var(--distance-52px);
      }
    }
    &__inner {
      display: flex;
      flex-direction: column;
      gap: var(--distance-16px);
      padding: var(--distance-16px) 0;
      @include at768 {
        padding: var(--distance-16px);
      }
      @include at992 {
        margin: 0 auto;
        gap: var(--distance-24px);
        padding: var(--distance-24px) 0;
        width: 630px;
      }
    }
  }
  &__footer {
    z-index: 1;
    width: 100%;
  }
}
