// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--border-primary);
  background: var(--header-background);
  height: 46px;
  @include at992 {
    height: 52px;
  }
}
.title {
  color: var(--color-text--normal);
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-bold);
  letter-spacing: var(--letter-spacing-logo);
  font-size: var(--font-size-22px);
  @include at992 {
    font-size: var(--font-size-24px);
  }
}
