// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-primary);
  background: var(--header-transparent-background);
  backdrop-filter: var(--backdrop-filter);
  height: var(--header-mobile-height);
  padding: 0 var(--distance-12px) 0 var(--distance-16px);
  @include at992 {
    height: var(--distance-52px);
    padding: 0 var(--distance-20px) 0 var(--distance-40px);
  }
}
.title {
  color: var(--color-text--normal);
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-bold);
  letter-spacing: var(--letter-spacing-logo);
  font-size: var(--font-size-22px);
  @include at992 {
    font-size: var(--font-size-24px);
  }
}
