// @type
@use '../../../styles/foundation' as *;

.link {
  position: relative;
  padding-right: 24px;
  height: var(--button-dimension-48px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 0;
    background-color: var(--transparent-hover-background);
    opacity: 0;
  }
  @include hover {
    &::before {
      opacity: 1;
    }
  }
  &::after {
    position: absolute;
    content: '';
    height: 20px;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(100%);
    $bar-width: 3px;
    width: $bar-width;
    border-top-left-radius: $bar-width;
    border-bottom-left-radius: $bar-width;
  }
  &--active {
    &::after {
      background: var(--accent-color);
      transform: translateY(-50%) translateX(0);
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    font-size: var(--font-size-18px);
    &::before {
      content: attr(title);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    > span {
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      font-weight: var(--font-weight-inter-medium);
      color: transparent;
    }
    &--active {
      &::before {
        color: transparent;
      }
      > span {
        color: inherit;
      }
    }
    &:disabled {
      pointer-events: none;
      &::before {
        color: var(--text-color-dimmed);
      }
      > span {
        color: transparent;
      }
    }
  }
}
