// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  row-gap: var(--padding-24px);
}
.group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--padding-6px);
  row-gap: var(--padding-8px);
  align-items: center;
}
.first-char {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
  color: var(--brand-color);
  width: 22px;
  margin-right: 2px;
  &::before {
    content: '';
    background: var(--blue100);
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: -1;
    border-radius: var(--border-radius-999px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.tag {
  display: inline-flex;
  gap: 4px;
  font-family: var(--font-family-inter-tight);
  font-size: var(--font-size-1-4rem);
  display: inline;
  overflow-wrap: anywhere;
  text-align: left;
  span:first-child {
    color: var(--green800);
    @include hover {
      @include text-decoration-underlinie-thin;
    }
  }
  span:last-child {
    color: var(--text-color-dimmed);
  }
}
