// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  row-gap: var(--padding-16px);
}
.group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
  row-gap: 5px;
  align-items: center;
}
.first-char {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
  color: var(--accent-color);
  @include dark {
    color: var(--blue600);
  }
  width: 22px;
  margin-right: 2px;
  &::before {
    content: '';
    background: var(--blue100);
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: -1;
    border-radius: var(--border-radius-999px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include dark {
      background-color: var(--dark200);
    }
  }
}
.tag {
  display: flex;
  align-items: center;
  padding: 0 var(--padding-8px);
  gap: 4px;
  font-family: var(--font-family-inter-tight);
  overflow-wrap: anywhere;
  text-align: left;
  height: 24px;
  font-size: 13px;
  border-radius: var(--border-radius-999px);
  color: var(--green600);
  background-color: var(--green100);
  @include dark {
    color: var(--green400);
    background-color: var(--green900);
  }
  @include transition-150ms(background-color);
  @include hover {
    background-color: var(--green200);
    @include dark {
      background-color: var(--green800);
    }
  }
  > span:first-child {
    font-weight: var(--font-weight-inter-tight-medium);
  }
  > span:last-child {
    opacity: 0.8;
  }
}
