// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  row-gap: var(--distance-16px);
}
.group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--distance-6px);
  row-gap: var(--distance-8px);
  align-items: center;
}
.first-char {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: var(--font-size-14px);
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
  color: var(--Tags-first-char-foregrouond);
  width: var(--distance-22px);
  margin-right: var(--distance-2px);
  &::before {
    content: '';
    background: var(--Tags-first-char-background);
    position: absolute;
    width: var(--distance-24px);
    height: var(--distance-24px);
    z-index: -1;
    border-radius: var(--border-radius-999px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.tag {
  display: inline-flex;
  gap: var(--distance-4px);
  font-family: var(--font-family-inter-tight);
  font-size: var(--font-size-1-4rem);
  display: inline;
  overflow-wrap: anywhere;
  text-align: left;
  span:first-child {
    color: var(--green800);
    @include hover {
      @include text-decoration-underlinie-thin;
    }
  }
  span:last-child {
    color: var(--text-color-dimmed);
  }
}
