// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  gap: var(--padding-2px);
}

.button {
  --size: var(--button-size-34px);
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  cursor: pointer;
  &:disabled {
    cursor: default;
    opacity: var(--dimmed-opacity);
  }
  @include hover {
    background-color: var(--neutral200);
  }
  &:first-child {
    > svg {
      transform: rotate(90deg) translateY(1px);
    }
  }
  &:last-child {
    > svg {
      transform: rotate(-90deg) translateY(1px);
    }
  }
  > svg {
    width: 14px;
  }
}
