// @type

.container {
  display: flex;
  gap: var(--padding-2px);
  align-items: center;
}

.button {
  --size: var(--button-size-34px);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  cursor: pointer;
  @include hover {
    background-color: var(--neutral200);
    &:disabled {
      background-color: unset;
    }
  }
  &:disabled {
    // We don't use "pointer events: none" because it causes unexpected text selections on repeated clicks
    cursor: default;
    opacity: var(--dimmed-opacity);
  }
  &:first-of-type {
    > svg {
      transform: rotate(90deg) translateY(1px);
    }
  }
  &:last-of-type {
    > svg {
      transform: rotate(-90deg) translateY(1px);
    }
  }
  > svg {
    width: 14px;
  }
}

.timestamp {
  font-size: 12px;
  color: var(--text-color-dimmed);
  margin-right: var(--padding-4px);
  text-align: right;
}
