// @type
@use '../../../../styles/foundation' as *;

.container {
  height: var(--bottom-navigation-bar-height);
  border-top: var(--border-primary);
  background-color: var(--plain-white);
  display: flex;
}
.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--distance-2px);
  height: 100%;
  &__button {
    padding: var(--distance-4px) var(--distance-8px) 0 var(--distance-8px);
    height: 100%;
    > svg {
      height: var(--icon-dimension-20px);
    }
    &__label {
      font-size: var(--font-size-13px);
      &--active {
        font-weight: var(--font-weight-inter-medium);
      }
    }
  }
}
