// @type
@use '../../../../styles/foundation' as *;

.container {
  height: var(--bottom-navigation-bar-height);
  border-top: var(--border-primary);
  background: var(--BottomNavigationBar-background);
  display: flex;
  justify-content: space-around;
  box-sizing: content-box;
  button {
    width: var(--button-dimension-48px);
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      height: var(--distance-23px);
    }
    &:nth-child(1) svg {
      height: var(--distance-24px);
    }
  }
}
