// @type
@use '../../../../styles/foundation' as *;

.container {
  height: var(--bottom-navigation-bar-height);
  border-top: var(--border-primary);
  background-color: var(--plain-white);
  display: flex;
  align-items: center;
}
.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--distance-2px);
  margin-top: var(--distance-4px);
  > svg {
    height: var(--icon-dimension-20px);
  }
  &__label {
    font-size: var(--font-size-13px);
    &--active {
      font-weight: var(--font-weight-inter-medium);
    }
  }
}
