// @type
@use '../../../../styles/foundation' as *;

.container {
  --_aside-width: 26vw;
  @include at1200 {
    --_aside-width: 300px;
  }
  position: relative;
}
.mobile-title-bar {
  @include to992 {
    position: fixed;
    top: var(--header-mobile-height);
    width: 100%;
    z-index: 2;
    transition: transform 40ms linear;
  }
  @include at992 {
    display: none;
  }
  &::after {
    @include transition-300ms(opacity);
    position: absolute;
    content: '';
    background-color: var(--background);
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
  }
  &--dimmed::after {
    opacity: var(--dimmed-opacity);
  }
  &__inner {
    @include transition-300ms(transform);
    &--scrolled {
      transform: translateY(-100%);
    }
  }
}
.toolbar {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2;
  width: 100%;
  bottom: var(--bottom-navigation-bar-height);
  @include to992 {
    transition: transform 40ms linear;
  }
  @include at992 {
    bottom: var(--distance-24px);
  }
  > div {
    @include transition-300ms(opacity);
    @include to992 {
      padding: var(--distance-16px) 0 var(--distance-8px) 0;
    }
  }
  &--dimmed > div {
    opacity: var(--dimmed-opacity);
  }
}
.content {
  @include at992 {
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 var(--distance-16px);
    @include at1200 {
      padding: 0 var(--distance-40px);
    }
    &::before {
      top: 0;
      left: 0;
      width: 100vw;
      content: '';
      height: var(--header-desktop-height);
      background: var(--header-background);
      position: fixed;
    }
  }
}
.sidebar {
  @include to992 {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    padding-top: var(--header-mobile-height);
    padding-bottom: var(--bottom-navigation-bar-height);
  }
  @include at992 {
    width: var(--_aside-width) !important;
  }
  &--hidden {
    @include to992 {
      visibility: hidden;
      pointer-events: none;
    }
  }
  &__inner {
    @include to992 {
      height: 100%;
      overflow: auto;
      background: var(--background);
      padding: var(--distance-8px) var(--distance-17px) var(--distance-16px)
        var(--distance-16px);
    }
    @include at992 {
      height: calc(100vh - var(--header-desktop-height));
      top: var(--header-desktop-height);
      position: fixed;
      overflow: auto;
      padding: var(--distance-16px) var(--distance-16px) var(--distance-16px) 0;
    }
    @include at1200 {
      padding: var(--distance-16px) var(--distance-32px) var(--distance-16px) 0;
    }
  }
}
.main {
  @include to992 {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    padding-top: var(--header-mobile-height);
    background: var(--background);
    transition: transform 40ms linear;
    &::before {
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
      box-shadow: -1px 0 0 0 var(--border-color-primary);
      position: absolute;
    }
    &::after {
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      box-shadow: 1px 0 0 0 var(--border-color-primary);
      position: absolute;
    }
  }
  @include at992 {
    flex: 1;
    transform: translateX(0px) !important;
    margin-top: var(--header-desktop-height);
  }
  &__inner {
    @include to992 {
      position: relative;
      padding-top: var(--app-bar-height);
      padding-bottom: var(--bottom-navigation-bar-height);
      @include transition-300ms(opacity);
      &::before {
        position: absolute;
        content: '';
        height: var(--app-bar-height);
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: var(--header-background);
      }
    }
    &--dimmed {
      @include to992 {
        opacity: var(--dimmed-opacity);
      }
    }
    &__search {
      position: sticky;
      display: flex;
      z-index: 2;
      top: calc(var(--app-bar-height) + var(--header-mobile-height));
      @include at992 {
        top: var(--header-desktop-height);
      }
      @include transition-300ms(transform);
      @include at992 {
        transform: none !important;
      }
      &--scrolled {
        transform: translateY(calc(var(--app-bar-height) * -1));
      }
    }
    &__skeleton {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 0;
      @include to992 {
        gap: var(--distance-8px);
      }
      @include at992 {
        gap: var(--distance-16px);
      }
      > span > span {
        height: 160px;
        @include at992 {
          height: 134px;
          border-radius: var(--border-radius-12px);
        }
      }
    }
    &__bookmarks--loading {
      opacity: var(--opacity-loading);
      pointer-events: none;
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: var(--distance-8px);
      justify-content: center;
      align-items: center;
      text-align: center;
      color: var(--text-color-dimmed);
      width: 100%;
      font-size: var(--font-size-13px);
      padding: 0 var(--distance-16px);
      margin-bottom: 44px;
      height: 200px;
      @include at992 {
        margin-bottom: 76px;
        height: 300px;
      }
      button {
        @include hover {
          @include text-decoration-underline;
        }
      }
    }
  }
}
.aside {
  @include to992 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100lvh;
    padding-top: var(--header-mobile-height);
    padding-bottom: var(--bottom-navigation-bar-height);
  }
  @include at992 {
    margin-top: var(--header-desktop-height);
    width: var(--_aside-width) !important;
  }
  &--hidden {
    @include to992 {
      visibility: hidden;
      pointer-events: none;
    }
  }
  &__inner {
    height: 100%;
    @include to992 {
      overflow: auto;
      background: var(--Library-background);
      padding-bottom: calc(100lvh - 100svh);
    }
    &__stickybox {
      @include at992 {
        height: 100%;
      }
      > div {
        @include to992 {
          padding: 0 var(--distance-16px) var(--distance-16px)
            var(--distance-17px);
          // Overrides inline values coming from stickybox.
          position: relative !important;
          top: 0 !important;
        }
        @include at992 {
          padding: var(--distance-16px) 0 var(--distance-16px)
            var(--distance-16px);
        }
        @include at1200 {
          padding: var(--distance-16px) 0 var(--distance-16px)
            var(--distance-32px);
        }
      }
    }
  }
}
.free-fall {
  @include transition-300ms(transform);
}
