// @type
@use '../../../../styles/foundation' as *;

.container {
  --_aside-width: 26vw;
  --_collapsed_aside_width: 58px;
  --_collapsed_hovered_aside_width: calc(
    var(--_collapsed_aside_width) + var(--distance-4px)
  );
  @include at1200 {
    --_aside-width: 300px;
  }
  position: relative;
}
.toolbar {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2;
  width: 100%;
  bottom: var(--bottom-navigation-bar-height);
  pointer-events: none;
  @include at992 {
    bottom: var(--distance-24px);
  }
  > div {
    pointer-events: all;
    @include to992 {
      padding: var(--distance-16px) 0 var(--distance-8px) 0;
    }
  }
}
.content {
  @include at992 {
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 var(--distance-16px);
    @include at1200 {
      padding: 0 var(--distance-40px);
    }
    &::before {
      top: 0;
      left: 0;
      width: 100vw;
      content: '';
      height: var(--header-desktop-height);
      background: var(--header-background);
      position: fixed;
    }
  }
}
.sidebar {
  @include to992 {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    padding-top: var(--header-mobile-height);
    padding-bottom: var(--bottom-navigation-bar-height);
  }
  @include at992 {
    width: var(--_aside-width);
    @include transition-250ms(width);
    position: relative;
  }
  &--hidden {
    @include to992 {
      visibility: hidden;
      pointer-events: none;
    }
  }
  &--collapsed {
    width: var(--_collapsed_aside_width);
  }
  &__inner {
    width: 100%;
    @include to992 {
      height: 100%;
      overflow: auto;
      background: var(--background);
      padding: var(--distance-8px) var(--distance-17px)
        calc(var(--distance-16px) + 36px + 8px) var(--distance-16px);
    }
    @include at992 {
      position: relative;
      width: var(--_aside-width) !important;
      height: calc(100vh - var(--header-desktop-height));
      top: var(--header-desktop-height);
      position: fixed;
      padding-top: var(--distance-16px);
      padding-right: var(--distance-16px);
    }
    @include at1200 {
      padding-top: var(--distance-16px);
      padding-right: var(--distance-32px);
    }
    &__desktop-actions {
      @include to992 {
        display: none;
      }
      height: var(--distance-52px);
      display: flex;
      align-items: center;
      margin-bottom: var(--distance-16px);
      &__collapse-button {
        display: flex;
        align-items: center;
        width: var(--distance-42px);
        height: var(--button-dimension-40px);
        > svg {
          fill: var(--brand-color);
        }
        > svg:first-child {
          height: var(--distance-20px);
        }
        > svg:last-child {
          height: var(--distance-12px);
          margin-left: 4px;
          @include transition-250ms(transform);
        }
        @include hover {
          > svg:last-child {
            transform: translateX(-2px);
          }
        }
        &--collapsed {
          > svg:last-child {
            transform: ScaleX(-1);
          }
          @include hover {
            > svg:last-child {
              transform: ScaleX(-1) translateX(-2px);
            }
          }
        }
      }
      &__welcome-text {
        padding-left: var(--distance-8px);
      }
    }
    &__tag-hierarchies {
      @include at992 {
        position: relative;
        border-top: var(--border-secondary);
        overflow: auto;
        padding-top: var(--distance-8px);
        padding-bottom: var(--distance-16px);
        height: calc(
          100vh - var(--header-desktop-height) - var(--distance-16px) -
            var(--search-desktop-height) - var(--distance-16px)
        );
      }
      @include at992 {
        @include transition-250ms(opacity);
        &::after {
          pointer-events: none;
          opacity: 0;
          @include transition-250ms;
          background-image: linear-gradient(
            to right,
            transparent,
            var(--background) 80px
          );
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
        }
      }
      &--collapsed {
        > div {
          @include at992 {
            opacity: 0.4;
            @include transition-250ms(opacity);
          }
        }
        @include at992 {
          overflow: hidden;
          &::after {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
      &--collapsed-hovered {
        > div {
          opacity: 1;
        }
      }
    }
  }
}
.main {
  @include to992 {
    background: var(--background);
    min-height: 100vh;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
      box-shadow: -1px 0 0 0 var(--border-color-secondary);
      position: absolute;
    }
    &::after {
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      box-shadow: 1px 0 0 0 var(--border-color-secondary);
      position: absolute;
    }
  }
  @include at992 {
    flex: 1;
    transform: translateX(0px) !important;
    margin-top: var(--header-desktop-height);
  }

  &__inner {
    @include to992 {
      padding-top: var(--header-mobile-height);
      padding-bottom: var(--bottom-navigation-bar-height);
      @include transition-150ms(opacity);
    }
    @include at992 {
      background: var(--background);
      @include transition-250ms(transform);
      transform-origin: right;
    }
    &--collapsed-sidebar-hovered {
      @include at992 {
        transform: scaleX(0.98);
      }
    }
    &--dimmed {
      @include to992 {
        opacity: var(--dimmed-opacity);
      }
    }
    &__sticky {
      position: sticky;
      z-index: 2;
      top: var(--header-mobile-height);
      @include at992 {
        top: calc(var(--header-desktop-height) + var(--distance-16px));
      }
      @include transition-150ms(transform);
      @include at992 {
        transform: none !important;
      }
      &--scrolled {
        transform: translateY(calc(var(--app-bar-height) * -1));
      }
      &__mobile-title-bar {
        @include at992 {
          display: none;
        }
      }
      &__search {
        font-size: inherit;
      }
    }
    &__skeleton {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 0;
      @include to992 {
        gap: var(--distance-8px);
      }
      @include at992 {
        gap: var(--distance-16px);
      }
      > span > span {
        height: 160px;
        @include at992 {
          height: 145px;
          border-radius: var(--border-radius-12px);
        }
      }
    }
    &__pinned {
      @include to992 {
        margin-bottom: var(--distance-8px);
        padding: 0 var(--distance-12px);
      }
      @include at992 {
        margin-bottom: var(--distance-16px);
      }
    }
    &__bookmarks--loading {
      opacity: var(--opacity-loading);
      pointer-events: none;
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: var(--distance-8px);
      justify-content: center;
      align-items: center;
      text-align: center;
      color: var(--text-color-dimmed);
      width: 100%;
      font-size: var(--font-size-13px);
      padding: 0 var(--distance-16px);
      margin-bottom: 44px;
      height: 200px;
      @include at992 {
        margin-bottom: 76px;
        height: 300px;
      }
      button {
        @include hover {
          @include text-decoration-underline;
        }
      }
    }
  }
}
.aside {
  @include to992 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: var(--header-mobile-height);
    padding-bottom: var(--bottom-navigation-bar-height);
  }
  @include at992 {
    margin-top: var(--header-desktop-height);
    width: var(--_aside-width) !important;
  }
  &--hidden {
    @include to992 {
      visibility: hidden;
      pointer-events: none;
    }
  }
  &__inner {
    height: 100%;
    @include to992 {
      overflow: auto;
      background: var(--Library-background);
    }
    &__stickybox {
      @include at992 {
        height: 100%;
      }
      > div {
        @include to992 {
          padding: 0 var(--distance-16px)
            calc(var(--distance-16px) + 36px + 12px) var(--distance-17px);
          // Overrides inline values coming from stickybox.
          position: relative !important;
          top: 0 !important;
        }
        @include at992 {
          padding: var(--distance-16px) 0 var(--distance-16px)
            var(--distance-16px);
        }
        @include at1200 {
          padding: var(--distance-16px) 0 var(--distance-16px)
            var(--distance-32px);
        }
      }
    }
  }
}
.free-fall {
  @include transition-250ms(transform);
}
