// @type
@use '../../../../styles/foundation' as *;

.container {
  position: relative;
}
.mobile-title-bar {
  @include to992 {
    position: fixed;
    top: var(--header-mobile-height);
    width: 100%;
    z-index: 2;
    transition: transform 30ms linear;
  }
  @include at992 {
    display: none;
  }
}
.content {
  @include at992 {
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 var(--distance-16px);
    @include at1200 {
      padding: 0 var(--distance-40px);
    }
    &::before {
      top: 0;
      left: 0;
      width: 100vw;
      content: '';
      height: var(--header-desktop-height);
      background: var(--header-background);
      position: fixed;
    }
  }
}
.sidebar {
  @include to992 {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    padding-top: var(--header-mobile-height);
    padding-bottom: var(--bottom-navigation-bar-height);
  }
  &--hidden {
    @include to992 {
      visibility: hidden;
      pointer-events: none;
    }
  }
  &__inner {
    @include to992 {
      height: 100%;
      overflow: auto;
      background: var(--background);
      padding: var(--distance-8px) var(--distance-17px) var(--distance-16px)
        var(--distance-16px);
    }
    @include at992 {
      height: calc(100vh - var(--header-desktop-height));
      top: var(--header-desktop-height);
      position: fixed;
      overflow: auto;
      padding: var(--distance-16px) var(--distance-16px) var(--distance-16px) 0;
    }
    @include at1200 {
      padding: var(--distance-16px) var(--distance-32px) var(--distance-16px) 0;
    }
  }
}
.main {
  @include to992 {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    padding-top: var(--header-mobile-height);
    background: var(--background);
    transition: transform 30ms linear;
    &::before {
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
      box-shadow: -1px 0 0 0 var(--border-color-primary);
      position: absolute;
    }
    &::after {
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      box-shadow: 1px 0 0 0 var(--border-color-primary);
      position: absolute;
    }
  }
  @include at992 {
    flex: 1;
    transform: translateX(0px) !important;
    margin-top: var(--header-desktop-height);
  }
  &__inner {
    @include to992 {
      position: relative;
      padding-top: var(--app-bar-height);
      padding-bottom: var(--bottom-navigation-bar-height);
      &::before {
        position: absolute;
        content: '';
        height: var(--app-bar-height);
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: var(--header-background);
      }
    }
    &__desktop-title-bar {
      @include to992 {
        display: none;
      }
    }
    &__skeleton {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 0;
      @include to992 {
        gap: var(--distance-8px);
      }
      @include at992 {
        gap: var(--distance-16px);
      }
      > span > span {
        height: 158px;
        @include at992 {
          height: 136px;
          border-radius: var(--border-radius-12px);
        }
      }
    }
    &__bookmarks {
      @include to992 {
        margin-top: var(--distance-8px);
      }
      > div {
        @include to992 {
          margin-bottom: var(--distance-8px);
        }
        @include at992 {
          margin-bottom: var(--distance-16px);
        }
      }
      &--loading {
        opacity: 0.5;
        pointer-events: none;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: var(--distance-8px);
      justify-content: center;
      align-items: center;
      color: var(--text-color-dimmed);
      width: 100%;
      font-size: var(--font-size-13px);
      @include to992 {
        height: 20vh;
      }
      @include at992 {
        height: 36vh;
      }
      button {
        @include hover {
          @include text-decoration-underline;
        }
      }
    }
  }
}
.aside {
  @include to992 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100svh;
    padding-top: var(--header-mobile-height);
    padding-bottom: var(--bottom-navigation-bar-height);
  }
  @include at992 {
    margin-top: var(--header-desktop-height);
  }
  &--hidden {
    @include to992 {
      visibility: hidden;
      pointer-events: none;
    }
  }
  &__inner {
    height: 100%;
    @include to992 {
      overflow: auto;
      background: var(--Library-background);
    }
    &__stickybox {
      @include at992 {
        height: 100%;
      }
      > div {
        @include to992 {
          padding: var(--distance-8px) var(--distance-16px) var(--distance-16px)
            var(--distance-17px);
          // Overrides inline values coming from stickybox.
          position: relative !important;
          top: 0 !important;
        }
        @include at992 {
          padding: var(--distance-16px) 0 var(--distance-16px)
            var(--distance-16px);
        }
        @include at1200 {
          padding: var(--distance-16px) 0 var(--distance-16px)
            var(--distance-32px);
        }
      }
    }
  }
}

.free-fall {
  transition: transform 200ms ease-in-out;
}
