// @type
@use '../../../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--app-bar-height);
  border-bottom: var(--border-primary);
  background: var(--header-transparent-background);
  backdrop-filter: var(--backdrop-filter);
  box-sizing: content-box;
}
.icon {
  display: flex;
  align-items: center;
  padding: 0 var(--distance-16px);
  align-self: stretch;
  &--left {
    & > div > svg {
      width: var(--icon-dimension-20px);
      height: var(--icon-dimension-20px);
    }
  }
  &--right {
    & > div > svg {
      width: var(--icon-dimension-28px);
      height: var(--icon-dimension-28px);
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--title-bar-background-mobile);
  padding: var(--distance-4px) var(--distance-24px) var(--distance-3px)
    var(--distance-24px);
  border-radius: var(--border-radius-999px);
  &__primaryText {
    font-family: var(--font-family-plus-jakarta-sans);
    color: var(--title-bar-primary-foreground);
    font-size: var(--font-size-18px);
    font-weight: var(--font-weight-plus-jakarta-sans-bold);
    line-height: 1.3;
  }
  &__secondaryText {
    color: var(--title-bar-secondary-foreground);
    font-size: var(--font-size-13px);
  }
}
