// @type
@use '../../../styles/foundation' as *;

.navigation {
  display: flex;
  gap: var(--distance-24px);
  @include at1200 {
    gap: var(--distance-40px);
  }
  &__item {
    font-family: var(--font-family-plus-jakarta-sans);
    font-weight: var(--font-weight-plus-jakarta-sans-semi-bold);
    @include transition-100ms(color);
    @include hover {
      color: var(--landing-navigation-item-foreground-hover);
    }
    @include at992 {
      font-size: var(--font-size-20px);
    }
    @include at1200 {
      font-size: var(--font-size-22px);
    }
    &--active {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        background-color: var(
          --landing-navigation-item-active-indicator-background
        );
        width: var(--distance-6px);
        height: var(--distance-6px);
        left: 50%;
        bottom: 0;
        transform: translateX(-50%) translateY(var(--distance-14px));
        border-radius: var(--border-radius-999px);
      }
    }
  }
}
