// @type
@use '../../../../styles/foundation' as *;

.container {
  background: var(--header-background);
  border-bottom: var(--border-primary);
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 30px 0 70px 0;
  --gradient-color: var(--blue50);
  @include dark {
    --gradient-color: var(--dark200);
  }
  background: radial-gradient(
    circle at 50% 80%,
    var(--gradient-color) 0%,
    transparent 50%
  );
  @include at768 {
    gap: 15px;
    padding: 50px 0 100px 0;
  }
  @include at992 {
    gap: 20px;
    padding: 40px 0 90px 0;
  }
  @include at1200 {
    gap: 20px;
    padding: 60px 0 120px 0;
  }
  @include at1380 {
    gap: 20px;
    padding: 210px 0 140px 0;
  }
  > h1 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
    font-size: clamp(32px, 9vw, 44px);
    @include at992 {
      font-size: clamp(var(--font-size-55px), 5.5vw, 64px);
    }
  }
  > p {
    white-space: pre-wrap;
    margin: 0 auto;
    font-size: clamp(17px, 4vw, 20px);
    max-width: 90%;
    @include at992 {
      font-size: clamp(22px, 2.1vw, 24px);
    }
    @include at1200 {
      max-width: 900px;
    }
  }
}
