// @type
@use '../../../../../../../styles/foundation' as *;

.container {
  display: flex;
  background-color: var(--background);
  padding: var(--padding-12px) var(--padding-16px);
  span {
    color: var(--text-color-dimmed);
  }
  select {
    flex: 1;
    font-family: unset;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    appearance: auto;
    font-size: var(--font-size-15px);
    color: var(--text-color-normal);
    border-radius: var(--border-radius-8px);
    cursor: pointer;
    &:focus-visible {
      outline: none;
    }
  }
}
