// @type
@use '../../../../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: row;
  gap: var(--padding-2px);
  padding: var(--padding-16px);
  span {
    color: var(--text-color-dimmed);
  }
  select {
    flex: 1;
    font-family: unset;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-15px);
    color: var(--text-color-normal);
    cursor: pointer;
    &:focus-visible {
      outline: none;
    }
  }
}
