// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
}
.back-arrow {
  display: flex;
  align-items: center;
  padding-right: var(--distance-16px);
  padding-left: var(--distance-16px);
  margin-left: calc(var(--distance-16px) * -1);
  height: var(--button-dimension-34px);
  @include at992 {
    padding-right: var(--distance-24px);
    height: var(--button-dimension-40px);
  }
  @include hover {
    svg {
      transform: translateX(-2px);
    }
  }
  svg {
    fill: var(--brand-color);
    @include transition-100ms(transform);
    height: 18px;
    width: 10px;
    @include at992 {
      height: 20px;
      width: 12px;
    }
  }
}
.avatar-and-username {
  display: flex;
  align-items: center;
  &__skeleton {
    width: var(--distance-32px);
    height: var(--distance-32px);
    @include at992 {
      width: var(--distance-40px);
      height: var(--distance-40px);
    }
    > span {
      display: flex;
      height: 100%;
    }
  }
  &__avatar-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    width: var(--distance-32px);
    height: var(--distance-32px);
    @include at992 {
      width: var(--distance-40px);
      height: var(--distance-40px);
    }
    img {
      width: 100%;
      height: 100%;
    }
    &__blurhash {
      position: absolute;
      z-index: -1;
      top: 0;
      > div {
        width: var(--distance-32px) !important;
        height: var(--distance-32px) !important;
        @include at992 {
          width: var(--distance-40px) !important;
          height: var(--distance-40px) !important;
        }
      }
    }
  }
  &__avatar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: var(--UserForHeader-icon-background);
    width: var(--distance-32px);
    height: var(--distance-32px);
    @include at992 {
      width: var(--distance-40px);
      height: var(--distance-40px);
    }
    svg {
      width: var(--icon-dimension-16px);
      height: var(--icon-dimension-16px);
      @include at992 {
        width: var(--icon-dimension-20px);
        height: var(--icon-dimension-20px);
      }
    }
  }
  &__username {
    color: var(--text-color-normal);
    font-family: var(--font-family-plus-jakarta-sans);
    letter-spacing: var(--letter-spacing-logo);
    padding-left: var(--distance-10px);
    font-weight: var(--font-weight-plus-jakarta-sans-semi-bold);
    font-size: var(--font-size-21px);
    margin-bottom: var(--distance-2px);
    @include at992 {
      padding-left: var(--distance-12px);
      font-size: var(--font-size-24px);
      margin-bottom: var(--distance-3px);
    }
  }
}
