// @type
@use '../../../../styles/foundation' as *;

.simplebar {
  position: relative;
  overflow: auto;
  height: calc(100svh - var(--header-mobile-height));
  @include at992 {
    height: calc(
      100svh - var(--header-desktop-height) - var(--padding-16px) -
        var(--search-desktop-height) - var(--padding-16px)
    );
  }
  &__scrolled {
    > div > button {
      @include light {
        box-shadow: var(--box-shadow-strong);
        @include at992 {
          // Our shadow must be shorter so we cover it a little bit
          &::after {
            position: absolute;
            content: '';
            background-color: var(--background);
            right: 0;
            bottom: 0;
            transform: translateY(100%);
            height: 10px;
            width: 10px;
          }
        }
      }
    }
  }
  &__skeleton {
    display: flex;
    flex-direction: column;
    @include to992 {
      padding-top: var(--padding-16px);
      padding-left: var(--padding-16px);
    }
    @include at992 {
      padding-top: 3px;
    }
    > span {
      margin-bottom: 6px;
    }
    > span > span {
      height: 28px;
      border-radius: var(--border-radius-4px);
    }
  }
}
.container {
  width: 100%;
  // Hacky, but needed this way to have sticky "all" button play nicely on mobile
  @include to992 {
    padding-top: 12px;
    > button {
      padding: 0 var(--padding-16px) 0 var(--padding-16px);
    }
    > div {
      margin: 0 var(--padding-16px) 60px var(--padding-12px);
    }
  }
  @include at992 {
    padding-bottom: 14px;
    > * {
      padding-right: 10px;
    }
  }
}
.collapse {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-dimension-34px);
  padding-left: 5px;
  padding-right: 10px;
  svg {
    transform: rotate(-90deg);
    height: 12px;
    fill: var(--accent-color);
  }
  &--collapsed svg {
    transform: rotate(180deg);
  }
}
.tag {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  &__spacer {
    flex-shrink: 0;
    width: 4px;
    height: 4px;
    margin-right: 4px;
    margin-left: 14px;
    border-radius: 50%;
    background-color: var(--accent-color);
    transform: translateX(calc(7px * -1));
  }
  &__button {
    position: relative;
    height: var(--button-dimension-34px);
    display: flex;
    align-items: center;
    width: 100%;
    &--all {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: var(--background);
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--background);
        top: 0;
        left: 0;
        transform: translateY(-100%);
      }
    }
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    > div > span {
      color: var(--text-color-variant);
    }
    > div > span:first-child {
      font-size: var(--font-size-16px);
    }
    > div > span:nth-child(2) {
      font-size: var(--font-size-13px);
      color: var(--text-color-dimmed);
    }
    &--active {
      > div > span:first-child {
        color: var(--text-color-normal);
        font-weight: var(--font-weight-inter-medium);
      }
    }
    &--highlighted {
      > div > span:first-child {
        color: var(--text-color-normal);
      }
    }
  }
}
.drop-zone {
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius-12px);
  @include transition-150ms(opacity);
  border: 1px dashed var(--border-color-primary);
  @include dark {
    border-color: var(--dark400);
  }
  color: var(--text-color-dimmed);
  transition: color var(--transition-duration-150ms)
      var(--transition-timing-function),
    border-color var(--transition-duration-150ms)
      var(--transition-timing-function),
    background-color var(--transition-duration-150ms)
      var(--transition-timing-function);
  padding: 60px var(--padding-16px);
  font-size: var(--font-size-13px);
  text-align: center;
  margin-top: var(--padding-8px);
  margin-right: 10px;
  @include to992 {
    display: none;
  }
  &--slim {
    padding: 0;
    height: var(--button-dimension-34px);
  }
  &--active {
    @include hover {
      color: var(--text-color-variant);
      background-color: var(--neutral200);
      @include dark {
        background-color: var(--dark200);
      }
      border-color: transparent;
    }
  }
}
