// @type
@use '../../../styles/foundation' as *;

.container {
  border-radius: var(--border-radius-10px);
  outline: 1px solid var(--border-color-secondary);
  outline-offset: 3px;
  margin: 4px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  @include transition-150ms(outline-color);
  @include hover {
    outline-color: var(--border-color-primary);
  }
  &--disabled {
    opacity: var(--dimmed-opacity);
    pointer-events: none;
  }
}
.button {
  position: relative;
  flex-grow: 1;
  height: var(--button-dimension-34px);
  color: transparent;
  font-weight: var(--font-weight-inter-medium);
  @include hover {
    &::before {
      color: var(--text-color-normal);
    }
  }
  &::after {
    position: absolute;
    content: '';
    height: 20px;
    width: 1px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    background-color: var(--neutral150);
    @include dark {
      background-color: var(--dark200);
    }
  }
  &--show-separator-after::after {
    opacity: 1;
  }
  &::before {
    content: attr(title);
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: var(--font-weight-inter-regular);
    color: var(--text-color-variant);
  }
  &--selected {
    background-color: var(--white);
    @include dark {
      background-color: var(--dark200);
    }
    box-shadow: var(--box-shadow-strong);
    color: var(--text-color-normal);
    border-radius: var(--border-radius-10px);
    &::before {
      color: transparent !important;
    }
  }
}
