// @type
@use '../../../styles/foundation' as *;

.container {
  border-radius: var(--border-radius-10px);
  outline: 1px solid var(--border-color-secondary);
  outline-offset: 3px;
  margin: 4px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  @include transition-150ms(outline-color);
  @include hover {
    outline-color: var(--border-color-hover);
  }
  &--disabled {
    opacity: var(--dimmed-opacity);
    pointer-events: none;
  }
}
.button {
  flex: auto;
  height: var(--button-dimension-34px);
  color: transparent;
  font-weight: var(--font-weight-inter-medium);
  position: relative;
  color: transparent;
  &::after {
    position: absolute;
    z-index: -1;
    content: '';
    height: 20px;
    width: 1px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--neutral150);
    @include dark {
      background-color: var(--dark200);
    }
    @include transition-250ms(opacity);
    opacity: 0;
  }
  &--show-separator-after::after {
    opacity: 1;
  }
  &::before {
    content: attr(title);
    white-space: nowrap;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: var(--font-weight-inter-regular);
    color: var(--text-color-variant);
  }
  &--selected {
    color: var(--text-color-normal);
    &::before {
      color: transparent;
    }
  }
}
.selection {
  background-color: var(--white);
  @include dark {
    background-color: var(--dark200);
  }
  border-radius: var(--border-radius-10px);
  box-shadow: var(--box-shadow-strong);
  position: absolute;
  height: var(--button-dimension-34px);
  left: 0;
}
