// @type
@use '../../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  &--height {
    height: 100svh;
    min-height: 550px;
    @media (hover: hover) and (pointer: fine) {
      height: 550px;
      min-height: unset;
    }
  }
}
