// @type
@use '../../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border-radius: var(--border-radius-30px);
  box-shadow: var(--box-shadow-long-strong);
  overflow: hidden;
}
