// @type
@use '../../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-primary);
  height: var(--header-mobile-height);
  background: var(--header-background);
  position: relative;
}
.left {
  display: flex;
  height: 100%;
  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 32px;
    margin: 0 12px;
    > svg {
      width: 20px;
    }
  }
}
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
