// @type
@use '../../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border-primary);
  height: var(--header-mobile-height);
  background: var(--header-background);
  position: relative;
}
.left {
  display: flex;
  height: 100%;
  &__menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--button-size-40px);
    height: var(--button-size-40px);
    border-radius: 50%;
    margin: 0 12px;
    > svg {
      width: 20px;
    }
    @include hover {
      background-color: var(--transparent-hover-background);
    }
  }
  &__logo {
    display: flex;
    > svg {
      fill: var(--accent-color);
      height: 39px;
    }
  }
}
.left {
  display: flex;
  align-items: center;
}
