// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  gap: var(--distance-20px);
}
.unread {
  width: var(--icon-dimension-30px);
  height: var(--icon-dimension-30px);
  border-radius: var(--border-radius-999px);
  background-color: var(--neutral200);
  @include at992 {
    width: var(--icon-dimension-32px);
    height: var(--icon-dimension-32px);
  }
  @include hover {
    background-color: var(--red);
    &:not(&.unread--selected) {
      background-color: var(--neutral300);
    }
  }
  &--selected {
    background-color: var(--red);
    filter: drop-shadow(3px 3px 2px rgba(255, 0, 0, 0.08));
  }
}
.stars {
  display: flex;
  transform: translateY(calc(var(--distance-1px) * -1));
  &__star {
    display: flex;
    padding: 0 var(--distance-5px);
    > svg {
      height: var(--icon-dimension-30px);
      width: var(--icon-dimension-30px);
      fill: var(--neutral200);
      @include at992 {
        height: var(--icon-dimension-32px);
        width: var(--icon-dimension-32px);
      }
    }
    &--hover {
      > svg {
        fill: var(--neutral300);
      }
    }
    &--selected {
      opacity: 1;
      > svg {
        fill: var(--yellow);
        filter: drop-shadow(3px 3px 2px rgba(242, 218, 0, 0.2));
      }
    }
  }
}
