// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  gap: var(--distance-20px);
}
.unread {
  width: var(--distance-32px);
  height: var(--distance-32px);
  border-radius: var(--border-radius-999px);
  background-color: var(--neutral200);
  @include hover {
    background-color: var(--red);
    &:not(&.unread--selected) {
      background-color: var(--neutral300);
    }
  }
  &--selected {
    background-color: var(--red);
  }
}
.stars {
  display: flex;
  transform: translateY(calc(var(--distance-1px) * -1));
  &__star {
    display: flex;
    padding: 0 var(--distance-5px);
    > svg {
      height: var(--distance-32px);
      width: var(--distance-32px);
      fill: var(--neutral200);
    }
    &--hover {
      > svg {
        fill: var(--neutral300);
      }
    }
    &--selected {
      opacity: 1;
      > svg {
        fill: var(--yellow);
      }
    }
  }
}
