// @type
@use '../../../../../styles/foundation' as *;

.item {
  display: grid;
  grid-template: 'cover title handle' 'cover toolbar handle' / auto 1fr auto;
  border-bottom: var(--border-secondary);
  &:last-of-type {
    border-bottom: none;
  }
}
.cover {
  grid-area: cover;
  padding: var(--padding-10px);
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-8px);
    overflow: hidden;
    width: 66px;
    height: 50px;
    background-color: #f3f3f3;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    > svg {
      fill: var(--neutral200);
      width: 13px;
    }
  }
}
.title {
  grid-area: title;
}
.toolbar {
  grid-area: toolbar;
}
.handle {
  grid-area: handle;
}
