// @type
@use '../../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-16px);
  padding: var(--padding-24px) var(--padding-16px);
  @include at768 {
    gap: var(--padding-24px);
    padding: var(--padding-32px) var(--padding-40px);
  }
}
