@use 'foundation' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Inter+Tight:wght@500&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

#__next {
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-foreground);
}

html {
  font-size: 62.5%;
  accent-color: var(--brand-color);
  caret-color: var(--brand-color);
  -webkit-tap-highlight-color: transparent;
}

:root {
  @include variables;
  @include colors;
}

:root {
  --plain-white: var(--white);
  --plain-black: var(--neutral950);
  --text-color--normal: var(--neutral900);
  --text-color-variant: var(--neutral600);
  --text-color-dimmed: var(--neutral500);
  --brand-color: var(--blue800);
  --selection-background: var(--blue800);
  --selection-foreground: var(--white);
  --border-color-primary: var(--neutral200);
  --border-color-secondary: var(--neutral100);
  --logo-background: var(--blue800);
  --button-background: var(--blue800);
  --button-background-hover: var(--blue900);
  --button-outlined-icon-background: var(--white);
  --button-outlined-icon-background-hover: var(--neutral50);
  --button-underlined-background-hover: rgba(15, 20, 25, 0.05);
  --border-primary: 1px solid var(--border-color-primary);
  --border-secondary: 1px solid var(--border-color-secondary);
  --header-background: var(--white);
  --header-transparent-background: rgba(255, 255, 255, 0.8);
  --user-for-header-icon-background: var(--neutral100);
  --bottom-navigation-bar-background: var(--white);
  --search-box-background: var(--white);
  --search-box-shadow: 0px 1.5px 5px 2px rgba(0, 0, 0, 0.03);
  --search-box-shadow-hover: 0px 1.5px 5px 2px rgba(0, 0, 0, 0.06);
  --bookmark-background: var(--white);
  --bookmark-link-foreground: var(--blue800);
  --bookmark-site-foreground: var(--amber700);
  --bookmark-tag-border-color: var(--green100);
  --bookmark-tag-background: var(--green50);
  --bookmark-tag-foreground: var(--green600);
  --bookmark-tag-border-color-hover: var(--green200);
  --bookmark-tag-background-hover: var(--green100);
  --bookmark-tag-foreground-hover: var(--green700);
  --bookmark-nsfw-foreground: var(--red600);
  --bookmark-starred-title-foreground: var(--amber200);
  --bookmark-action-fill: var(--neutral400);
  --bookmark-action-fill-hover: var(--plain-black);
  --title-bar-background: var(--blue50);
  --title-bar-primary-foreground: var(--blue800);
  --title-bar-secondary-foreground: var(--blue500);
  --library-background: var(--neutral25);
}

body {
  font-family: var(--font-family-inter);
  line-height: 1.4;
  font-size: 15px;
  color: var(--color-text--normal);
}

body,
h1,
h1,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

ul {
  margin: 0;
  padding-inline-start: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

// Slideout - start
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  @include to992 {
    touch-action: manipulation; // https://github.com/Mango/slideout/issues/205#issuecomment-823927561
    overflow: hidden;
  }
}
.slideout-open .slideout-menu {
  @include to992 {
    display: block;
  }
}
// Slideout - end
