@use 'foundation' as *;

:root {
  @include variables;
  @include colors;

  // Colors
  --white: #fff;
  --black: var(--neutral900);
  --red: var(--red600);
  --yellow: var(--yellow400);
  --highlight: #ffff00;

  // Text
  --text-color-normal: var(--black);
  --text-color-variant: var(--neutral600);
  --text-color-dimmed: var(--neutral500);

  // Accent
  --accent-color: var(--blue700);

  // Shared
  --background: var(--neutral50);
  --selection-background: var(--accent-color);
  --selection-foreground: var(--white);
  --border-color-primary: var(--neutral200);
  --border-color-secondary: var(--neutral100);
  --border-color-hover: var(--neutral300);
  --outlined-button-background: var(--white);
  --border-primary: 1px solid var(--border-color-primary);
  --border-secondary: 1px solid var(--border-color-secondary);
  --border-hover: 1px solid var(--border-color-hover);
  --header-background: var(--white);
  --header-transparent-background: rgba(255, 255, 255, 0.8);

  --skeleton-base-color: var(--neutral100);
  --skeleton-highlight-color: var(--neutral50);

  // Toast overrides
  --toastify-color-success: var(--accent-color);
  --toastify-color-info: var(--accent-color);
  --toastify-color-error: var(--red);
  --toastify-text-color-light: var(--text-color-normal);

  // Context menu overrides
  --context-menu-background-color: transparent;
}

html[data-theme='dark'] {
  // Colors
  --white: var(--dark50);
  --black: var(--dark700);
  --red: var(--red700);
  --yellow: var(--yellow500);
  --highlight: #613214;

  // Text
  --text-color-normal: var(--dark700);
  --text-color-variant: var(--dark600);
  --text-color-dimmed: var(--dark500);

  // Accent
  --accent-color: var(--blue600);

  // Shared
  --background: var(--dark50);
  --selection-background: var(--dark600);
  --selection-foreground: var(--dark50);
  --border-color-primary: var(--dark300);
  --border-color-secondary: var(--dark200);
  --border-color-hover: var(--dark400);
  --outlined-button-background: var(--dark50);
  --header-background: var(--dark100);
  --header-transparent-background: rgba(23, 30, 45, 0.8);

  --skeleton-base-color: var(--dark100);
  --skeleton-highlight-color: var(--dark200);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

html {
  font-size: 62.5%;
  accent-color: var(--accent-color);
  caret-color: var(--black);
  -webkit-tap-highlight-color: transparent;
}

body {
  font: 15px/1.3 var(--font-family-inter);
  color: var(--text-color-normal);
  overflow-y: scroll;
  background-color: var(--background);
  transition: background-color var(--transition-duration-150ms);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

body,
p,
ol,
h1,
h2,
h3,
h4 {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  outline: none;
  font: inherit;
  color: var(--text-color-normal); // iOS
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

input {
  padding: 0;
  border: none;
  background: none;
}

::selection {
  background: var(--selection-background);
  color: var(--selection-foreground);
}

svg {
  fill: var(--black);
}

strong {
  font-weight: var(--font-weight-inter-semi-bold);
}

small {
  font-size: var(--font-size-13px);
  color: var(--text-color-dimmed);
}

mark {
  background-color: var(--highlight);
  color: var(--black);
}

.no-transitions * {
  transition: none !important;
}

// Cursor overrides.
.grabbing * {
  cursor: grabbing;
}
.adding-tag * {
  cursor: copy;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-move-from-top {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move-from-top {
  0% {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

// react-loading-skeleton
@keyframes react-loading-skeleton {
  100% {
    transform: translateX(100%);
  }
}

.react-loading-skeleton {
  --base-color: var(--skeleton-base-color);
  --highlight-color: var(--skeleton-highlight-color);
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block; /* Enable animation */

  background-color: var(--base-color);

  width: 100%;
  border-radius: 0.25rem;
  display: inline-flex;

  position: relative;
  user-select: none;
  overflow: hidden;
  z-index: 1; /* Necessary for overflow: hidden to work correctly in Safari */
}

.react-loading-skeleton::after {
  content: ' ';
  display: var(--pseudo-element-display);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    90deg,
    var(--base-color),
    var(--highlight-color),
    var(--base-color)
  );
  transform: translateX(-100%);

  animation-name: react-loading-skeleton;
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.react-loading-skeleton {
  line-height: inherit;
  --base-color: var(--skeleton-base-color);
  --highlight-color: var(--skeleton-highlight-color);
}

.recharts-brush-texts {
  display: none;
}
.recharts-brush-slide {
  fill-opacity: 0;
}

.sortable-chosen {
  opacity: var(--dimmed-opacity);
  transition-delay: 100ms;
}

.sortable-drag {
  // Fixes pinned fallback , where tansition delay applies and blocks movement.
  transition: none;
}

// !important below set because of a bug: https://github.com/vercel/next.js/issues/13092
.Toastify__progress-bar {
  height: 4px !important;
}
.Toastify__toast-container {
  top: 0 !important;
  padding: 0 !important;
}
.Toastify__toast {
  border-radius: var(--border-radius-12px) !important;
  @include light {
    box-shadow: var(--box-shadow-long-strong) !important;
  }
  @include dark {
    background-color: var(--dark300);
  }
  @include to992 {
    margin: 12px 24px 8px 24px !important;
  }
  @include at992 {
    margin-top: 18px !important;
  }
}
.Toastify__toast-body {
  text-align: center !important;
}

.nestable-item .nestable-list,
.nestable-item-copy .nestable-list {
  margin-top: 0 !important;
}
.nestable .nestable-list {
  padding-left: 0 !important;
  margin-left: 8px !important;
  border-left: var(--border-primary) !important;
}
.nestable > .nestable-list {
  padding-left: 0 !important;
  margin-left: 0 !important;
  border-left: none !important;
}
.nestable > .nestable-list > li {
  margin-left: 0 !important;
}
.nestable-item,
.nestable-item-copy {
  margin: 0 !important;
}
.nestable-item {
  margin-left: 7px !important;
}
.nestable-item.is-dragging::before {
  background: var(--neutral200) !important;
  border: none !important;
  border-radius: var(--border-radius-12px) !important;
}
.nestable-drag-layer {
  visibility: hidden !important;
}

.useContextMenu_ContextMenu {
  overflow: visible !important;
  animation: fade-in var(--transition-duration-150ms)
    var(--transition-timing-function) forwards !important;
}
.simplebar-track.simplebar-vertical {
  width: 9px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  @include dark {
    background-color: var(--dark600);
  }
}

.grecaptcha-badge {
  visibility: hidden !important;
}

// react-slide-sheet
._xHshk {
  z-index: 3;
}
._lVbPX {
  --backdrop: rgba(0, 0, 0, 0.6) !important;
}
._8eLsd {
  max-height: 80svh;
}
._7vsRM,
._ASuX0,
._YZRPO,
._xlcmb {
  padding: 0;
}
._OD8pB {
  border-radius: 0;
}
// footer desktop
._YZRPO {
  border-bottom-left-radius: var(--border-radius-20px);
  border-bottom-right-radius: var(--font-size-20px);
}
// footer
._YZRPO,
._xlcmb {
  box-shadow: none;
  background-color: var(--header-background);
}
// header
._-rIgv,
._9qIhs {
  box-shadow: none !important;
  background-color: var(--header-background);
  border-top-left-radius: var(--border-radius-20px);
  border-top-right-radius: var(--border-radius-20px);
}
// header
._7vsRM,
._ASuX0 {
  background-color: var(--header-background);
  border-top-left-radius: var(--border-radius-20px);
  border-top-right-radius: var(--border-radius-20px);
  box-shadow: var(--box-shadow);
  position: relative !important;
}
// header mobile
._7vsRM {
  border-top-left-radius: var(--border-radius-12px);
  border-top-right-radius: var(--border-radius-12px);
}
// body
._8eLsd,
._vdkQW {
  background-color: transparent;
}
._QLjfS {
  border-radius: 0;
}
._BFrBz {
  --background: inherit;
}