// @type
@use '../../../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-top: var(--border-primary);
  padding: 0 var(--padding-24px);
  gap: var(--padding-4px);
  color: var(--text-color-dimmed);
  > a {
    font-size: var(--font-size-14px);
    color: var(--accent-color);
    @include hover {
      @include text-decoration-underlinie-thin;
    }
    &:visited {
      // Fix for instagram.com
      color: var(--accent-color);
    }
  }
}
