// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  gap: var(--padding-12px);
  @include to768 {
    flex-direction: column;
  }
  @include at768 {
    gap: var(--padding-24px);
  }
}
.label {
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-bold);
  color: var(--accent-color);
  @include dark {
    color: var(--text-color-normal);
  }
  font-size: var(--font-size-20px);
  line-height: 1;
  @include at768 {
    width: 150px;
  }
}
.content {
  flex: 1;
}
