// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  gap: 4px;
  transform: translateY(calc(1px * -1));
  > svg {
    fill: var(--yellow);
    height: var(--icon-dimension-20px);
  }
}
