// @type
@use '../../../../../../../styles/foundation' as *;

.container {
  flex: 1;
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: inset 0px 10px 8px -8px rgba(0, 0, 0, 0.06);
    opacity: 0;
    @include transition-250ms(opacity);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: inset 0px -10px 8px -8px rgba(0, 0, 0, 0.06);
    opacity: 0;
    @include transition-250ms(opacity);
  }
  &--show-top-shadow {
    &::before {
      opacity: 1;
    }
  }
  &--show-bottom-shadow {
    &::after {
      opacity: 1;
    }
  }
}
.prompts {
  display: flex;
  flex-direction: column;
  @include transition-250ms();
  &--disabled {
    pointer-events: none;
    opacity: var(--dimmed-opacity);
  }
  &__heading {
    font-weight: var(--font-weight-inter-medium);
    padding: var(--padding-12px) var(--padding-16px) var(--padding-2px)
      var(--padding-16px);
  }
  &__button {
    display: flex;
    font-weight: var(--font-weight-inter-regular);
    padding: var(--padding-8px) var(--padding-16px) 9px var(--padding-16px);
    position: relative;
    @include transition-150ms(background-color);
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--neutral100);
      @include transition-150ms(opacity);
      opacity: 0;
    }
    @include hover {
      cursor: pointer;
      background-color: var(--neutral100);
      &::before {
        opacity: 1;
      }
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 16px;
      right: 10px;
      height: 1px;
      background-color: var(--border-color-secondary);
      width: calc(100% - 32px);
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
    > sup {
      position: absolute;
      transform: translateX(-100%);
      color: var(--text-color-dimmed);
      font-size: 10px;
      padding-right: 1.5px;
      margin-top: 1px;
    }
    > mark {
      padding: 0; // Fix for some sites.
      color: var(--text-color-normal);
      background-color: var(--highlight);
    }
    > svg {
      display: inline;
      vertical-align: baseline;
      height: 12px;
      padding-right: var(--padding-4px);
      fill: var(--yellow);
    }
    &--clamp {
      > span {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
  }
}
