// @type
@use '../../../../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}
.prompts {
  overflow: auto;
  max-height: 200px;
  padding: var(--padding-12px) var(--padding-16px) var(--padding-12px)
    var(--padding-16px);
  &__inner {
    display: flex;
    gap: var(--padding-8px);
    flex-direction: column;
    align-items: flex-start;
    &--disabled {
      pointer-events: none;
      opacity: var(--dimmed-opacity);
    }
    &--not-available {
      opacity: 0.2;
    }
    &__button {
      font-family: unset;
      font-size: var(--font-size-14px);
      padding: 0;
      padding-right: 2px;
      text-align: left;
      border: none;
      background: none;
      color: var(--text-color-normal);
      font-weight: var(--font-weight-inter-regular);
      height: unset !important;
      line-height: 1.4;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @include hover {
        @include text-decoration-underlinie-thin;
      }
      &:nth-child(odd) {
        font-weight: var(--font-weight-inter-medium);
      }
      &--default {
        &::before {
          content: '*';
        }
      }
    }
  }
}
