// @type
@use '../../../../../../../styles/foundation' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: var(--button-size-40px);
  height: var(--button-size-40px);
  @include hover {
    background-color: var(--transparent-hover-background);
  }
  svg {
    width: var(--icon-dimension-20px);
    height: var(--icon-dimension-20px);
    fill: var(--black);
  }
}
