// @type
@use '../../../../styles/foundation' as *;

.container {
  --_aside-width: 26vw;
  --_collapsed_aside_width: 58px;
  --_collapsed_hovered_aside_width: calc(var(--_collapsed_aside_width) + 4px);
  @include at1200 {
    --_aside-width: 300px;
  }
  position: relative;
}
.toolbar {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2;
  width: 100%;
  bottom: var(--bottom-navigation-bar-height);
  pointer-events: none;
  @include at992 {
    bottom: 24px;
  }
  > div {
    pointer-events: all;
    @include to992 {
      padding: 8px 0;
    }
  }
}
.content {
  @include at992 {
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 16px;
    @include at1200 {
      padding: 0 40px;
    }
    &::before {
      top: 0;
      left: 0;
      width: 100vw;
      content: '';
      height: var(--header-desktop-height);
      background: var(--header-background);
      position: fixed;
    }
  }
}
.sidebar {
  position: relative;
  @include at992 {
    width: var(--_aside-width);
    @include transition-250ms(width);
  }
  &--hidden {
    @include to992 {
      visibility: hidden;
      pointer-events: none;
    }
  }
  &--collapsed {
    width: var(--_collapsed_aside_width);
  }
  &__inner {
    --_pane-selector-height: 40px;
    width: 100%;
    position: fixed;
    top: var(--header-mobile-height);
    @include to992 {
      z-index: 1;
      background: var(--background);
      height: 100vh;
      padding-right: 1px; // Main sheet's border is made of shadow so we need to account for that.
    }
    @include at992 {
      width: var(--_aside-width) !important;
      top: var(--header-desktop-height);
      padding-top: 16px;

      @include transition-250ms(opacity);
      &::after {
        pointer-events: none;
        opacity: 0;
        @include transition-250ms;
        background-image: linear-gradient(
          to right,
          transparent,
          var(--background) 80px
        );
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
      }
    }
    @include at992 {
      padding-right: 6px;
    }
    @include at1200 {
      padding-top: 16px;
      padding-right: 22px;
    }
    &--collapsed {
      > div {
        @include at992 {
          opacity: 0.2;
          @include transition-250ms(opacity);
        }
      }
      @include at992 {
        overflow: hidden;
        &::after {
          opacity: 1;
          pointer-events: all;
          cursor: pointer;
        }
      }
    }
    &--collapsed-hovered {
      > div {
        opacity: 1;
      }
    }
    &__desktop-actions {
      @include to992 {
        display: none;
      }
      height: 52px;
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      @include at992 {
        margin-right: 10px;
      }
      &__collapse-button {
        display: flex;
        align-items: center;
        width: 42px;
        height: var(--button-dimension-40px);
        > svg {
          fill: var(--brand-color);
        }
        > svg:first-child {
          height: 20px;
        }
        > svg:last-child {
          height: 12px;
          margin-left: 4px;
          @include transition-250ms(transform);
        }
        @include hover {
          > svg:last-child {
            transform: translateX(-2px);
          }
        }
        &--collapsed {
          > svg:last-child {
            transform: ScaleX(-1);
          }
          @include hover {
            > svg:last-child {
              transform: ScaleX(-1) translateX(-2px);
            }
          }
        }
      }
      &__welcome-text {
        padding-left: 8px;
      }
    }
    &__pane-selector {
      display: flex;
      gap: 10px;
      @include to992 {
        align-items: center;
        padding: 16px var(--padding-16px) 8px var(--padding-16px);
      }
      @include at992 {
        margin-right: 10px;
        margin-bottom: 4px;
      }
      &__button {
        font-size: var(--font-size-13px);
        color: var(--text-color-variant);
        @include hover {
          color: var(--text-color-normal);
        }
        &--active {
          pointer-events: none;
          font-weight: var(--font-weight-inter-medium);
          color: var(--text-color-normal);
        }
      }
    }
    &__simplebar {
      position: relative;
      overflow: auto;
      height: calc(
        100svh - var(--header-mobile-height) - var(--_pane-selector-height) -
          var(--bottom-navigation-bar-height) - 8px
      );
      @include at992 {
        height: calc(
          100svh - var(--header-desktop-height) - 16px -
            var(--search-desktop-height) - var(--_pane-selector-height)
        );
      }
      &__tag-hierarchies {
        &--scrolled {
          @include at992 {
            padding-bottom: 16px;
          }
          > div > div > button {
            box-shadow: var(--box-shadow-strong);
            @include at992 {
              // Our shadow must be shorter so we cover it a little bit.
              &::after {
                position: absolute;
                content: '';
                background-color: var(--background);
                right: 0;
                bottom: 0;
                transform: translateY(100%);
                height: 10px;
                width: 10px;
              }
            }
          }
        }
      }
      &__pinned--scrolled {
        @include at992 {
          padding-bottom: 16px;
        }
        > div:first-child {
          box-shadow: 0px 1.5px 5px 2px rgba(0, 0, 0, 0.1);
          // Our shadow must be shorter so we cover it a little bit.
          @include at992 {
            &::after {
              position: absolute;
              content: '';
              background-color: var(--background);
              right: 0;
              bottom: 0;
              transform: translateY(100%);
              height: 10px;
              width: 10px;
            }
          }
        }
      }
      &__skeleton {
        display: flex;
        flex-direction: column;
        padding-top: 4px;
        @include to992 {
          padding-left: var(--padding-16px);
        }
        > span {
          margin-bottom: 6px;
        }
        > span > span {
          height: 28px;
          border-radius: var(--border-radius-4px);
        }
      }
    }
  }
}
.main {
  @include to992 {
    background: var(--background);
    min-height: 100vh;
    position: relative;
    z-index: 1;
    @include transition-250ms(transform);
    &::before {
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
      box-shadow: -1px 0 0 0 var(--border-color-primary);
      opacity: var(--dimmed-opacity);
      position: absolute;
    }
    &::after {
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      box-shadow: 1px 0 0 0 var(--border-color-primary);
      opacity: var(--dimmed-opacity);
      position: absolute;
    }
  }
  @include at992 {
    flex: 1;
    transform: translateX(0px) !important;
    margin-top: var(--header-desktop-height);
  }

  &__inner {
    height: 100%;
    @include to992 {
      padding-top: var(--header-mobile-height);
      padding-bottom: var(--bottom-navigation-bar-height);
      @include transition-150ms(opacity);
    }
    @include at992 {
      @include transition-250ms(transform);
      transform-origin: right;
    }
    &--collapsed-sidebar-hovered {
      @include at992 {
        transform: scaleX(0.98);
      }
    }
    &--dimmed {
      @include to992 {
        opacity: var(--dimmed-opacity);
      }
    }
    &__sticky {
      position: sticky;
      z-index: 2;
      top: var(--header-mobile-height);
      @include at992 {
        top: calc(var(--header-desktop-height) + 16px);
      }
      @include transition-150ms(transform);
      @include at992 {
        transform: none !important;
      }
      &--scrolled {
        transform: translateY(calc(var(--app-bar-height) * -1));
      }
      &__mobile-title-bar {
        @include at992 {
          display: none;
        }
      }
      &__search {
        font-size: inherit;
      }
    }
    &__skeleton {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 1;
      width: 100%;
      background: var(--background);
      @include to992 {
        gap: 8px;
      }
      @include at992 {
        gap: 16px;
      }
      > span > span {
        height: 160px;
        @include at992 {
          height: 145px;
          border-radius: var(--border-radius-12px);
        }
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: var(--text-color-dimmed);
      width: 100%;
      font-size: var(--font-size-13px);
      padding: 0 16px;
      margin-bottom: 44px;
      height: 200px;
      @include at992 {
        margin-bottom: 76px;
        height: 300px;
      }
      button {
        @include hover {
          @include text-decoration-underline;
        }
      }
    }
  }
}
.aside {
  @include to992 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: var(--header-mobile-height);
    padding-bottom: var(--bottom-navigation-bar-height);
    padding-left: 1px;
  }
  @include at992 {
    margin-top: var(--header-desktop-height);
    width: var(--_aside-width) !important;
  }
  &--hidden {
    @include to992 {
      visibility: hidden;
      pointer-events: none;
    }
  }
  &__inner {
    height: 100%;
    @include to992 {
      overflow: auto;
      background: var(--Library-background);
    }
  }
}
.dimmed {
  pointer-events: none;
  opacity: var(--opacity-loading);
}
