// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  border-radius: var(--border-radius-5px);
  margin: 0 var(--padding-8px);
  padding: 0 8px;
  margin-top: 4px;
}
.star {
  padding: 0 2px;
  > svg {
    fill: var(--neutral200);
    @include dark {
      fill: var(--dark400);
    }
    width: 21px;
  }
  &--checked > svg {
    fill: var(--yellow);
    @include dark {
      fill: var(--yellow); // Dupe needed for some reason.
    }
  }
  &--hovered > svg {
    fill: var(--yellow);
    @include dark {
      fill: var(--yellow); // Dupe needed for some reason.
    }
  }
  &--hovered-checked > svg {
    fill: var(--neutral200);
    @include dark {
      fill: var(--dark400);
    }
  }
}
