// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: var(--border-radius-10px);
  border: 1.5px solid var(--neutral200);
  box-shadow: var(--box-shadow-inset);
  cursor: text;
  @include hover {
    border-color: var(--border-color-hover);
  }
  > textarea {
    border: none;
    background-color: transparent;
    resize: none;
    padding: 8px;
  }
  &--focused {
    border-color: var(--blue400) !important;
    box-shadow: inset 0 1px 3px var(--blue100) !important;
  }
}

.websites {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: var(--border-secondary);
  &__item {
    --height: 22px;
    --border-radius: 6px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--height);
    padding: 0 4px;
    &:nth-child(even) {
      background-color: var(--neutral50);
    }
    &__pin {
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--height);
      border-radius: var(--border-radius);
      > svg {
        fill: var(--accent-color);
        width: 9px;
      }
      @include hover {
        background-color: var(--neutral100);
      }
      &--pinned {
        @include hover {
          background-color: var(--red50);
          > svg {
            fill: var(--red600);
          }
        }
      }
    }
    &__bar {
      display: flex;
      gap: 4px;
      align-items: center;
      border-radius: var(--border-radius);
      padding: 0 7px 0 4px;
      font-size: var(--font-size-12px);
      max-width: calc(100% - var(--height));
      @include hover {
        background-color: var(--neutral150);
      }
      > span {
        display: block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &--pinned {
        font-weight: var(--font-weight-inter-medium);
      }
      &--disabled {
        color: rgba(0, 0, 0, 0.4);
        @include hover {
          color: rgba(0, 0, 0, 0.5);
          background-color: var(--neutral150);
        }
        > img {
          opacity: 0.5;
        }
      }
      > img {
        flex-shrink: 0;
        width: 13px;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 6px 6px 6px;
  &__models {
    display: flex;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 4px;
    &__total {
      color: var(--text-color-dimmed);
      font-size: var(--font-size-12px);
    }
    &__submit {
      display: flex;
      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--button-size-28px);
        height: var(--button-size-28px);
        > svg {
          width: 19px;
          fill: var(--accent-color);
        }
      }
    }
  }
}
