// @type

.container {
  display: flex;
  flex-direction: column;
  padding: var(--padding-16px);
  gap: var(--padding-12px);
  border-bottom: var(--border-primary);
  background-color: var(--header-background);
}
