// @type
@use '../../../../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  padding: var(--padding-16px);
  gap: var(--padding-12px);
  border-bottom: var(--border-primary);
  > button {
    align-self: unset; // Fix for some sites
    border: unset; // Fix for some sites
  }
  > button:hover {
    font-weight: var(
      --font-weight-plus-jakarta-sans-bold
    ); // Fix for some sites
  }
}
