// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  gap: var(--padding-8px);
  @include transition-250ms(opacity);
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  border-top-color: var(--white);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.tick {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  > svg {
    width: var(--icon-dimension-14px);
    fill: var(--accent-color);
  }
}

.text {
  font-size: var(--font-size-14px);
}
