// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}
.content {
  display: flex;
  gap: var(--padding-8px);
  margin: var(--padding-40px) var(--padding-16px);
  flex-direction: column;
  width: 100%;
  max-width: 370px;
  @include at576 {
    max-width: 420px;
  }
  @include at992 {
    max-width: 800px;
  }
}
.box {
  display: grid;
  grid-template: 'heading' 'form' 'switch-form';
  background: radial-gradient(
    circle at 50% 60%,
    var(--blue50) 0%,
    var(--white) 70%
  );
  border: var(--border-primary);
  border-radius: var(--border-radius-20px);
  padding: var(--padding-40px) var(--padding-16px) var(--padding-24px)
    var(--padding-16px);
  row-gap: var(--padding-24px);
  @include at576 {
    padding: var(--padding-40px);
    border-radius: var(--border-radius-30px);
  }
  @include at576 {
    row-gap: var(--padding-40px);
  }
  @include at992 {
    grid-template: 'logo logo' 'heading form' 'switch-form form' / 1fr 1fr;
    row-gap: 0;
    column-gap: var(--padding-40px);
    background: radial-gradient(
      circle at 75% 50%,
      var(--blue50) 0%,
      var(--white) 50%
    );
  }
  &__logo {
    grid-area: logo;
    @include to992 {
      display: flex;
      justify-content: center;
      display: none;
    }
    @include at992 {
      margin-bottom: 15px;
    }
    &__icon {
      display: inline-flex;
      > svg {
        height: 60px;
        fill: var(--brand-color);
      }
    }
  }
  &__heading {
    grid-area: heading;
    display: flex;
    flex-direction: column;
    gap: var(--padding-16px);
    @include to992 {
      text-align: center;
    }
    > h1 {
      font-family: var(--font-family-plus-jakarta-sans);
      font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
      font-size: 32px;
      line-height: 1;
      @include at992 {
        font-size: 36px;
      }
    }
    > div {
      font-size: var(--font-size-16px);
    }
  }
  &__form {
    grid-area: form;
  }
  &__switch-form {
    grid-area: switch-form;
    display: flex;
    @include to992 {
      justify-content: center;
      text-align: center;
    }
    @include at992 {
      align-items: flex-end;
    }
    > div > a {
      color: var(--brand-color);
      font-weight: var(--font-weight-inter-medium);
      @include hover {
        @include text-decoration-underline;
      }
      @include focus-visible;
    }
  }
}
.footer {
  font-size: var(--font-size-13px);
  color: var(--text-color-dimmed);
  text-align: center;
  display: flex;
  justify-content: center;
  a {
    @include text-decoration-underlinie-thin;
  }
}
