// @type
@use '../../../../styles/foundation' as *;

.items {
  display: flex;
  flex-direction: column;
  border-top: var(--border-secondary);
}
.dragging {
  background-color: var(--border-color-secondary);
  cursor: grabbing;
}
.nothing-pinned {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-dimension-52px);
  font-size: var(--font-size-13px);
  color: var(--text-color-dimmed);
  text-align: center;
  width: 100%;
  padding: 0 var(--padding-16px);
  border-bottom: var(--border-secondary);
}
