// @type
@use '../../../../styles/foundation' as *;

.items {
  display: flex;
  flex-direction: column;
  border-top: var(--border-secondary);
  border-bottom: var(--border-secondary);
  @include to992 {
    margin-bottom: 8px;
  }
  @include at992 {
    border: var(--border-primary);
    border-radius: var(--border-radius-12px);
  }
}
.dragging {
  background-color: var(--border-color-secondary);
  cursor: grabbing;
}
.collapsed-state {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  font-size: var(--font-size-13px);
  text-align: center;
  width: 100%;
  padding: 0 var(--padding-16px);
  border-top: var(--border-primary);
  border-bottom: var(--border-primary);
  @include to992 {
    margin-bottom: 8px;
  }
  @include at992 {
    border: var(--border-primary);
    border-radius: var(--border-radius-12px);
  }
  > button {
    @include hover {
      cursor: pointer;
      @include text-decoration-underlinie-thin;
    }
  }
}
.nothing-pinned {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  font-size: var(--font-size-13px);
  color: var(--text-color-dimmed);
  text-align: center;
  width: 100%;
  padding: 0 var(--padding-16px);
  border-top: var(--border-primary);
  border-bottom: var(--border-primary);
  @include to992 {
    margin-bottom: 8px;
  }
  @include at992 {
    border: var(--border-primary);
    border-radius: var(--border-radius-12px);
  }
}