// @type
@use '../../../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
}
.light {
  display: flex;
  @include dark {
    display: none;
  }
}
.dark {
  display: none;
  @include dark {
    display: flex;
  }
}
.theme-set-by-system {
  display: none;
  [data-theme-set-by="system"] & {
    display: flex;
  }
  svg {
    width: var(--icon-dimension-24px);
    height: var(--icon-dimension-24px);
  }
}
.theme-set-by-user {
  display: none;
  [data-theme-set-by="user"] & {
    display: flex;
  }
}
.user {
  position: relative;
  &__dropdown {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(100%) scale(0.9);
    transform-origin: top right;
    opacity: 0;
    pointer-events: none;
    &--visible {
      opacity: 1;
      pointer-events: all;
      transform: translateY(calc(100% + 6px)) scale(1);
      @include transition-150ms;
    }
  }
}
