// @type
@use '../../../../styles/foundation' as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: calc(80svh);
  width: 100vw;
  @include at768 {
    width: calc(100vw - 80px);
    max-height: calc(100svh - 80px);
  }
  @include at992 {
    width: 900px;
  }
  &__header {
    position: relative;
    z-index: 1;
    @include transition-250ms(box-shadow);
    &--shadow {
      box-shadow: var(--box-shadow);
    }
  }
  &__content {
    width: 100%;
    overflow: auto;
    &__inner {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 8px;
      @include at768 {
        padding: 16px;
        gap: 16px;
      }
      @include at992 {
        margin: 0 auto;
        gap: 16px;
        padding: 24px 0;
      }
    }
  }
  &__footer {
    z-index: 1;
    width: 100%;
    @include transition-250ms(box-shadow);
    &--shadow {
      box-shadow: var(--box-shadow-up);
    }
  }
}
