// @type
@use '../../../styles/foundation' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  border: var(--border-secondary);
  overflow: hidden;
  position: relative;
  @include transition-100ms(all);
  width: var(--button-dimension-40px);
  height: var(--button-dimension-40px);
  background-color: var(--button-outlined-icon-background);
  @include hover {
    background-color: var(--button-outlined-icon-background-hover);
    border-color: var(--border-color-primary);
  }
  & svg {
    width: var(--icon-dimension-20px);
    height: var(--icon-dimension-20px);
  }
}
