// @type
@use '../../../../../../styles/foundation' as *;

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-bottom: var(--border-primary);
  background-color: var(--header-background);
  > svg {
    height: 50px;
    fill: var(--accent-color);
  }
}
.actions {
  display: flex;
  align-items: center;
  gap: var(--padding-4px);
  position: absolute;
  right: var(--padding-10px);
  top: var(--padding-10px);
  &__shortcut {
    background-color: var(--blue100);
    gap: 4px;
    height: 23px;
    align-items: center;
    border-radius: var(--border-radius-8px);
    padding: 0 4px;
    color: var(--blue500);
    font-size: var(--font-size-13px);
    display: none;
    @include desktop {
      display: flex;
    }
    > svg {
      fill: var(--blue500);
      height: 14px;
    }
  }
  &__settings {
    width: var(--button-dimension-34px);
    height: var(--button-dimension-34px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background: none;
    @include transition-150ms(background-color);
    @include hover {
      background-color: var(--neutral100);
      @include dark {
        background-color: var(--dark100);
      }
    }
    > svg {
      width: var(--icon-dimension-18px);
      fill: var(--black);
    }
  }
}
