// @type

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-bottom: var(--border-primary);
  background-color: var(--header-background);
}
.logo {
  > svg {
    height: 50px;
    fill: var(--accent-color);
  }
}
.vision {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: var(--padding-16px);
  > button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    @include hover {
      background-color: var(--neutral100);
    }
    > svg {
      width: var(--icon-dimension-22px);
    }
  }
}
.actions {
  display: flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  right: var(--padding-10px);
  top: var(--padding-10px);
  &__shortcut {
    display: flex;
    align-items: center;
    gap: var(--padding-2px);
    border-radius: var(--border-radius-8px);
    font-size: var(--font-size-13px);
    display: none;
    @include desktop {
      display: flex;
    }
    &__key {
      font-weight: var(--font-weight-inter-semi-bold);
      border-radius: 4px;
      padding: 1px 4px;
      border: var(--border-primary);
      box-shadow: var(--box-shadow);
    }
    &__plus {
      font-weight: var(--font-weight-inter-medium);
    }
  }
  &__settings {
    width: var(--button-size-34px);
    height: var(--button-size-34px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @include hover {
      background-color: var(--neutral100);
      @include dark {
        background-color: var(--dark100);
      }
    }
    > svg {
      width: var(--icon-dimension-18px);
      fill: var(--black);
    }
  }
}
