// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--white);
  background: var(--brand-color);
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-bold);
  @include transition-150ms(background-color);
  border-radius: var(--border-radius-999px);
  @include hover {
    background: var(--blue800);
  }
  height: var(--button-dimension-40px);
  font-size: var(--font-size-15px);
  padding: 0 16px;
  > span {
    padding-bottom: 0.07em;
  }
  &--outlined {
    background-color: var(--white);
    border: var(--border-secondary);
    color: var(--text-color-normal);
    @include hover {
      background-color: var(--white);
      border-color: var(--input-border-color-hover);
    }
  }
  &--loading {
    opacity: 0.7;
    pointer-events: none;
  }
  &--disabled {
    opacity: 0.7;
    pointer-events: none;
  }
  &--small {
    height: var(--button-dimension-34px);
    font-size: var(--font-size-13px);
    padding: 0 14px;
  }
  &--medium {
    @include at768 {
      font-size: var(--font-size-17px);
      height: 2.5em;
      padding: 0 1em;
    }
    @include at1200 {
      font-size: var(--font-size-19px);
    }
  }
  &--large {
    height: var(--button-dimension-40px);
    @include at768 {
      font-size: var(--font-size-17px);
      height: 2.7em;
      padding: 0 1em;
    }
    @include at992 {
      font-size: var(--font-size-19px);
    }
    @include at1200 {
      font-size: var(--font-size-20px);
    }
    @include at1380 {
      font-size: var(--font-size-22px);
    }
  }
}
