// @type
@use '../../../../styles/foundation' as *;

.contaner {
  display: flex;
  gap: var(--distance-8px);
  flex-direction: column;
}
.field {
  width: 100%;
  border: 1px solid var(--blue200);
  background-color: var(--blue100);
  border-radius: var(--border-radius-10px);
  transition: background-color var(--transition-duration-150ms) linear,
    border-color var(--transition-duration-150ms) linear;
  @include hover {
    border-color: var(--blue300);
  }
  &:focus {
    border-color: var(--blue400);
    outline: none;
  }
  &--error {
    background: var(--red100);
    border-color: var(--red300);
    &:focus {
      border-color: var(--red500);
    }
  }
}
.input {
  height: var(--input-height-46px);
  padding: 0 var(--distance-12px);
}
.textarea {
  position: relative;
  padding: var(--distance-12px);
  resize: none;
}
.message {
  margin-top: var(--distance-8px);
  font-size: var(--font-size-13px);
  strong {
    font-weight: var(--font-weight-inter-medium);
    color: var(--text-color-variant);
  }
  &--error {
    color: var(--red600);
  }
  &--warning {
    color: var(--yellow600);
  }
  &--info {
    color: var(--text-color-dimmed);
  }
}
