// @type
@use '../../../../../../../styles/foundation' as *;

.container {
  background-color: var(--background);
  padding: var(--padding-16px) var(--padding-16px) var(--padding-10px)
    var(--padding-16px);
  display: flex;
  flex-direction: column;
  gap: var(--padding-10px);
  // Fixes for some sites
  textarea {
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__info {
    color: var(--text-color-dimmed);
    font-size: var(--font-size-13px);
    > strong {
      color: var(--text-color-normal);
      font-weight: var(--font-weight-inter-medium);
    }
  }
  &__checkbox {
    position: relative;
  }
}
