// @type

.container {
  padding: 0 var(--padding-16px);
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-10px) 0;
  gap: var(--padding-8px);
  > span {
    font-weight: var(--font-weight-inter-medium);
  }
}

.switch {
  align-self: flex-start;
  display: flex;
  gap: var(--padding-14px);
  margin-top: var(--padding-12px);
  margin-bottom: var(--padding-2px);
  font-size: var(--font-size-14px);
}

.alert {
  align-self: flex-start;
  font-size: var(--font-size-13px);
  margin-top: var(--padding-10px);
  padding: var(--padding-4px) var(--padding-8px);
  border-radius: var(--border-radius-8px);
  font-weight: var(--font-weight-inter-medium);
  &--warn {
    background-color: #ffc400;
  }
  &--error {
    background-color: var(--red);
    color: white;
  }
}
