// @type
@use '../../../../../../../styles/foundation' as *;

.container {
  padding: var(--padding-16px) var(--padding-16px) var(--padding-10px)
    var(--padding-16px);
  display: flex;
  flex-direction: column;
  gap: var(--padding-8px);
}
.chatbots {
  display: flex;
  span {
    color: var(--text-color-dimmed);
  }
  select {
    flex: 1;
    font-family: unset;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-15px);
    color: var(--text-color-normal);
    cursor: pointer;
    &:focus-visible {
      outline: none;
    }
  }
}
.field {
  display: flex;
  flex-direction: column;
  gap: var(--padding-10px);
  > div {
    display: flex;
    width: 100%;
  }
}
.selected-text {
  font-size: var(--font-size-13px);
  color: var(--text-color-dimmed);
  font-style: italic;
  margin: -3px 0;
}
