// @type
@use '../../../../styles/foundation' as *;

.button {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 var(--distance-8px);
  position: relative;
  font-size: var(--font-size-16px);
  white-space: nowrap;
  @include transition-100ms(background-color);
  @include at992 {
    padding: 0 var(--distance-12px);
  }
  &::before {
    content: attr(title);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  @include hover {
    background: var(--button-underlined-background-hover);
  }
  span {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: var(--font-weight-inter-medium);
    color: transparent;
    &::after {
      $underline-height: 2.7px;
      height: $underline-height;
      border-top-right-radius: $underline-height;
      border-top-left-radius: $underline-height;
      @include at992 {
        $underline-height: 3px;
        height: $underline-height;
        border-top-right-radius: $underline-height;
        border-top-left-radius: $underline-height;
      }
      position: absolute;
      content: '';
      width: 100%;
      bottom: 0;
      left: 0;
      margin-left: 50%;
      transform: translateX(-50%);
      @include transition-100ms(background-color);
    }
  }
  &--active {
    &::before {
      color: transparent;
    }
    span {
      color: inherit;
      &::after {
        background: var(--brand-color);
      }
    }
  }
  &:disabled {
    pointer-events: none;
    &::before {
      color: var(--text-color-dimmed);
    }
    span {
      color: transparent;
    }
  }
}
