// @type
@use '../../../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  padding: 0 var(--distance-24px);
  height: var(--button-dimension-52px);
  background: var(--TitleBar-background-desktop);
  border-radius: var(--border-radius-999px);
  width: calc(100% + (var(--distance-16px) * 2));
  transform: translateX(calc(var(--distance-16px) * -1));
  margin: var(--distance-16px) 0;
}
.text {
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-bold);
  font-size: var(--font-size-24px);
  color: var(--TitleBar-primary-foreground);
}
.skeleton {
  margin: var(--distance-16px) 0;
  transform: translateX(calc(var(--distance-16px) * -1));
  > span > span {
    width: calc(100% + (var(--distance-16px) * 2));
    height: var(--button-dimension-52px);
  }
}
