// @type
@use '../../../../styles/foundation' as *;

.tag {
  position: fixed;
  z-index: 3;
  top: -5px;
  left: -5px;
  color: var(--white);
  background-color: var(--green600);
  @include dark {
    color: var(--text-color-normal);
    background-color: var(--green700);
  }
  font-size: var(--font-size-13px);
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-inter-medium);
  border-radius: var(--border-radius-999px);
  padding: 4px 10px;
  box-shadow: var(--box-shadow-green-strong);
  opacity: 0;
  @include transition-150ms(opacity);
}
