// @type
@use '../../../../styles/foundation' as *;

.container {
  min-height: 100vh;
  position: relative;
}
.header {
  width: 100%;
  z-index: 3;
  position: absolute;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 90px;
    @include at768 {
      padding: 0 40px;
    }
    @include at992 {
      height: 120px;
    }
    @include at1200 {
      height: 130px;
    }
    @include at1380 {
      height: 140px;
      max-width: 1380px;
      margin: 0 auto;
    }
    @include at1600 {
      max-width: 100%;
      padding: 0 140px;
    }
    &__desktop-nav-and-user {
      display: flex;
      gap: 30px;
      @include at1380 {
        gap: 40px;
      }
      @include to992 {
        display: none;
      }
    }
    &__burger {
      z-index: 1;
      @include at992 {
        display: none;
      }
    }
  }
}
