// @type
@use '../../../../styles/foundation' as *;

.container {
  min-height: 100vh;
}
.header {
  width: 100%;
  background-color: var(--white);
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--distance-16px);
    height: 90px;
    @include at768 {
      padding: 0 var(--distance-40px);
    }
    @include at992 {
      height: 120px;
    }
    @include at1200 {
      height: 130px;
    }
    @include at1380 {
      height: 140px;
      max-width: 1380px;
      margin: 0 auto;
    }
    @include at1600 {
      max-width: 100%;
      padding: 0 140px;
    }
    &__desktop-nav-and-user {
      display: flex;
      gap: var(--distance-30px);
      @include at1380 {
        gap: var(--distance-40px);
      }
      @include to992 {
        display: none;
      }
    }
    &__burger {
      z-index: 1;
      @include at992 {
        display: none;
      }
    }
  }
}
