// @type
@use '../../../styles/foundation' as *;

.logo {
  display: flex;
  align-items: center;
  & span {
    color: var(--color-text--normal);
    font-family: var(--font-family-plus-jakarta-sans);
    letter-spacing: var(--letter-spacing-logo);
    padding-left: var(--distance-10px);
    font-weight: var(--font-weight-plus-jakarta-sans-bold);
    font-size: var(--font-size-22px);
    margin-bottom: var(--distance-2px);
    @include at992 {
      font-size: var(--font-size-26px);
      margin-bottom: var(--distance-4px);
    }
  }
  & > div > svg {
    fill: var(--logo-background);
    height: 34px;
    width: auto;
    @include at992 {
      height: 42px;
    }
  }
}
