// @type
@use '../../../styles/foundation' as *;

.container {
  display: flex;
  gap: var(--padding-32px);
  flex-direction: column;
  padding: var(--padding-16px);
  @include at992 {
    font-size: var(--font-size-16px);
    gap: var(--padding-40px);
    padding: var(--padding-40px);
  }
}
.user {
  display: flex;
  align-items: center;
  background-color: var(--neutral150);
  @include dark {
    background-color: var(--dark200);
  }
  padding: 8px 20px;
  align-self: flex-end;
  word-wrap: anywhere;
  border-radius: var(--border-radius-20px);
  max-width: 90%;
  min-height: var(--button-dimension-40px);
  @include at992 {
    max-width: 70%;
  }
}
.assistant {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background-color: var(--accent-color);
    border-radius: 50%;
    left: 0;
    top: -20px;
    @include at992 {
      left: -25px;
      top: 3px;
    }
  }
}
