// @type
@use '../../../styles/foundation' as *;

.container {
  display: flex;
  gap: var(--padding-24px);
  flex-direction: column;
  @include at992 {
    font-size: var(--font-size-16px);
  }
}
.user {
  display: flex;
  align-items: center;
  background-color: var(--neutral150);
  @include dark {
    background-color: var(--dark200);
  }
  padding: 8px 20px;
  align-self: flex-end;
  word-wrap: anywhere;
  border-radius: var(--border-radius-20px);
  max-width: 90%;
  min-height: var(--button-dimension-40px);
  @include at992 {
    max-width: 70%;
  }
}
.assistant {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--accent-color);
    border-radius: 50%;
    left: -10px;
    top: 6px;
    @include at992 {
      width: 12px;
      height: 12px;
      left: -23px;
      top: 4px;
    }
  }
}
