// @type
@use '../../../styles/foundation' as *;

.container {
  display: flex;
  gap: var(--padding-32px);
  flex-direction: column;
  padding: var(--padding-16px);
  @include at992 {
    font-size: var(--font-size-16px);
    gap: var(--padding-40px);
    padding: var(--padding-40px);
  }
}
.user {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--neutral150);
  @include dark {
    background-color: var(--dark200);
  }
  padding: 8px 20px;
  align-self: flex-end;
  word-wrap: anywhere;
  border-radius: var(--border-radius-20px);
  border-top-right-radius: 0;
  max-width: 90%;
  min-height: var(--button-dimension-40px);
  @include at992 {
    max-width: 70%;
  }
  > svg {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%) scaleX(-1);
    fill: var(--neutral150);
    width: 12px;
    @include dark {
      fill: var(--dark200);
    }
  }
}
.assistant {
  position: relative;
  line-height: var(--line-height-1-6);
  &::before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    background-color: var(--accent-color);
    border-radius: 50%;
    left: 0;
    top: -20px;
    @include at992 {
      left: -25px;
      top: 5px;
    }
  }
}
