// @type
@use '../../../styles/foundation' as *;

.container {
  height: var(--header-mobile-height);
  border-bottom: var(--border-primary);
  background: var(--header-transparent-background);
  backdrop-filter: var(--backdrop-filter);
  @include at768 {
    height: var(--header-desktop-height);
  }
  &--is-transparent-on-desktop {
    @include at768 {
      background: none;
      border-bottom-color: transparent;
      backdrop-filter: none;
    }
  }
}
.inner {
  display: flex;
  align-items: center;
  height: 100%;
  &__back-arrow {
    display: flex;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: calc(16px * -1);
    height: var(--button-size-34px);
    @include at768 {
      padding-right: 24px;
      height: var(--button-size-40px);
    }
    @include hover {
      svg {
        transform: translateX(-2px);
      }
    }
    svg {
      fill: var(--accent-color);
      @include transition-150ms(transform);
      height: 18px;
      width: 10px;
      @include at768 {
        height: 20px;
        width: 12px;
      }
    }
  }
  &__title {
    color: var(--color-text--normal);
    font-family: var(--font-family-plus-jakarta-sans);
    font-weight: var(--font-weight-plus-jakarta-sans-bold);
    letter-spacing: var(--letter-spacing-logo);
    font-size: var(--font-size-23px);
    padding-left: 7px;
    @include at768 {
      font-size: var(--font-size-28px);
      padding-left: 9px;
    }
  }
}
