// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  border-top: var(--border-primary);
  background: var(--white);
  padding: 16px;
  @include at992 {
    padding: 16px 40px 16px 0;
  }
  &__right-side {
    display: flex;
    align-items: center;
    gap: 16px;
    @include at992 {
      gap: 24px;
    }
    &__cancel {
      color: var(--text-color-dimmed);
      @include transition-150ms(color);
      @include hover {
        color: var(--text-color-normal);
      }
    }
  }
}
