// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--padding-24px);
  border-top: var(--border-primary);
  background: var(--white);
  padding: var(--padding-16px);
  @include at768 {
    padding: var(--padding-16px) var(--padding-40px);
  }
  &__right-side {
    display: flex;
    align-items: center;
    gap: var(--padding-16px);
    @include at768 {
      gap: var(--padding-24px);
    }
    &__cancel {
      font-size: var(--font-size-14px);
      color: var(--text-color-dimmed);
      @include transition-150ms(color);
      @include hover {
        color: var(--text-color-normal);
      }
    }
  }
}
