// @type
@use '../../../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--app-bar-height);
  border-bottom: var(--border-primary);
  background: var(--header-transparent-background);
  backdrop-filter: var(--backdrop-filter);
  &--scrolled {
    transform: translateY(calc(var(--app-bar-height) * -1));
  }
}
.icon {
  display: flex;
  align-items: center;
  width: var(--app-bar-height);
  align-self: stretch;
  &--left {
    padding-left: var(--distance-16px);
    svg {
      height: var(--distance-17px);
    }
  }
  &--right {
    padding-right: var(--distance-16px);
    justify-content: flex-end;
    svg {
      height: var(--distance-24px);
    }
  }
}
.content {
  font-family: var(--font-family-plus-jakarta-sans);
  font-size: var(--font-size-22px);
  font-weight: var(--font-weight-plus-jakarta-sans-bold);
}
.skeleton {
  > span > span {
    height: var(--button-dimension-48px);
  }
}
