// @type
@use '../../../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-16px) var(--padding-16px) var(--padding-16px);
  position: relative;
  border-bottom: var(--border-primary);
}
.back {
  display: flex;
  position: absolute;
  left: 0;
  top: 4px;
  margin: var(--padding-8px);
  padding: var(--padding-8px);
  @include transition-150ms(transform);
  @include hover {
    cursor: pointer;
    transform: translateX(-2px);
  }
  > svg {
    height: 20px;
    fill: var(--accent-color);
  }
}
.title {
  text-align: center;
  font-weight: var(--font-weight-plus-jakarta-sans-bold);
  font-family: var(--font-family-plus-jakarta-sans);
  font-size: var(--font-size-19px);
  padding: 18px 0 14px 0;
}
.restore {
  position: absolute;
  right: var(--padding-12px);
  top: var(--padding-14px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--button-dimension-34px);
  height: var(--button-dimension-34px);
  > svg {
    fill: var(--border-color-secondary);
    height: var(--icon-dimension-20px);
    width: var(--icon-dimension-20px);
    @include transition-150ms;
  }
  &--active {
    @include hover {
      cursor: pointer;
      > svg {
        fill: var(--black);
        transform: rotate(10deg);
      }
    }
    > svg {
      fill: var(--black);
    }
  }
}
.image {
  border-radius: var(--border-radius-8px);
  height: 183px;
  background-color: var(--neutral150);
  position: relative;
  overflow: hidden;
  cursor: crosshair;
  &--selecting {
    cursor: move;
    > img {
      filter: brightness(0.7);
    }
  }
  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.area {
  border-radius: var(--border-radius-4px);
}
