// @type
@use '../../../../styles/foundation' as *;

.custom-range {
  position: relative;
  border-radius: var(--border-radius-12px);
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  border: var(--border-secondary);
  overflow: hidden;
  height: var(--custom-range-height);
  display: flex;
  align-items: center;
  justify-content: center;
  &__details {
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__title {
      font-size: var(--font-size-13px);
      color: var(--text-color-dimmed);
    }
    &__current-range {
      font-family: var(--font-family-inter-tight);
      font-weight: var(--font-weight-inter-tight-medium);
    }
    &__counts {
      display: flex;
      margin-top: 4px;
      padding: 1px 6px 1px 6px;
      border-radius: var(--border-radius-4px);
      font-size: var(--font-size-14px);
      transform: translateX(calc(5px * -1));
      font-weight: var(--font-weight-inter-medium);
      > div {
        position: relative;
        padding-left: 12px;
        > span {
          margin-right: 6px;
        }
      }
      > div::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 6px;
      }
      &__total::before {
        background: #1d4ed8;
      }

      &__starred::before {
        background: var(--yellow);
      }
      &__unread::before {
        background: var(--red);
      }
    }
  }
  &__info {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--text-color-dimmed);
    text-align: center;
    font-size: var(--font-size-13px);
    padding: 0 16px;
    align-items: flex-end;
    padding-bottom: 24px;
  }
  &__clear {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 6px;
    height: var(--button-dimension-28px);
    width: var(--button-dimension-28px);
    @include transition-150ms(background-color);
    border-radius: var(--border-radius-999px);
    @include hover {
      background: var(--neutral200);
    }
    svg {
      width: var(--icon-dimension-16px);
      height: var(--icon-dimension-16px);
      transform: rotate(45deg);
      @include transition-150ms(fill);
    }
  }
  &__recharts {
    width: 100%;
    svg {
      transform: translateY(54px);
    }
    &__brush {
      transform: translateY(-47px) scale(0.9);
      transform-origin: center;
      @include hover {
        > g > rect {
          stroke: var(--neutral400);
        }
        > g > line {
          @include transition-150ms(stroke);
          stroke: var(--neutral400);
        }
      }
      :focus {
        outline: none;
      }
      > rect:first-of-type {
        stroke: none;
      }
      > g > rect {
        @include transition-150ms(stroke);
        fill: #fff;
        rx: var(--border-radius-8px);
        stroke: var(--neutral350);
      }
      > g > line {
        @include transition-150ms(stroke);
        stroke: var(--neutral350);
        &:first-of-type {
          transform: translateY(-0.6px);
        }
        &:last-of-type {
          transform: translateY(0.6px);
        }
      }
    }
  }
}
