// @type

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 4;
  inset: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  align-items: center;
  @include dark {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &--visible {
    pointer-events: all;
    opacity: 1;
    @include transition-150ms(opacity);
  }
  &__inner {
    overflow: hidden;
    transform: scale(0.95);
    box-shadow: var(--box-shadow-long-strong);
    border-radius: var(--border-radius-20px);
    margin: 0 var(--padding-16px);
    background-color: var(--background);
    @include dark {
      border: var(--border-primary);
    }
    &--visible {
      @include transition-150ms(transform);
      transform: scale(1);
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  @include dark {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
