// @type
@use '../../../../../../web-ui/src/styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-16px);
  margin-top: var(--padding-16px);
  position: relative;
}
.bookmark {
  position: relative;
  border: var(--border-secondary);
  height: 160px;
  @include transition-150ms(border-color);
  @include at992 {
    height: 145px;
    border-radius: var(--border-radius-12px);
  }
  &:last-child::after {
    content: '';
    position: absolute;
    width: calc(100% + 2px);
    transform: translateX(-1px) translateY(1px);
    height: 100%;
    background: linear-gradient(to top, var(--background) 0%, transparent 100%);
    pointer-events: none;
  }
}
.load {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 135px;
  transform: translateX(-50%);
  font-size: var(--font-size-13px);
  white-space: nowrap;
  background: linear-gradient(
    to right,
    transparent 15%,
    var(--background) 35%,
    var(--background) 65%,
    transparent 85%
  ); // background occupies 70% width
  padding: 10px 200px;
  cursor: pointer;
  @include hover {
    @include text-decoration-underlinie-thin;
  }
}
