// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 14px;
  @include at768 {
    margin-bottom: 20px;
  }
  > h1 {
    margin-top: -0.2em;
    color: var(--accent-color);
    font-family: var(--font-family-plus-jakarta-sans);
    font-weight: var(--font-weight-plus-jakarta-sans-bold);
    font-size: var(--font-size-24px);
    @include at768 {
      font-size: var(--font-size-26px);
    }
  }
  > p {
    color: var(--text-color-variant);
    > strong {
      font-weight: var(--font-weight-inter-medium);
    }
  }
}
