// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: var(--distance-4px);
  width: 100%;
  position: relative;
  margin: var(--distance-8px) 0;
  @include at992 {
    margin: var(--distance-16px) 0;
  }
}
.box {
  display: flex;
  align-items: center;
  background-color: var(--blue50-transparent);
  backdrop-filter: var(--backdrop-filter);
  border: 1px solid var(--blue100);
  box-shadow: inset 0 2px 3px rgba(219, 234, 254, 0.4);
  z-index: 2;
  border-radius: var(--border-radius-999px);
  gap: var(--distance-8px);
  height: var(--button-dimension-40px);
  @include transition-150ms;
  @include to992 {
    margin: 0 var(--distance-8px);
  }
  @include at992 {
    transform: translateX(calc(var(--distance-8px) * -1));
    width: calc(100% + (var(--distance-8px) * 2));
    gap: var(--distance-6px);
    height: var(--button-dimension-52px);
  }
  @include at1200 {
    transform: translateX(calc(var(--distance-16px) * -1));
    gap: var(--distance-13px);
    width: calc(100% + (var(--distance-16px) * 2));
  }
  @include hover {
    border-color: var(--blue300);
  }
  &--yields-no-results {
    border-color: var(--red100) !important;
    background-color: var(--red50-transparent);
    box-shadow: inset 0 2px 3px rgba(254, 226, 226, 0.4);
    svg {
      fill: var(--red600) !important;
    }
  }
  &--focus {
    border: 1px solid var(--blue400) !important;
    box-shadow: inset 0 2px 3px rgba(219, 234, 254, 0.7);
  }
  &--focus-yields-no-results {
    border-color: var(--red300) !important;
    box-shadow: inset 0 2px 3px rgba(254, 226, 226, 0.7);
  }
  &__left-side {
    margin-left: var(--distance-6px);
    width: var(--button-dimension-28px);
    height: var(--button-dimension-28px);
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition-150ms(background-color);
    border-radius: var(--border-radius-999px);
    @include hover {
      background: var(--blue100);
    }
    @include at992 {
      width: var(--button-dimension-34px);
      height: var(--button-dimension-34px);
      margin-left: var(--distance-8px);
    }
    > svg {
      width: var(--icon-dimension-16px);
      fill: var(--brand-color);
      @include transition-150ms(fill);
      @include at992 {
        width: var(--icon-dimension-20px);
      }
    }
  }
  &__loader {
    width: var(--icon-dimension-18px);
    height: var(--icon-dimension-18px);
    border: 2px solid var(--brand-color);
    border-bottom-color: transparent !important;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    @include at992 {
      width: var(--icon-dimension-22px);
      height: var(--icon-dimension-22px);
      border: 2.5px solid var(--brand-color);
    }
  }
  &__form {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: text;
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &__keycap {
      border: 1px solid var(--blue200);
      background: var(--blue100);
      border-radius: var(--border-radius-4px);
      color: var(--blue500);
      font-size: var(--font-size-12px);
      font-weight: var(--font-weight-inter-medium);
      padding: 0 var(--distance-4px);
      box-shadow: var(--box-shadow-blue);
      @include touch-screen {
        display: none;
      }
    }
    &__content {
      position: absolute;
      white-space: pre;
      -webkit-user-select: none;
      user-select: none;
      &__styled-value {
        z-index: -1;
        position: absolute;
        color: var(--brand-color);
        font-weight: var(--font-weight-inter-medium);
        @include transition-150ms(color);
        display: flex;
        align-items: center;
        pointer-events: none;
        &--yields-no-results {
          color: var(--red600) !important;
          &::placeholder {
            color: var(--red600) !important;
          }
        }
        &__pre-highlight {
          opacity: 0.7;
        }
        &__highlight {
          background-color: var(--blue200);
          border-radius: var(--border-radius-3px);
          @include transition-150ms(background-color);
          &--no-results {
            background-color: var(--red200);
          }
        }
        &__completion {
          opacity: 0.5;
          font-weight: var(--font-weight-inter-regular);
          margin-right: var(--distance-6px);
          @include touch-screen {
            display: none;
          }
        }
      }
      &__sizer {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        white-space: pre;
        visibility: hidden;
        font-weight: var(--font-weight-inter-medium);
      }
      input {
        color: transparent;
        z-index: 1;
        font-weight: var(--font-weight-inter-medium);
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: var(--brand-color);
          opacity: 0.8;
          @include transition-150ms(color);
          @include at992 {
            font-size: var(--font-size-17px);
          }
        }
      }
    }
  }
  &__right-side {
    display: flex;
    align-items: center;
    gap: var(--distance-4px);
    margin-right: var(--distance-6px);
    @include at992 {
      gap: var(--distance-8px);
      margin-right: var(--distance-11px);
    }
    &__press_key {
      pointer-events: none;
      color: var(--blue500);
      display: flex;
      white-space: pre;
      margin-right: var(--distance-11px);
      @include touch-screen {
        display: none;
      }
    }
    &__results-count {
      color: var(--blue500);
      white-space: pre;
      @include transition-150ms(color);
      @include to992 {
        font-size: var(--font-size-13px);
      }
      &--yields-no-results {
        color: var(--red500);
      }
    }
    &__clear {
      transform: rotate(45deg);
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--button-dimension-28px);
      height: var(--button-dimension-28px);
      border-radius: var(--border-radius-999px);
      @include transition-150ms(background-color);
      @include hover {
        background-color: var(--blue100);
      }
      &--yields-no-results {
        @include hover {
          background-color: var(--red100);
        }
        > svg {
          fill: var(--red600) !important;
        }
      }
      > svg {
        width: var(--icon-dimension-14px);
        fill: var(--brand-color);
        @include transition-150ms(fill);
        @include at992 {
          width: var(--icon-dimension-16px);
        }
      }
    }
  }
}
.hints {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: calc(var(--button-dimension-40px) + var(--distance-4px));
  overflow: hidden;
  border-radius: var(--border-radius-12px);
  border: var(--border-primary);
  box-shadow: var(--box-shadow);
  opacity: 1;
  @include transition-150ms;
  transform: translateY(0);
  @include to992 {
    width: calc(100% - (var(--distance-20px)));
    margin-left: 50%;
    transform: translateY(0) translateX(-50%);
  }
  @include at992 {
    top: calc(var(--button-dimension-52px) + var(--distance-4px));
  }
  &--hidden {
    opacity: 0;
    pointer-events: none;
    transition: none;
    @include to992 {
      transform: translateY(calc(var(--distance-4px) * -1)) translateX(-50%);
    }
    @include at992 {
      transform: translateY(calc(var(--distance-4px) * -1));
    }
  }
  &__inner {
    background-color: var(--plain-white);
    padding: var(--distance-8px) 0;
    box-shadow: var(--box-shadow);
    &__item {
      display: flex;
      align-items: center;
      width: 100%;
      gap: var(--distance-10px);
      height: var(--distance-32px);
      padding: 0 var(--distance-16px) 0 var(--distance-14px);
      @include hover {
        background-color: var(--neutral100);
      }
      &--selected {
        background-color: var(--neutral50);
      }
      &__icon {
        display: flex;
        > svg {
          width: var(--distance-15px);
        }
      }
      &__content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        height: 100%;
        &--recent {
          > span {
            color: var(--text-color-dimmed) !important;
          }
          > span:nth-child(2) {
            color: var(--text-color-variant) !important;
          }
        }
        > span {
          color: var(--text-color-variant);
          white-space: pre-wrap;
        }
        > span:nth-child(2) {
          color: var(--text-color-normal);
          font-weight: var(--font-weight-inter-semi-bold);
        }
        &__keycap {
          border: 1px solid var(--neutral300);
          background: var(--neutral100);
          border-radius: var(--border-radius-4px);
          color: var(--text-color-dimmed);
          font-size: var(--font-size-12px);
          font-weight: var(--font-weight-inter-medium);
          padding: 0 var(--distance-4px);
          box-shadow: var(--box-shadow);
          margin-left: var(--distance-6px);
          @include touch-screen {
            display: none;
          }
        }
      }
      &__remove {
        display: flex;
        font-size: var(--font-size-13px);
        color: var(--text-color-dimmed);
        @include hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.text {
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-bold);
  font-size: var(--font-size-22px);
  color: var(--TitleBar-primary-foreground);
}
.skeleton {
  width: 100%;
  margin: var(--distance-8px) 0;
  @include to992 {
    padding: 0 var(--distance-8px);
  }
  @include at992 {
    margin: var(--distance-16px) 0;
    transform: translateX(calc(var(--distance-16px) * -1));
  }
  > span > span {
    height: var(--button-dimension-40px);
    border-radius: var(--border-radius-10px);
    @include at992 {
      height: var(--button-dimension-52px);
      border-radius: var(--border-radius-999px);
      width: calc(100% + (var(--distance-16px) * 2));
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
