// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: var(--distance-4px);
  margin: var(--distance-16px) 0;
  width: 100%;
  position: relative;
}
.input {
  display: flex;
  align-items: center;
  gap: var(--distance-14px);
  padding: 0 var(--distance-16px);
  height: var(--button-dimension-52px);
  background-color: var(--blue50);
  border: 1px solid var(--blue100);
  border-radius: var(--border-radius-999px);
  width: calc(100% + (var(--distance-16px) * 2));
  transform: translateX(calc(var(--distance-16px) * -1));
  box-shadow: inset 0 2px 3px rgba(219, 234, 254, 0.4);
  z-index: 2;
  &--yields-no-results {
    border-color: var(--red100) !important;
    background-color: var(--red50);
    box-shadow: inset 0 2px 3px rgba(254, 226, 226, 0.4);
    > form > input {
      color: var(--red600) !important;
    }
    > svg {
      fill: var(--red600) !important;
    }
  }
  &--focus {
    border: 1px solid var(--blue300);
    box-shadow: inset 0 2px 3px rgba(219, 234, 254, 0.7);
  }
  &--focus-yields-no-results {
    border-color: var(--red300) !important;
    box-shadow: inset 0 2px 3px rgba(254, 226, 226, 0.7);
  }
  > svg {
    width: var(--icon-dimension-22px);
    fill: var(--brand-color);
  }
  &__loader {
    width: var(--icon-dimension-22px);
    height: var(--icon-dimension-22px);
    border: 2.5px solid var(--brand-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  > form {
    flex-grow: 1;
  }
  > form > input {
    width: 100%;
    height: var(--button-dimension-52px);
    border: none;
    background: none;
    font-size: var(--font-size-18px);
    font-weight: var(--font-weight-inter-medium);
    color: var(--brand-color);
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: var(--brand-color);
      opacity: 0.8;
    }
  }
}
.hints {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: calc(var(--button-dimension-52px) + var(--distance-4px));
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-12px);
  background-color: var(--plain-white);
  padding: var(--distance-12px) 0;
  box-shadow: var(--box-shadow);
  border: var(--border-primary);
  &__item {
    display: flex;
    align-items: center;
    gap: var(--distance-10px);
    height: var(--distance-32px);
    padding: 0 var(--distance-16px) 0 var(--distance-14px);
    @include hover {
      background-color: var(--neutral50);
    }
    &__icon {
      display: flex;
      > svg {
        width: var(--distance-15px);
      }
    }
    &__text {
      display: flex;
      flex-grow: 1;
      > span {
        color: var(--text-color-variant);
        white-space: pre-wrap;
      }
      > span:last-child {
        color: var(--text-color-normal);
        font-weight: var(--font-weight-inter-semi-bold);
      }
    }
    &__remove {
      display: flex;
      font-size: var(--font-size-13px);
      color: var(--text-color-dimmed);
      @include hover {
        text-decoration: underline;
      }
    }
  }
}
.text {
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-bold);
  font-size: var(--font-size-22px);
  color: var(--TitleBar-primary-foreground);
}
.skeleton {
  width: 100%;
  margin: var(--distance-16px) 0;
  transform: translateX(calc(var(--distance-16px) * -1));
  > span > span {
    width: calc(100% + (var(--distance-16px) * 2));
    height: var(--button-dimension-52px);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
