// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--button-dimension-46px);
  width: 100%;
  border-radius: var(--border-radius-12px);
  border: var(--border-secondary);
  padding: 0 13px 0 12px;
  background-color: var(--outlined-button-background);
  @include transition-150ms(border-color);
  @include hover {
    border-color: var(--neutral250);
  }
  &--toggled {
    border-color: var(--neutral250);
    pointer-events: none;
  }
  &--disabled {
    pointer-events: none;
    opacity: var(--dimmed-opacity);
  }
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  div:first-child {
    font-size: var(--font-size-13px);
    color: var(--text-color-dimmed);
  }
  div:last-child {
    font-weight: var(--font-weight-inter-medium);
  }
}
.arrow {
  svg {
    transform: rotate(-90deg);
    @include transition-150ms(transform);
    height: var(--icon-dimension-12px);
  }
  &--toggled {
    svg {
      transform: rotate(-90deg) scaleX(-1);
    }
  }
}
