// @type
@use '../../../../styles/foundation' as *;

.container {
  height: 100%;
  width: 100%;
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 0 var(--distance-16px);
  @include at768 {
    padding: 0 var(--distance-40px);
  }
}
