// @type
@use '../../../../styles/foundation' as *;

.container {
  background: var(--header-background);
  border-bottom: var(--border-primary);
  @include at768 {
    border-width: var(--border-width-1-5px);
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0 30px 0;
  @include at768 {
    gap: 40px;
    padding: 30px 0 40px 0;
  }
  @include at992 {
    gap: 45px;
    align-items: center;
    padding: 30px 0 80px 0;
  }
  @include at1200 {
    gap: 55px;
    padding: 30px 0 90px 0;
  }
  @include at1380 {
    gap: 60px;
    padding: 30px 0 120px 0;
  }
}
.top {
  display: flex;
  flex-direction: column;
  gap: var(--distance-10px);
  @include at992 {
    text-align: center;
    align-items: center;
  }
  &__logo {
    @include to992 {
      display: none;
    }
    > svg {
      fill: var(--brand-color);
      width: 70px;
      @include at1200 {
        width: 75px;
      }
      @include at1380 {
        width: 85px;
      }
    }
  }
  &__heading {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-plus-jakarta-sans);
    font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
    font-size: 32px;
    @include to992 {
      align-items: flex-start;
    }
    @include at768 {
      font-size: 44px;
    }
    @include at992 {
      align-items: center;
      font-size: 55px;
    }
    @include at1200 {
      font-size: var(--font-size-64px);
    }
    @include at1380 {
      font-size: var(--font-size-72px);
    }
    &__first-line {
      --emoji-width: 34px;
      white-space: nowrap;
      position: relative;
      margin-right: var(--emoji-width);
      @include at768 {
        --emoji-width: 55px;
      }
      @include at1200 {
        --emoji-width: 75px;
      }
      @include at1380 {
        --emoji-width: 85px;
      }
      > span {
        z-index: 1;
        position: relative;
        display: inline-block;
      }
      &__head {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        transform: rotate(15deg) translateX(calc(100% - 0.28em))
          translateY(-0.28em);
        @include at768 {
          transform: rotate(15deg) translateX(calc(100% - 0.28em))
            translateY(-0.28em);
        }
        @include at1200 {
          transform: rotate(15deg) translateX(calc(100% - 0.28em))
            translateY(-0.28em);
        }
        @include at1380 {
          transform: rotate(15deg) translateX(calc(100% - 20px))
            translateY(-22px);
        }
        > svg {
          width: var(--emoji-width);
        }
      }
      &__hands {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        transform: rotate(15deg) translateX(calc(100% - 8px)) translateY(-4px);
        @include at768 {
          transform: rotate(15deg) translateX(calc(100% - 11px))
            translateY(-5px);
        }
        @include at1200 {
          transform: rotate(15deg) translateX(calc(100% - 16px))
            translateY(-9px);
        }
        @include at1380 {
          transform: rotate(15deg) translateX(calc(100% - 18px))
            translateY(-10px);
        }
        > svg {
          width: calc(var(--emoji-width) * 0.95);
        }
      }
    }
  }
  &__subheading {
    font-family: var(--font-family-plus-jakarta-sans);
    font-weight: var(--font-weight-plus-jakarta-sans-bold);
    font-size: var(--font-size-18px);
    @include at768 {
      font-size: var(--font-size-22px);
    }
    @include at1200 {
      font-size: var(--font-size-24px);
    }
    @include at1380 {
      font-size: var(--font-size-28px);
    }
  }
}
.claim-username {
  display: flex;
  gap: var(--distance-8px);
  @include to768 {
    flex-direction: column;
  }
  @include at768 {
    gap: var(--distance-16px);
  }
  &__input {
    position: relative;
    &::before {
      content: 'taaabs.com/';
      position: absolute;
      top: 50%;
      pointer-events: none;
      transform: translateX(var(--distance-13px)) translateY(-50%);
      font-size: var(--font-size-16px);
      @include at768 {
        transform: translateX(var(--distance-16px)) translateY(-50%);
        font-size: var(--font-size-17px);
      }
      @include at992 {
        transform: translateX(var(--distance-18px)) translateY(-50%);
        font-size: var(--font-size-19px);
      }
    }
    > input {
      border: var(--border-secondary);
      border-radius: var(--border-radius-12px);
      padding: 0 var(--distance-18px) 0 107px;
      @include transition-150ms(border-color);
      height: 40px;
      width: 100%;
      @include at768 {
        padding: 0 var(--distance-18px) 0 116px;
        border-width: var(--border-width-1-5px);
        font-size: var(--font-size-19px);
        width: 280px;
        height: 100%;
      }
      @include at992 {
        padding: 0 var(--distance-18px) 0 128px;
      }
      &::before {
        content: 'taaabs.com';
      }
      &:hover {
        border-color: var(--border-color-hover);
      }
      &:focus {
        border-color: var(--brand-color);
      }
    }
  }
}
.checks {
  display: flex;
  gap: var(--distance-15px);
  justify-content: center;
  @include to992 {
    flex-direction: column;
  }
  @include at768 {
    gap: var(--distance-20px);
  }
  @include at992 {
    gap: var(--distance-40px);
  }
  @include at992 {
  }
  &__item {
    display: flex;
    align-items: flex-start;
    gap: var(--distance-12px);
    font-size: var(--font-size-16px);
      @include at768 {
        font-size: var(--font-size-18px);
      }
      @include at1380 {
        font-size: var(--font-size-20px);
      }
    > svg {
      flex-shrink: 0;
      width: var(--icon-dimension-18px);
      fill: var(--brand-color);
      margin-top: 0.25em;
      @include at768 {
        width: var(--icon-dimension-20px);
      }
      @include at1380 {
        width: var(--icon-dimension-22px);
      }
    }
  }
}
