// @type
@use '../../../../styles/foundation' as *;

.container {
  background: var(--header-background);
  border-bottom: var(--border-primary);
  background: radial-gradient(
    circle at 40% 70%,
    var(--blue50) 0%,
    var(--white) 50%
  );
  @include at768 {
    background: radial-gradient(
      circle at 30% 70%,
      var(--blue50) 0%,
      var(--white) 50%
    );
  }
  @include at992 {
    background: radial-gradient(
      circle at 50% 70%,
      var(--blue50) 0%,
      var(--white) 50%
    );
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0 30px 0;
  @include at768 {
    gap: 40px;
    padding: 30px 0 40px 0;
  }
  @include at992 {
    gap: 45px;
    align-items: center;
    padding: 30px 0 80px 0;
  }
  @include at1200 {
    gap: 55px;
    padding: 30px 0 90px 0;
  }
  @include at1380 {
    gap: 60px;
    padding: 30px 0 120px 0;
  }
}
.top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include at992 {
    text-align: center;
    align-items: center;
  }
  &__logo {
    @include to992 {
      display: none;
    }
    > svg {
      fill: var(--brand-color);
      width: 70px;
      @include at1200 {
        width: 75px;
      }
      @include at1380 {
        width: 85px;
      }
    }
  }
  &__heading {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-plus-jakarta-sans);
    font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
    font-size: clamp(32px, 9vw, 44px);
    @include to992 {
      align-items: flex-start;
    }
    @include at992 {
      align-items: center;
      font-size: clamp(var(--font-size-55px), 5.5vw, var(--font-size-72px));
    }
    &__first-line {
      --emoji-width: clamp(40px, 11vw, 52px);
      @include at992 {
        --emoji-width: clamp(60px, 6.5vw, 85px);
      }
      position: relative;
      margin-right: var(--emoji-width);
      &__hugging-face {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(120%) translateY(14%);
        > svg {
          width: var(--emoji-width);
          transform: rotate(15deg);
        }
      }
    }
  }
  &__subheading {
    font-weight: var(--font-weight-inter-medium);
    font-size: clamp(17px, 4.5vw, 22px);
    @include to992 {
      max-width: 90%;
    }
    @include at992 {
      font-size: clamp(22px, 2.1vw, 28px);
    }
  }
}
.claim-username {
  display: flex;
  gap: 8px;
  @include to768 {
    flex-direction: column;
  }
  @include at768 {
    gap: 16px;
  }
  &__input {
    position: relative;
    &::before {
      content: 'taaabs.com/';
      font-weight: var(--font-weight-inter-medium);
      position: absolute;
      top: 50%;
      pointer-events: none;
      transform: translateX(13px) translateY(-50%);
      @include at768 {
        transform: translateX(16px) translateY(-50%);
        font-size: var(--font-size-17px);
      }
      @include at992 {
        transform: translateX(18px) translateY(-50%);
        font-size: var(--font-size-19px);
      }
    }
    > input {
      background-color: var(--white);
      border: 1.5px solid var(--neutral200);
      border-radius: var(--border-radius-12px);
      padding: 0 18px 0 102px;
      @include transition-150ms();
      height: 40px;
      width: 100%;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
      @include at768 {
        padding: 0 18px 0 118px;
        font-size: var(--font-size-19px);
        width: 280px;
        height: 100%;
      }
      @include at992 {
        padding: 0 18px 0 131px;
      }
      &:hover {
        border-color: var(--neutral250);
      }
      &:focus {
        box-shadow: inset 0 1px 3px var(--blue100);
        border-color: var(--blue400);
      }
    }
  }
  &__button {
    position: relative;
    &__incentive {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(100%);
      padding-top: var(--padding-8px);
      color: var(--text-color-dimmed);
      white-space: nowrap;
    }
  }
}
.checks {
  display: flex;
  gap: 15px;
  justify-content: center;
  @include to992 {
    flex-direction: column;
  }
  @include at768 {
    gap: 20px;
  }
  @include at992 {
    gap: 40px;
  }
  @include at992 {
  }
  &__item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    @include at768 {
      font-size: var(--font-size-18px);
    }
    @include at1380 {
      font-size: var(--font-size-20px);
    }
    > svg {
      flex-shrink: 0;
      width: var(--icon-dimension-16px);
      fill: var(--brand-color);
      margin-top: 0.25em;
      @include at768 {
        width: var(--icon-dimension-20px);
      }
      @include at1380 {
        width: var(--icon-dimension-22px);
      }
    }
  }
}
