// @type
@use '../../../../../styles/foundation' as *;

.container {
  border-bottom: var(--border-primary);
  background-color: var(--header-transparent-background);
  backdrop-filter: var(--backdrop-filter);
  height: var(--header-desktop-height);
}
.inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 40px;
  position: relative;
}
.left {
  display: flex;
  align-items: center;
  gap: var(--padding-16px);
}
.navigation {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
