// @type
@use '../../../../styles/foundation' as *;

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__item {
    display: flex;
    align-items: center;
    height: var(--button-dimension-48px);
    @include transition-100ms(color);
    color: var(--text-color-dimmed);
    font-size: var(--font-size-20px);
    @include at992 {
      height: var(--button-dimension-52px);
    }
    @include hover {
      color: var(--text-color-normal);
    }
    &--active {
      color: var(--text-color-normal);
      font-weight: var(--font-weight-inter-medium);
    }
  }
}
