// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  padding-top: var(--distance-4px);
  > span {
    margin-bottom: var(--distance-6px);
  }
  > span > span {
    height: var(--distance-28px);
    border-radius: var(--border-radius-4px);
  }
}
