// @type
@use '../../../../web-ui/src/styles/foundation' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

.container {
  min-height: 100vh;
  animation: fade-in 600ms;
}
.wrapper {
  max-width: var(--site-max-width);
  padding: 0 var(--padding-40px);
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}
.inner {
  margin: 0 auto;
  padding-top: calc(var(--padding-16px) + var(--header-desktop-height));
  width: calc(100% - (300px * 2));
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
