// @type
@use '../../../../styles/foundation' as *;

.sortable {
  display: flex;
  flex-direction: column;
  gap: var(--padding-12px);
  margin-bottom: var(--padding-12px);
}
.item {
  display: flex;
  position: relative;
  &__remove {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(40%) translateY(-40%);
    width: 22px;
    height: 22px;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    @include transition-150ms(background-color);
    @include hover {
      background-color: var(--red700);
    }
    > svg {
      fill: var(--white);
      width: 15px;
      transform: rotate(45deg);
    }
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-top-left-radius: var(--border-radius-12px);
    border-bottom-left-radius: var(--border-radius-12px);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 1;
    &__tag {
      color: var(--green800);
      font-weight: var(--font-weight-inter-medium);
      overflow-wrap: anywhere;
      padding: var(--padding-12px) var(--padding-16px);
    }
    &__options {
      display: flex;
      flex-direction: column;
      &__row {
        display: flex;
        justify-content: space-between;
        padding: var(--padding-8px) var(--padding-16px);
        border-top: var(--border-secondary);
        &__label {
          color: var(--text-color-variant);
        }
        &__content {
          height: 0;
          > select {
            background-color: transparent;
            border: none;
            text-align: right;
          }
        }
      }
    }
  }
  &__handle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    padding: 0 var(--padding-8px);
    width: var(--button-dimension-28px);
    background-color: var(--brand-color);
    border-top-right-radius: var(--border-radius-12px);
    border-bottom-right-radius: var(--border-radius-12px);
    box-shadow: var(--box-shadow-blue-strong);
    > svg {
      fill: var(--white);
      width: 9px;
    }
  }
}
.new-link {
  display: flex;
  gap: var(--padding-8px);
  > div:first-child {
    flex-grow: 1;
    > input {
      height: var(--button-dimension-40px);
    }
  }
}
