// @type
@use '../../../../styles/foundation' as *;

.sortable {
  display: flex;
  flex-direction: column;
  gap: var(--padding-12px);
  margin-bottom: var(--padding-12px);
}
.item {
  display: flex;
  position: relative;
  box-shadow: var(--box-shadow-green-strong);
  border-radius: var(--border-radius-12px);
  background-color: var(--green600);
  @include dark {
    background-color: var(--green800);
  }
  &__remove {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(40%) translateY(-40%);
    width: 22px;
    height: 22px;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: var(--box-shadow-red);
    @include transition-150ms(background-color);
    @include hover {
      background-color: var(--red700);
      @include dark {
        background-color: var(--red800);
      }
    }
    > svg {
      fill: var(--white);
      @include dark {
        fill: var(--dark700);
      }
      width: 15px;
      transform: rotate(45deg);
    }
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    &__tag {
      background-color: transparent;
      color: var(--white);
      @include dark {
        color: var(--text-color-normal);
      }
      font-weight: var(--font-weight-inter-medium);
      padding: var(--padding-12px) var(--padding-16px);
      caret-color: var(--white);
      &::selection {
        background-color: var(--green400);
      }
    }
    &__options {
      display: flex;
      flex-direction: column;
      &__row {
        display: flex;
        justify-content: space-between;
        padding: var(--padding-10px) var(--padding-16px);
        border-top: 1px solid var(--green500);
        @include dark {
          border-top: 1px solid var(--green700);
        }
        &__label {
          color: var(--green100);
          @include dark {
            color: var(--green200);
          }
        }
        &__content {
          height: 0;
          > select {
            color: var(--white);
            @include dark {
              color: var(--text-color-normal);
            }
            background-color: transparent;
            border: none;
            text-align: right;
            > option {
              background-color: var(--background);
              color: var(--text-color-normal);
            }
          }
        }
      }
    }
  }
  &__handle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    padding: 0 var(--padding-8px);
    width: var(--button-dimension-34px);
    background-color: var(--green700);
    border-top-right-radius: var(--border-radius-12px);
    border-bottom-right-radius: var(--border-radius-12px);
    @include dark {
      background-color: var(--green900);
    }
    > svg {
      fill: var(--white);
      @include dark {
        fill: var(--dark700);
      }
      width: 9px;
    }
  }
}
.new-tag {
  display: flex;
  gap: var(--padding-12px);
  > div:first-child {
    flex-grow: 1;
  }
}
