// @type
@use '../../../../../../../../styles/foundation' as *;

.container {
  display: inline;
  margin-right: 14px;
  position: relative;
  > span {
    color: var(--accent-color);
    font-weight: var(--font-weight-inter-medium);
  }
  > svg {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    color: var(--accent-color);
  }
  > select {
    position: absolute;
    right: 0;
    font-family: unset;
    text-align: right;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    color: transparent;
    cursor: pointer;
    box-shadow: none;
    height: unset;
    &:focus-visible {
      outline: none;
    }
    option {
      color: initial;
      font-size: var(--font-size-15px);
    }
  }
}
