// @type
@use '../../../../styles/foundation' as *;

.graph {
  border-radius: var(--border-radius-10px);
  background: var(--Months-background);
  border: var(--border-secondary);
  @include transition-100ms(border-color);
  @include hover {
    border: var(--border-primary);
  }
  &__brush {
    > rect:first-of-type {
      stroke: none;
    }
    > g > rect {
      fill: var(--Months-chart-brush-handle-fill);
      rx: var(--border-radius-4px);
    }
    > g > line {
      opacity: 0;
    }
  }
}
