// @type
@use '../../../../styles/foundation' as *;

.graph {
  position: relative;
  border-radius: var(--border-radius-10px);
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: inset 0px 0px 0px 1px var(--border-color-secondary);
  overflow: hidden;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Months-background);
  @include transition-100ms(box-shadow);
  &__details {
    position: absolute;
    z-index: 1;
    top: var(--distance-5px);
    left: var(--distance-13px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__title {
      font-size: var(--font-size-13px);
      color: var(--text-color-dimmed);
    }
    &__current-range {
      font-weight: var(--font-weight-inter-medium);
    }
    &__counts {
      position: absolute;
      display: flex;
      gap: var(--distance-6px);
      margin-top: 48px;
      background-color: var(--Months-chart-counts-background);
      padding: var(--distance-1px) var(--distance-6px) var(--distance-1px)
        var(--distance-6px);
      border-radius: var(--border-radius-4px);
      font-size: var(--font-size-13px);
      transform: translateX(calc(var(--distance-5px) * -1));
      font-weight: var(--font-weight-inter-medium);
      > div {
        position: relative;
        padding-left: var(--distance-12px);
      }
      > div::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 6px;
      }
      &__total::before {
        background: var(--Months-chart-stroke);
      }

      &__starred::before {
        background: var(--Months-chart-starred-fill);
      }
      &__nsfw::before {
        background: var(--Months-chart-nsfw-stroke);
      }
    }
  }
  &__info {
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--text-color-dimmed);
    text-align: center;
    font-size: var(--font-size-13px);
    padding: 0 var(--distance-16px);
    align-items: flex-end;
    padding-bottom: var(--distance-32px);
  }
  &__clear {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: var(--distance-8px);
    right: var(--distance-3px);
    height: var(--button-dimension-34px);
    width: var(--button-dimension-34px);
    @include transition-100ms(border-color);
    svg {
      width: var(--icon-dimension-16px);
      height: var(--icon-dimension-16px);
      transform: rotate(45deg);
    }
  }
  &__recharts {
    width: 100%;
    svg {
      transform: translateY(41px);
    }
    &__brush {
      transform: translateY(-47px) scale(0.9);
      transform-origin: center;
      @include hover {
        > g > rect {
          stroke: var(--Months-chart-brush-handle-hover);
        }
        > g > line {
          stroke: var(--Months-chart-brush-handle-hover);
        }
      }
      > rect:first-of-type {
        stroke: none;
      }
      > g > rect {
        @include transition-100ms(stroke);
        fill: var(--Months-chart-brush-handle-fill);
        rx: var(--border-radius-8px);
        stroke: var(--Months-chart-brush-handle);
      }
      > g > line {
        @include transition-100ms(stroke);
        stroke: var(--Months-chart-brush-handle);
        &:first-of-type {
          transform: translateY(-0.6px);
        }
        &:last-of-type {
          transform: translateY(0.6px);
        }
      }
    }
  }
}
