// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: var(--distance-20px);
  border-radius: var(--border-radius-30px);
  border: var(--border-secondary);
  padding: 0 var(--distance-40px);
  background-color: var(--white);
  &--featured {
    border-color: var(--brand-color);
    border-width: 2px;
  }
}
.top {
  display: flex;
  flex-direction: column;
  padding-top: var(--distance-32px);
  &__name {
    color: var(--brand-color);
    font-size: var(--font-size-34px);
    font-family: var(--font-family-plus-jakarta-sans);
    font-weight: var(--font-weight-plus-jakarta-sans-bold);
  }
  &__description {
    color: var(--text-color-variant);
    font-size: var(--font-size-17px);
  }
}
.price {
  display: flex;
  align-items: center;
  gap: var(--distance-10px);
  &__cost {
    font-size: var(--font-size-40px);
    font-family: var(--font-family-plus-jakarta-sans);
    font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
  }
  &__info {
    display: flex;
    flex-direction: column;
    color: var(--text-color-dimmed);
    font-size: var(--font-size-14px);
  }
}
.bullets {
  display: flex;
  flex-direction: column;
  gap: var(--distance-14px);
  &__heading {
    color: var(--text-color-variant);
    font-size: var(--font-size-19px);
    font-weight: var(--font-weight-inter-regular);
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--distance-14px);
    &__item {
      display: flex;
      align-items: center;
      gap: var(--distance-10px);
      > span {
        font-size: var(--font-size-19px);
        font-weight: var(--font-weight-inter-medium);
      }
      &__check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--distance-30px);
        height: var(--distance-30px);
        background: var(--brand-color);
        border-radius: var(--border-radius-999px);
        > svg {
          fill: var(--white);
          width: var(--icon-dimension-16px);
        }
      }
    }
  }
}
.button {
  display: flex;
  justify-content: center;
  padding-top: var(--distance-24px);
  padding-bottom: var(--distance-50px);
}
