// @type
@use '../../../../styles/foundation' as *;

.container {
  width: 100%;
  border-radius: var(--border-radius-12px);
  background-color: var(--SimpleSelectDropdown-background);
  display: flex;
  flex-direction: column;
  border: var(--border-primary);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}
.toggler {
  height: calc(var(--button-dimension-46px) + var(--distance-4px));
  cursor: pointer;
}
.item {
  padding: var(--distance-8px) var(--distance-16px) var(--distance-8px)
    var(--distance-13px);
  border-top: var(--border-secondary);
  border-width: 1px;
  display: flex;
  align-items: center;
  @include transition-100ms;
  @include hover {
    background-color: var(--SimpleSelectDropdown-background-hover);
    border-top: var(--border-primary);
    & + .item {
      border-top: var(--border-primary);
    }
  }
  &:first-of-type {
    border-top: none;
  }
  > span {
    white-space: nowrap;

  }
  &__icon {
    margin-right: var(--distance-11px);
    display: flex;
    align-items: center;
    width: var(--icon-dimension-13px);
    svg {
      width: var(--icon-dimension-13px);
    }
  }
  &--with-checkbox {
    padding: var(--distance-8px) var(--distance-16px) var(--distance-8px)
      var(--distance-8px);
  }
  &--disabled {
    pointer-events: none;
    > * {
      opacity: 0.4;
    }
  }
  &__checkbox {
    margin-right: var(--distance-6px);
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-4px);
    background-color: var(--SimpleSelectDropdown-checkbox-background);
    padding: var(--distance-4px);
    border: 1px solid var(--SimpleSelectDropdown-checkbox-border-color);
    svg {
      fill: var(--SimpleSelectDropdown-checkbox-foreground);
      visibility: hidden;
      width: var(--icon-dimension-12px);
      height: var(--icon-dimension-12px);
    }
    &--checked {
      svg {
        visibility: visible;
      }
    }
  }
}
