// @type

.container {
  display: flex;
  flex-direction: column;
  padding: var(--padding-16px);
  column-gap: var(--padding-40px);
  row-gap: var(--padding-24px);
  background-color: var(--background);
  @include at768 {
    padding: var(--padding-32px) var(--padding-40px) var(--padding-40px)
      var(--padding-40px);
  }
  @include at992 {
    display: grid;
    grid-template: 'title tags' 'note tags' 'links links' / 1fr 1fr;
  }
}
.title {
  grid-area: title;
}
.note {
  grid-area: note;
}
.tags {
  grid-area: tags;
}
.cover {
  grid-area: cover;
}
.links {
  grid-area: links;
}
