// @type

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: white;
  background: var(--accent-color);
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-bold);
  border-radius: var(--border-radius-999px);
  height: var(--button-size-40px);
  padding: 0 16px;
  font-size: var(--font-size-16px);
  border: none;
  @include hover {
    // Color set to fix issues with extension's popup on some websites.
    color: white;
    background-color: var(--blue800);
    @include dark {
      background-color: var(--blue700);
    }
  }
  &:focus-visible {
    outline: 1.5px solid var(--blue400);
    outline-offset: 2px;
  }
  span {
    padding-bottom: 0.07em;
  }
  &--disabled,
  &:disabled {
    opacity: var(--dimmed-opacity);
    pointer-events: none;
  }
  &--danger {
    background-color: var(--red);
    @include hover {
      background: var(--red700);
      @include dark {
        background-color: var(--red800);
      }
    }
    &:focus-visible {
      outline-color: var(--red300);
    }
  }
  &--small {
    height: var(--button-size-34px);
    font-size: var(--font-size-13px);
    padding: 0 14px;
  }
  &--medium {
    @include at768 {
      font-size: var(--font-size-17px);
      height: 2.5em;
      padding: 0 1em;
    }
    @include at1200 {
      font-size: var(--font-size-19px);
    }
  }
  &--large {
    height: var(--large-button-size);
    font-size: clamp(var(--font-size-17px), 1.38vw, var(--font-size-22px));
    padding: 0 1.2em;
  }
  &--outlined {
    background-color: transparent !important;
    border: 1.5px solid var(--border-color-primary);
    color: var(--black) !important;
    @include transition-150ms(border-color);
    @include hover {
      border-color: var(--border-color-hover);
    }
    &:focus-visible {
      outline-color: var(--blue400);
    }
    &.container--danger {
      border-color: var(--red);
      color: var(--red);
      @include hover {
        background-color: var(--red);
        color: var(--white);
        @include dark {
          background-color: var(--red800);
          color: white;
        }
      }
      &:focus-visible {
        outline-color: var(--red300);
      }
    }
  }
}
