// @type
@use '../../../../styles/foundation' as *;

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  backdrop-filter: var(--backdrop-filter);
  background-color: rgba(17, 17, 17, 0.4);
  opacity: 0;
  &--visible {
    pointer-events: all;
    opacity: 1;
    @include transition-100ms(opacity);
  }
  @include to992 {
    align-items: flex-end;
  }
  @include at992 {
    align-items: center;
  }
  &__inner {
    background-color: white;
    overflow: hidden;
    @include to768 {
      transform: translateY(var(--distance-8px));
    }
    @include at768 {
      border-radius: var(--border-radius-14px);
      transform: scale(0.98);
    }
    @include to992 {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    @include at992 {
      border-radius: var(--border-radius-20px);
    }
    &--visible {
      @include transition-100ms(transform);
      @include to768 {
        transform: translateY(0);
      }
      @include at768 {
        transform: scale(1);
      }
    }
  }
}
