// @type
@use '../../../../styles/foundation' as *;

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  backdrop-filter: blur(0);
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  &--visible {
    pointer-events: all;
    opacity: 1;
    backdrop-filter: var(--backdrop-filter);
    transition-property: opacity, backdrop-filter;
    transition-timing-function: var(--transition-timing-function);
    transition-duration: var(--transition-duration-150ms);
  }
  @include to992 {
    align-items: flex-end;
  }
  @include at992 {
    align-items: center;
  }
  &__inner {
    background-color: var(--background);
    overflow: hidden;
    border-radius: var(--border-radius-14px);
    transform: translateY(20px);
    box-shadow: var(--box-shadow-long);
    @include to992 {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    @include at992 {
      border-radius: var(--border-radius-20px);
    }
    &--visible {
      @include transition-150ms(transform);
      transform: translateY(0);
    }
  }
}
