// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 16px;
  position: relative;
}
.count {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text-color-dimmed);
  font-size: var(--font-size-13px);
  &--limit-reached {
    color: var(--text-color-variant);
  }
}
.tag {
  display: inline-flex;
  font-family: var(--font-family-inter-tight);
  font-size: var(--font-size-1-4rem);
  overflow-wrap: anywhere;
  text-align: left;
  span:first-child {
    @include hover {
      @include text-decoration-underline;
    }
  }
  span:first-child {
    color: var(--green700);
    font-weight: var(--font-weight-inter-tight-medium);
  }
  span:last-child {
    color: var(--text-color-dimmed);
    margin-left: 3px;
  }
}
