// @type
@use '../../../../styles/foundation' as *;

.items {
  display: flex;
  flex-direction: column;
  margin-top: var(--distance-4px); // Room for stars in first item.
}
.item {
  position: relative;
  height: var(--distance-32px);
  border-radius: var(--border-radius-8px);
  border: var(--border-secondary);
  background-color: var(--white);
  margin: var(--distance-2px) 0;
  &--dragging {
    background-color: var(--border-color-secondary);
    cursor: grabbing;
  }
  &__stars {
    position: absolute;
    top: 0;
    right: var(--distance-2px);
    transform: translateY(-4px);
    display: inline-flex;
    margin-right: var(--distance-4px);
    gap: var(--distance-1px);
    > svg {
      fill: var(--yellow);
      width: var(--distance-10px);
    }
  }
  &__inner {
    display: flex;
    height: 100%;
    align-items: center;
    gap: var(--distance-8px);
    overflow: hidden;
    padding: 0 8px;
    position: relative;
    &__favicon {
      flex-shrink: 0;
    }
    &__title {
      font-family: var(--font-family-inter-tight);
      font-size: var(--font-size-14px);
      display: -webkit-box;
      word-wrap: break-word;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      @include hover {
        @include text-decoration-underlinie-thin;
      }
      &--unread {
        font-weight: var(--font-weight-inter-tight-medium);
      }
      &--via-wayback {
        font-style: italic;
      }
    }
    &__unread {
      position: absolute;
      top: calc(50% - 1px);
      left: -13.5px;
      display: inline-block;
      width: var(--distance-12px);
      height: var(--distance-12px);
      background-color: var(--red);
      border-radius: 3.2px;
      transform: rotate(45deg) translateY(-50%);
      transform-origin: center;
    }
  }
}
