// @type
@use '../../../../styles/foundation' as *;

.items {
  display: flex;
  flex-wrap: wrap;
  gap: var(--distance-8px);
}
.item {
  background-color: var(--white);
  border: var(--border-secondary);
  display: flex;
  align-items: center;
  gap: var(--distance-6px);
  padding: 0 var(--distance-7px);
  min-height: var(--distance-32px);
  border-radius: var(--distance-16px);
  position: relative;
  @include transition-150ms(background-color);
  &--dragging {
    background-color: var(--border-color-secondary);
    cursor: grabbing;
  }
  &__favicon {
    align-self: self-start;
    height: var(--distance-30px);
    display: flex;
    align-items: center;
    flex-shrink: 0;
    &--not-relevant {
      opacity: var(--dimmed-opacity);
    }
  }
  &__title {
    display: flex;
    align-items: flex-start;
    padding: var(--distance-4px) var(--distance-2px) var(--distance-4px) 0;
    & > span {
      font-family: var(--font-family-inter-tight);
      @include hover {
        @include text-decoration-underlinie-thin;
      }
    }
    &--unread > span {
      font-weight: var(--font-weight-inter-tight-medium);
    }
    &__unread {
      width: var(--distance-6px);
      height: var(--distance-6px);
      background-color: var(--red);
      border-radius: 50%;
      margin-top: 1.5px;
      margin-left: var(--distance-2px);
    }
  }
  &__stars {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-7px, -5px);
    display: flex;
    align-items: center;
    display: flex;
    gap: var(--distance-2px);
    > svg {
      fill: var(--yellow);
      width: var(--distance-10px);
    }
  }
  &__unread {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(1px, 3px);
    display: flex;
    align-items: center;
    width: var(--distance-7px);
    height: var(--distance-7px);
    border-radius: 50%;
    background-color: var(--red);
  }
}
