// @type
@use '../../../../../../styles/foundation' as *;

.container {
  --_aside-width: 26vw;
  --_collapsed_aside_width: 58px;
  --_collapsed_hovered_aside_width: calc(var(--_collapsed_aside_width) + 4px);
  @include at1200 {
    --_aside-width: 300px;
  }
  position: relative;
}
.toolbar {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 2;
  width: 100%;
  bottom: 0;
  pointer-events: none;
  @include at992 {
    bottom: 24px;
  }
  > div {
    pointer-events: all;
    @include to992 {
      padding: 16px 0;
    }
  }
}
.content {
  @include at992 {
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-width: var(--site-max-width);
    margin: 0 auto;
    padding: 0 16px;
    @include at1200 {
      padding: 0 40px;
    }
    &::before {
      position: fixed;
      content: '';
      top: 0;
      left: 0;
      width: 100vw;
      height: var(--header-desktop-height);
      background-color: var(--header-background);
    }
  }
}
.sidebar {
  position: relative;
  @include at992 {
    width: var(--_aside-width);
  }
  &--collapsed {
    width: var(--_collapsed_aside_width);
  }
  &--hidden {
    pointer-events: none;
    > div {
      display: none;
    }
  }
  &__inner {
    width: 100%;
    position: fixed;
    top: var(--header-mobile-height);
    @include to992 {
      z-index: 1;
      background: var(--background);
      height: 100vh;
      padding-right: 1px; // Main sheet's border is made of shadow so we need to account for that
    }
    @include at992 {
      width: var(--_aside-width) !important;
      top: var(--header-desktop-height);
      padding-top: 16px;
      padding-right: 6px;
      &::after {
        pointer-events: none;
        opacity: 0;
        background-image: linear-gradient(
          to right,
          transparent,
          var(--background) 60px
        );
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
      }
    }
    @include at1200 {
      padding-top: 16px;
      padding-right: 22px;
    }
    &--collapsed {
      > div:nth-child(2) {
        @include at992 {
          opacity: 0.4;
          @include transition-150ms(opacity);
        }
      }
      @include at992 {
        overflow: hidden;
        &::after {
          opacity: 1;
          pointer-events: all;
          margin-top: calc(
            var(--padding-16px) + var(--search-desktop-height) +
              var(--padding-16px)
          );
        }
      }
    }
    &--collapsed-hovered {
      > div:nth-child(2) {
        @include at992 {
          opacity: 0.6;
        }
      }
    }
    &__desktop-actions {
      @include to992 {
        display: none;
      }
      height: 52px;
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      @include at992 {
        margin-right: 10px;
      }
      &__collapse-button {
        display: flex;
        align-items: center;
        width: 42px;
        height: var(--button-dimension-40px);
        > svg {
          fill: var(--accent-color);
        }
        > svg:first-child {
          height: 20px;
        }
        > svg:last-child {
          height: 12px;
          margin-left: 4px;
          @include transition-250ms(transform);
        }
        @include hover {
          > svg:last-child {
            transform: translateX(-2px);
          }
        }
        &--collapsed {
          > svg:last-child {
            transform: ScaleX(-1);
          }
          @include hover {
            > svg:last-child {
              transform: ScaleX(-1) translateX(-2px);
            }
          }
        }
      }
      &__welcome-text {
        padding-left: 8px;
      }
    }
  }
}
.main {
  @include to992 {
    background: var(--background);
    min-height: 100vh;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
      box-shadow: -1px 0 0 0 var(--border-color-primary);
      opacity: var(--dimmed-opacity);
      position: absolute;
    }
    &::after {
      content: '';
      width: 1px;
      height: 100%;
      top: 0;
      right: 0;
      box-shadow: 1px 0 0 0 var(--border-color-primary);
      opacity: var(--dimmed-opacity);
      position: absolute;
    }
  }
  @include at992 {
    flex: 1;
    transform: translateX(0px) !important;
    margin-top: var(--header-desktop-height);
  }
  &__inner {
    height: 100%;
    @include to992 {
      padding-top: var(--header-mobile-height);
    }
    @include at992 {
      background-color: var(--background);
      @include transition-250ms(transform);
      transform-origin: right;
    }
    &--dimmed {
      @include to992 {
        opacity: var(--dimmed-opacity);
      }
    }
    &__mobile-use-info {
      @include at992 {
        display: none;
      }
    }
    &__sticky {
      position: sticky;
      display: flex;
      align-items: center;
      gap: var(--padding-8px);
      z-index: 2;
      top: calc(var(--header-mobile-height) + var(--padding-8px));
      @include to992 {
        padding: 0 var(--padding-8px);
        margin: var(--padding-8px) 0;
      }
      @include at992 {
        top: calc(var(--header-desktop-height) + var(--padding-16px));
        margin: var(--padding-16px) 0;
      }
      > div:first-child {
        flex: 1;
      }
      &__toggler {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--button-dimension-34px);
        height: var(--button-dimension-34px);
        border-radius: 50%;
        background-color: var(--accent-color);
        box-shadow: var(--box-shadow-blue-strong);
        margin-right: 5px;
        @include at992 {
          display: none;
        }
        > svg {
          width: var(--icon-dimension-18px);
          fill: white;
        }
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: var(--text-color-dimmed);
      width: 100%;
      font-size: var(--font-size-13px);
      padding: 0 16px;
      margin-bottom: 44px;
      height: 200px;
      @include at992 {
        margin-bottom: 76px;
        height: 300px;
      }
      button {
        @include hover {
          @include text-decoration-underline;
        }
      }
    }
  }
}
.aside {
  @include to992 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: var(--header-mobile-height);
    padding-left: 1px;
  }
  @include at992 {
    margin-top: var(--header-desktop-height);
    width: var(--_aside-width) !important;
  }
  &--hidden {
    pointer-events: none;
    > div {
      display: none;
    }
  }
  &__inner {
    height: 100%;
    @include to992 {
      overflow: auto;
      background: var(--Library-background);
    }
  }
}
.dimmed {
  pointer-events: none;
  opacity: var(--opacity-loading);
}
