// @type
@use '../../../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  border-bottom: var(--border-primary);
  padding: var(--padding-8px) var(--padding-16px);
  @include at768 {
    padding: var(--padding-10px) var(--padding-40px);
  }
}
.title {
  color: var(--color-text--normal);
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-bold);
  letter-spacing: var(--letter-spacing-logo);
  font-size: var(--font-size-20px);
  @include at768 {
    font-size: var(--font-size-22px);
  }
}
