// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  margin-bottom: var(--padding-12px);
  gap: 6px;
}
.count {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text-color-dimmed);
  font-size: var(--font-size-13px);
  &--limit-reached {
    color: var(--text-color-variant);
  }
}
.tag {
  display: inline-flex;
  align-items: center;
  border-radius: var(--border-radius-999px);
  height: var(--button-size-28px);
  padding: var(--padding-10px);
  font-size: var(--font-size-1-4rem);
  overflow-wrap: anywhere;
  font-family: var(--font-family-inter-tight);
  font-weight: var(--font-weight-inter-tight-medium);
  color: var(--white);
  background-color: var(--green600);
  @include dark {
    background-color: var(--green700);
    color: var(--text-color-normal);
  }
  @include hover {
    background-color: var(--green700);
    @include dark {
      background-color: var(--green800);
    }
  }
  @include transition-150ms;
}
