// @type
@use '../../styles/foundation' as *;

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 4;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  align-items: center;
  pointer-events: none;
  &--visible {
    pointer-events: all;
    opacity: 1;
    background-color: var(--background);
  }
  &__inner {
    overflow: hidden;
    max-width: 840px;
    width: 100%;
    background-color: var(--white);
    border-left: var(--border-secondary);
    border-right: var(--border-secondary);
    @include dark {
      background-color: var(--dark100);
    }
  }
}
