// @type
@use '../../styles/foundation' as *;

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 4;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  align-items: center;
  pointer-events: none;
  &--visible {
    pointer-events: all;
    opacity: 1;
    backdrop-filter: var(--backdrop-filter-strong);
    transition-property: opacity, backdrop-filter;
    transition-timing-function: var(--transition-timing-function);
    transition-duration: var(--transition-duration-150ms);
  }
  &__inner {
    overflow: hidden;
    max-width: 840px;
    width: 100%;
    background-color: var(--white);
    border-left: var(--border-primary);
    border-right: var(--border-primary);
    @include dark {
      background-color: var(--dark100);
    }
  }
}
