// @type

.container {
  display: flex;
  gap: clamp(12px, 1vw, 16px);
}
.github {
  position: relative;
  > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--large-button-size);
    width: var(--large-button-size);
    background-color: black;
    border-radius: var(--border-radius-999px);
    @include transition-150ms(transform);
    @include hover {
      transform: scale(0.95);
    }
    > svg {
      fill: white;
      height: clamp(22px, 2vw, 32px);
    }
  }
}
