// @type
@use '../../../../styles/foundation' as *;

.container {
  width: 100%;
  > div > ol {
    border: none !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    > li > div .tag__spacer {
      display: none;
    }
  }
}
.collapse {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-dimension-34px);
  padding-left: 5px;
  padding-right: 10px;
  svg {
    transform: rotate(-90deg);
    height: var(--distance-12px);
    fill: var(--brand-color);
  }
  &--collapsed svg {
    transform: rotate(180deg);
  }
}
.tag {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  &__spacer {
    width: var(--distance-20px);
    margin-right: var(--distance-3px);
    height: var(--distance-1px);
    background-color: var(--border-color-primary);
    transform: translateX(calc(var(--distance-7px) * -1));
  }
  &__button {
    position: relative;
    height: var(--button-dimension-34px);
    display: flex;
    align-items: center;
    color: var(--text-color-dimmed);
    font-size: var(--font-size-16px);
    @include hover {
      color: var(--text-color-normal);
    }
    &--active {
      color: var(--text-color-normal);
      font-weight: var(--font-weight-inter-medium);
    }
    &--highlighted {
      color: var(--text-color-normal);
    }
  }
}
