// @type
@use '../../../../styles/foundation' as *;

.container {
  width: 100%;
  // Hacky, but needed this way to have sticky elements above in sidebar play nicely on mobile.
  @include to992 {
    > button {
      padding: 0 var(--padding-16px) 0 var(--padding-16px);
    }
    > div {
      margin: 0 var(--padding-16px) 0 var(--padding-12px);
    }
  }
  @include at992 {
    > * {
      padding-right: 10px;
    }
  }
}
.collapse {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-dimension-34px);
  padding-left: 5px;
  padding-right: 10px;
  svg {
    transform: rotate(-90deg);
    height: 12px;
    fill: var(--brand-color);
  }
  &--collapsed svg {
    transform: rotate(180deg);
  }
}
.tag {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
  &__spacer {
    flex-shrink: 0;
    width: 4px;
    height: 4px;
    margin-right: 4px;
    margin-left: 14px;
    border-radius: 50%;
    background-color: var(--brand-color);
    transform: translateX(calc(7px * -1));
  }
  &__button {
    position: relative;
    height: var(--button-dimension-34px);
    display: flex;
    align-items: center;
    width: 100%;
    &--all {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: var(--neutral50);
    }
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    > div > span {
      color: var(--text-color-dimmed);
    }
    > div > span:first-child {
      font-size: var(--font-size-16px);
      @include hover {
        color: var(--text-color-normal);
      }
    }
    > div > span:nth-child(2) {
      color: var(--neutral400);
      font-size: var(--font-size-13px);
    }
    &--active {
      > div > span:first-child {
        color: var(--text-color-normal);
        font-weight: var(--font-weight-inter-medium);
      }
    }
    &--highlighted {
      > div > span:first-child {
        color: var(--text-color-normal);
      }
    }
  }
}
.drop-zone {
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius-12px);
  @include transition-150ms(opacity);
  border: 1px dashed var(--neutral200);
  color: var(--text-color-dimmed);
  transition: color var(--transition-duration-150ms)
      var(--transition-timing-function),
    border-color var(--transition-duration-150ms)
      var(--transition-timing-function),
    background-color var(--transition-duration-150ms)
      var(--transition-timing-function);
  padding: 60px var(--padding-16px);
  font-size: var(--font-size-13px);
  text-align: center;
  margin-top: 4px;
  margin-right: 10px;
  @include to992 {
    display: none;
  }
  &--slim {
    padding: 0;
    height: var(--button-dimension-34px);
  }
  &--active {
    @include hover {
      color: var(--text-color-variant);
      background-color: var(--neutral200);
      border-color: transparent;
    }
  }
}
