// @type
@use '../../../../styles/foundation' as *;

.search-box {
  display: flex;
  align-items: center;
  position: relative;
  background: var(--SearchBox-background);
  height: var(--button-dimension-40px);
  color: var(--text-color-dimmed);
  border-radius: var(--border-radius-999px);
  border: var(--border-secondary);
  max-width: 300px;
  width: 100%;
  padding: 0 var(--distance-12px);
  box-shadow: var(--SearchBox-shadow);
  @include transition-100ms(all);
  cursor: text;
  overflow: hidden;
  @include hover {
    border-color: var(--border-color-hover);
    box-shadow: var(--SearchBox-shadow-hover);
  }
  svg {
    height: var(--icon-dimension-20px);
    width: var(--icon-dimension-20px);
  }
  span {
    white-space: nowrap;
    position: absolute;
    left: var(--distance-40px);
  }
  &::after {
    position: absolute;
    width: var(--distance-40px);
    right: 0;
    height: 100%;
    content: '';
    background: linear-gradient(to left, var(--header-background), transparent);
  }
}
