// @type

.container {
  display: flex;
  flex-direction: column;
  gap: var(--padding-40px);
}
.fields {
  display: flex;
  flex-direction: column;
  gap: var(--padding-16px);
  &__password {
    position: relative;
    > button {
      font-size: var(--font-size-12px);
      color: var(--text-color-dimmed);
      position: absolute;
      right: 0;
      bottom: -20px;
      @include hover {
        @include text-decoration-underlinie-thin;
      }
    }
  }
}
.button {
  @include to992 {
    > button {
      width: 100%;
    }
  }
  @include at992 {
    align-self: flex-end;
  }
}
