// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: var(--distance-6px);
  margin-bottom: var(--distance-14px);
  @include at768 {
    margin-bottom: var(--distance-20px);
  }
  > h1 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-weight: var(--font-weight-plus-jakarta-sans-bold);
    color: var(--brand-color);
    font-size: var(--font-size-24px);
    @include at768 {
      font-size: var(--font-size-26px);
    }
  }
  > p {
    color: var(--text-color-variant);
  }
}
