// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-12px);
}
.label {
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-bold);
  color: var(--accent-color);
  font-size: var(--font-size-20px);
  line-height: 1;
  @include dark {
    color: var(--text-color-normal);
  }
}
