// @type
@use '../../../styles/foundation' as *;

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 4;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  @include dark {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &--visible {
    pointer-events: all;
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: var(--transition-timing-function);
    transition-duration: var(--transition-duration-150ms);
  }
  &__inner {
    overflow: hidden;
    transform: scale(0.95);
    box-shadow: var(--box-shadow-long-strong);
    background-color: black;
    width: 100%;
    @include at992 {
      border-radius: var(--border-radius-20px);
      width: 75vw;
    }
    @include at1380 {
      width: 65vw;
    }
    &--visible {
      @include transition-150ms(transform);
      transform: scale(1);
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  @include dark {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
