// @type
@use '../../../../styles/foundation' as *;

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  &__desktop {
    @include to992 {
      display: none;
    }
  }
  &__mobile {
    @include at992 {
      display: none;
    }
  }
}
.footer-desktop {
  position: relative;
  @include to992 {
    display: none;
  }
}
.mobile-bottom-navigation-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  @include at992 {
    display: none;
  }
}
