// @type
@use '../../../../styles/foundation' as *;

.stickybox {
  @include at992 {
    height: 100%;
  }
  > div {
    @include to992 {
      padding: 0 var(--padding-16px) calc(16px + 36px + 12px)
        var(--padding-16px);
      // Overrides inline values coming from stickybox.
      position: relative !important;
      top: 0 !important;
    }
    @include at992 {
      padding: var(--padding-16px) 0 var(--padding-16px) var(--padding-16px);
    }
    @include at1200 {
      padding: var(--padding-16px) 0 var(--padding-16px) 32px;
    }
  }
}
.container {
  display: flex;
  flex-direction: column;
}
.feedback {
  height: calc(var(--app-bar-height) - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  @include at992 {
    margin-bottom: 16px;
    height: var(--button-dimension-52px);
  }
  > button {
    color: var(--brand-color);
    font-size: var(--font-size-13px);
    @include hover {
      @include text-decoration-underlinie-thin;
    }
  }
}
.slots {
  display: flex;
  flex-direction: column;
  gap: 8px;
  .tags {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
  }
}
.disabled_interactivity {
  // Custom range has its own pointer events styles specified on slider for it to work correctly with mobile swiping.
  pointer-events: none !important;
}
