// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
}
.toolbar {
  height: var(--button-dimension-52px);
  margin-bottom: var(--distance-16px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__menu {
    width: var(--button-dimension-40px);
    height: var(--button-dimension-40px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    svg {
      height: var(--icon-dimension-18px);
      width: var(--icon-dimension-18px);
    }
  }
}
.sort-and-filtering {
  display: flex;
  flex-direction: column;
  gap: var(--distance-8px);
  &__button {
    position: relative;
    &__dropdown {
      position: absolute;
      height: 0;
      bottom: calc(var(--distance-4px) * -1);
      width: 100%;
      z-index: 2;
      opacity: 1;
      @include transition-100ms;
      transform: translateY(0);
      &--hidden {
        opacity: 0;
        transform: translateY(calc(var(--distance-4px) * -1));
        pointer-events: none;
        transition: none;
      }
    }
  }
  .tags {
    margin-top: var(--distance-8px);
    display: flex;
    flex-direction: column;
    gap: var(--distance-12px);
  }
}
