// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
}
.feedback {
  height: calc(var(--app-bar-height) - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  @include at992 {
    margin-bottom: var(--distance-16px);
    height: var(--button-dimension-52px);
  }
  > button {
    color: var(--brand-color);
    font-size: var(--font-size-13px);
    @include hover {
      @include text-decoration-underlinie-thin;
    }
  }
}
.slots {
  display: flex;
  flex-direction: column;
  gap: var(--distance-8px);
  &__button {
    position: relative;
    &__dropdown {
      position: absolute;
      height: 0;
      bottom: calc(var(--distance-4px) * -1);
      width: 100%;
      z-index: 2;
      opacity: 1;
      @include transition-150ms;
      transform: translateY(0);
      &--hidden {
        opacity: 0;
        transform: translateY(calc(var(--distance-4px) * -1));
        pointer-events: none;
        transition: none;
      }
    }
  }
  .tags {
    margin-top: var(--distance-8px);
    display: flex;
    flex-direction: column;
  }
}
