// @type

.toolbar {
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow-blue-strong);
  border-radius: var(--border-radius-999px);
  padding: 4px;
  gap: 3px;
  @include at992 {
    padding: 6px;
    gap: 4px;
  }
  &__toggleable_button {
    font-family: var(--font-family-plus-jakarta-sans);
    font-weight: var(--font-weight-plus-jakarta-sans-bold);
    border-radius: var(--border-radius-999px);
    height: var(--button-size-28px);
    padding: 0 12px;
    display: flex;
    align-items: center;
    color: white;
    @include hover {
      background-color: var(--blue600);
      @include dark {
        background-color: var(--blue500);
      }
    }
    @include to992 {
      font-size: var(--font-size-14px);
    }
    @include at992 {
      height: var(--button-size-40px);
      padding: 0 16px;
    }
    @include at1380 {
      height: var(--button-size-44px);
      padding: 0 18px;
      font-size: var(--font-size-16px);
    }
    &--toggled {
      background-color: white;
      color: var(--blue700);
      @include dark {
        color: var(--blue600);
      }
      @include hover {
        background-color: white;
        @include dark {
          background-color: white;
        }
      }
    }
    > span {
      padding-bottom: 0.05em;
    }
  }
}
