// @type
@use '../../../../styles/foundation' as *;

.navigation {
  display: flex;
  gap: var(--distance-24px);
  @include at1200 {
    gap: var(--distance-40px);
  }
  &__item {
    position: relative;
    height: var(--button-dimension-52px);
    display: flex;
    align-items: center;
    @include at992 {
      height: var(--button-dimension-48px);
      font-size: var(--font-size-20px);
    }
    @include at1200 {
      height: var(--button-dimension-52px);
      font-size: var(--font-size-22px);
    }
    @include hover {
      &::before {
        @include text-decoration-underline;
      }
    }
    &::before {
      content: attr(title);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
    &::after {
      content: '';
      position: absolute;
      background: transparent;
      left: 50%;
      bottom: -0.15em;
      transform: translateX(-50%) translateY(5px);
      border-radius: var(--border-radius-999px);
      width: 7px;
      height: 7px;
      @include transition-150ms;
    }
    > span {
      font-weight: var(--font-weight-inter-medium);
      color: transparent;
    }
    &--active {
      > span {
        color: var(--text-color-normal);
      }
      &::before {
        color: transparent;
      }
      &::after {
        // Transition is purposely on active modifier to avoid rendering
        // two indicators at the same time (one fading out, another in).
        @include transition-250ms;
        background: var(--brand-color);
        transform: translateX(-50%);
      }
    }
  }
}
