// @type

.container {
  display: flex;
  flex-direction: column;
  row-gap: var(--padding-16px);
}
.search {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  > svg {
    fill: var(--neutral500);
    @include dark {
      fill: var(--dark500);
    }
    position: absolute;
    width: var(--icon-dimension-14px);
    margin-left: var(--padding-4px);
    pointer-events: none;
  }
  > input {
    width: 100%;
    border-bottom: 1px solid var(--border-color-primary);
    height: 26px;
    font-size: var(--font-size-14px);
    padding-left: 26px; // Add padding to make space for the icon
    @include dark {
      border-color: var(--dark300);
      &::placeholder {
        color: var(--text-color-dimmed);
      }
    }
  }
  &__focused {
    > input {
      border-bottom: 1px solid var(--border-color-hover);
    }
  }
  &__clear {
    position: absolute;
    right: 0;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    > svg {
      width: 12px;
      fill: var(--black);
      transform: rotate(45deg);
      opacity: 0.7;
    }
    @include hover {
      > svg {
        opacity: 1;
      }
    }
  }
}
.group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
  row-gap: 5px;
  align-items: center;
}
.first-char {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-family: var(--font-family-plus-jakarta-sans);
  font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
  color: var(--blue600);
  @include dark {
    color: var(--blue500);
  }
  width: 22px;
  margin-right: 2px;
  &::before {
    content: '';
    background: var(--blue100);
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: -1;
    border-radius: var(--border-radius-999px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include dark {
      background-color: var(--dark200);
    }
  }
}
.tag {
  display: flex;
  align-items: center;
  padding: 0 var(--padding-8px);
  gap: 4px;
  font-family: var(--font-family-inter-tight);
  overflow-wrap: anywhere;
  text-align: left;
  height: 24px;
  font-size: var(--font-size-13px);
  border-radius: var(--border-radius-999px);
  color: var(--green600);
  background-color: var(--green100);
  @include dark {
    color: var(--green400);
    background-color: var(--green900);
  }
  @include hover {
    background-color: var(--green200);
    @include dark {
      background-color: var(--green800);
    }
  }
  > span:first-child {
    font-weight: var(--font-weight-inter-tight-medium);
  }
  > span:last-child {
    opacity: 0.8;
  }
}
