// @type
@use '../../../styles/foundation' as *;

.container {
  display: flex;
  line-height: 1.6;
  font-size: var(--font-size-1-6rem);
  @include at992 {
    font-size: var(--font-size-1-7rem);
  }
}
