// @type
@use '../../../styles/foundation' as *;

.container {
  display: flex;
  line-height: var(--line-height-1-6);
  font-size: var(--font-size-1-6rem);
  padding: var(--padding-16px);
  @include at992 {
    font-size: var(--font-size-1-7rem);
    padding: var(--padding-60px);
  }
}
