// @type
@use '../../../../../../../styles/foundation' as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-dimension-40px);
  min-width: var(--button-dimension-40px);
  border-radius: 20px;
  @include transition-150ms(background-color);
  @include hover {
    background-color: var(--transparent-hover-background);
  }
  > span {
    padding-left: 14px;
    padding-right: 7px;
    font-weight: var(--font-weight-inter-medium);
  }
  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0 3px;
    > img {
      width: 100%;
      height: 100%;
      z-index: 0;
    }
    &__blurhash {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  &__icon {
    padding-right: 9px;
    height: 100%;
    display: flex;
    align-items: center;
    > svg {
      fill: var(--black);
      width: var(--icon-dimension-20px);
      height: var(--icon-dimension-20px);
    }
  }
}
