// @type
@use '../../../../styles/foundation' as *;

.billing-cycle {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  @include at768 {
    margin-bottom: 60px;
  }
  &__box {
    border-radius: var(--border-radius-12px);
    outline: 1px solid var(--neutral150);
    outline-offset: 3px;
    display: flex;
    position: relative;
    @include transition-150ms(outline-color);
    @include hover {
      outline-color: var(--neutral250);
    }
    @include at768 {
      border-radius: var(--border-radius-14px);
    }
    &__selection {
      background-color: var(--white);
      border-radius: var(--border-radius-12px);
      box-shadow: var(--box-shadow-strong);
      position: absolute;
      height: 100%;
      right: 0;
      z-index: -1;
      @include transition-250ms;
      @include at768 {
        border-radius: var(--border-radius-14px);
      }
    }
    &__option {
      display: flex;
      align-items: center;
      gap: 12px;
      color: var(--text-color-variant);
      padding: 0 10px 0 12px;
      height: 46px;
      @include transition-250ms;
      font-weight: var(--font-weight-inter-medium);
      @include at768 {
        height: 60px;
        font-size: var(--font-size-17px);
        padding: 0 20px;
      }
      &--selected {
        color: var(--text-color-normal);
      }
      &__yearly-savings {
        font-family: var(--font-family-plus-jakarta-sans);
        font-weight: var(--font-weight-plus-jakarta-sans-bold);
        font-size: var(--font-size-15px);
        background-color: var(--neutral100);
        color: var(--text-color-dimmed);
        padding: 4px 8px 5px
          8px;
        border-radius: var(--border-radius-10px);
        @include transition-250ms;
        &--selected {
          color: var(--white);
          background-color: var(--brand-color);
        }
      }
    }
  }
}
.tiers {
  display: flex;
  gap: 16px;
  @include to992 {
    flex-direction: column;
  }
  @include at1200 {
    gap: 40px;
  }
}
.pricing_tier {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: var(--border-radius-30px);
  border: var(--border-secondary);
  padding: 0 16px;
  background-color: var(--white);
  position: relative;
  @include at1200 {
    padding: 0 40px;
  }
  &--best-value {
    border-color: var(--brand-color);
    border-width: 2px;
    @include to768 {
      margin-top: 8px;
    }
    @include to992 {
      margin-top: 10px;
    }
    &::before {
      content: attr(featured-text);
      white-space: nowrap;
      left: 0;
      text-transform: uppercase;
      font-family: var(--font-family-plus-jakarta-sans);
      font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
      letter-spacing: 1px;
      background-color: var(--brand-color);
      color: var(--white);
      position: absolute;
      padding: 4px 10px 5px 10px;
      border-radius: var(--border-radius-8px);
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      @include at768 {
        font-size: var(--font-size-16px);
      }
    }
  }
  &__top {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    @include at1200 {
      padding-top: 32px;
    }
    &__name {
      color: var(--brand-color);
      font-size: var(--font-size-28px);
      font-family: var(--font-family-plus-jakarta-sans);
      font-weight: var(--font-weight-plus-jakarta-sans-bold);
      @include at768 {
        font-size: var(--font-size-34px);
      }
    }
    &__description {
      color: var(--text-color-variant);
      font-size: var(--font-size-16px);
      @include at768 {
        font-size: var(--font-size-17px);
      }
    }
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 8px;
    @include at768 {
      gap: 10px;
    }
    &__old-cost {
      color: var(--text-color-dimmed);
    }
    &__cost {
      font-size: var(--font-size-34px);
      font-family: var(--font-family-plus-jakarta-sans);
      font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
      @include at768 {
        font-size: var(--font-size-40px);
      }
      &--previous {
        color: var(--text-color-dimmed);
        text-decoration: line-through;
      }
    }
    &__info {
      display: flex;
      flex-direction: column;
      color: var(--text-color-dimmed);
      font-size: var(--font-size-13px);
      @include at768 {
        font-size: var(--font-size-14px);
      }
    }
  }
  &__bullets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include at768 {
      gap: 14px;
    }
    &__heading {
      color: var(--text-color-variant);
      font-weight: var(--font-weight-inter-regular);
      @include at768 {
        font-size: var(--font-size-19px);
      }
    }
    &__inner {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @include at768 {
        gap: 14px;
      }
      &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        > span {
          font-weight: var(--font-weight-inter-medium);
          @include at768 {
            font-size: var(--font-size-19px);
          }
        }
        &__check {
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: flex-start;
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          background: var(--brand-color);
          border-radius: var(--border-radius-999px);
          @include at768 {
            width: 30px;
            height: 30px;
          }
          > svg {
            fill: var(--white);
            width: var(--icon-dimension-12px);
            @include at768 {
              width: var(--icon-dimension-16px);
            }
          }
        }
      }
    }
  }
  &__button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 24px;
    @include at768 {
      padding-top: 16px;
      padding-bottom: 40px;
    }
    @include at992 {
      padding-top: 24px;
      padding-bottom: 50px;
    }
  }
}
