// @type
@use '../../../../../styles/foundation' as *;

.container {
  border-bottom: var(--border-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--app-bar-height);
  background-color: var(--header-transparent-background);
  backdrop-filter: var(--backdrop-filter);
}
.icon {
  display: flex;
  align-items: center;
  padding: 0 var(--distance-16px);
  align-self: stretch;
  &--left {
    & > div > svg {
      width: var(--icon-dimension-20px);
      height: var(--icon-dimension-20px);
    }
  }
  &--right {
    & > div > svg {
      width: var(--icon-dimension-26px);
      height: var(--icon-dimension-26px);
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--title-bar-background);
  padding: var(--distance-3px) var(--distance-24px) var(--distance-1px)
    var(--distance-24px);
  border-radius: var(--border-radius-999px);
  & span:first-of-type {
    color: var(--title-bar-primary-foreground);
    font-size: var(--font-size-17px);
    font-weight: var(--font-weight-inter-medium);
  }
  & span:last-of-type {
    color: var(--title-bar-secondary-foreground);
    font-size: var(--font-size-13px);
    margin-top: -1px;
  }
}
