// @type
@use '../../../styles/foundation' as *;

.container {
  display: inline-flex;
  & > svg {
    fill: var(--plain-black);
    width: var(--distance-40px);
    height: var(--distance-40px);
  }
}
