// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  > span > span {
    height: 20px;
    border-radius: var(--border-radius-4px);
  }
}
