// @type
@use '../../../../../web-ui/src/styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  background-color: rgba(239, 246, 255, 0.8);
  border: 1.5px solid var(--blue100);
  box-shadow: inset 0 2px 3px rgba(219, 234, 254, 0.4);
  @include dark {
    background-color: var(--header-transparent-background);
    border: 1.5px solid var(--dark200);
    box-shadow: none;
  }
  z-index: 2;
  border-radius: 999px;
  gap: 13px;
  height: var(--search-desktop-height);
  transform: translateX(-16px);
  width: calc(100% + 32px);
  text-decoration: none;
  cursor: text;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--button-dimension-34px);
  height: var(--button-dimension-34px);
  border-radius: 50%;
  @include transition-150ms;
  margin-left: 8px;
  cursor: pointer;
  @include hover {
    background-color: var(--blue100);
    @include dark {
      background-color: var(--dark300);
    }
  }
  > svg {
    width: var(--icon-dimension-16px);
    fill: var(--blue600);
    @include dark {
      fill: var(--blue500);
    }
    @include transition-150ms(fill);
    @include at992 {
      width: var(--icon-dimension-20px);
    }
  }
}
.placeholder {
  font-size: var(--font-size-17px);
  font-weight: var(--font-weight-inter-medium);
  color: var(--accent-color);
  @include dark {
    color: var(--text-color-dimmed);
  }
  opacity: 0.7;
}
