// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: var(--distance-24px);
  background: var(--blue-box-background);
  border-radius: var(--border-radius-20px);
  padding: var(--distance-16px);
  @include at992 {
    padding: var(--distance-40px);
  }
}
