// @type
@use '../../../../styles/foundation' as *;

.container {
  background-color: var(--white);
  padding: 16px;
  border: var(--border-secondary);
  @include to768 {
    border-left: 0;
    border-right: 0;
  }
  @include at768 {
    border-radius: var(--border-radius-20px);
    padding: 24px;
    border-radius: var(--border-radius-20px);
  }
  @include at1200 {
    padding: 40px;
  }
  > * {
    margin-top: 0.8em;
    &:first-child {
      margin-top: 0;
    }
  }
  > h1,
  h2,
  h3 {
    font-family: var(--font-family-plus-jakarta-sans);
    font-weight: var(--font-weight-plus-jakarta-sans-bold);
    color: var(--brand-color);
    margin-top: 1.5em;
    &:first-child {
      margin-top: 0;
    }
  }
  > h1 {
    font-size: var(--font-size-25px);
    @include at768 {
      font-size: var(--font-size-26px);
    }
  }
  > h2 {
    font-size: var(--font-size-23px);
    @include at768 {
      font-size: var(--font-size-24px);
    }
  }
  > h3 {
    font-size: var(--font-size-21px);
    @include at768 {
      font-size: var(--font-size-22px);
    }
  }
}
