// @type
@use '../../../../styles/foundation' as *;

.container {
  border-bottom: var(--border-primary);
  background: var(--header-transparent-background);
  backdrop-filter: var(--backdrop-filter);
  height: var(--header-desktop-height);
}
.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: var(--distance-40px);
  position: relative;
  &__navigation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
