// @type
@use '../../../../styles/foundation' as *;

.container {
  border-bottom: var(--border-primary);
  background: var(--header-transparent-background);
  backdrop-filter: var(--backdrop-filter);
  height: var(--header-desktop-height);
}
.inner {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  height: 100%;
  gap: var(--distance-40px);
  position: relative;
}
.left {
  display: flex;
  align-items: center;
  gap: var(--distance-12px);
}
.cockroachdb {
  display: flex;
  align-items: center;
  gap: var(--distance-8px);
  border: var(--border-secondary);
  border-radius: var(--border-radius-10px);
  padding: var(--distance-4px) var(--distance-8px);
  background-color: var(--white);
  @include transition-150ms();
  @include hover {
    border-color: var(--input-border-color-hover);
  }
  > img {
    width: var(--distance-11px);
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: var(--distance-2px);
    > span {
      line-height: 1;
      font-weight: var(--font-weight-inter-medium);
    }
    > span:first-child {
      font-size: var(--font-size-10px);
    }
    > span:last-child {
      font-size: var(--font-size-13px);
    }
  }
}
.navigation {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
