// @type
@use '../../../../styles/foundation' as *;

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 0 var(--distance-16px);
  @include at768 {
    padding: 0;
  }
  @include at1200 {
    padding: 0 var(--distance-40px);
  }
}
.content {
  @include to768 {
    padding-top: var(--header-mobile-height);
  }
  @include at768 {
    display: flex;
  }
  &__mobile-nav {
    @include at768 {
      display: none;
    }
  }
  &__sidebar {
    display: flex;
    @include to768 {
      display: none;
    }
    @include at768 {
      position: sticky;
      top: 0;
      flex: 1;
      justify-content: flex-end;
      height: 100vh;
      border-right: var(--border-primary);
      background: var(--header-background);
      &::before {
        position: absolute;
        content: '';
        height: 100vh;
        width: 100vw;
        left: 0;
        transform: translateX(-100%);
        background: var(--header-background);
      }
    }
    &__inner {
      padding-top: var(--distance-90px);
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    @include to768 {
      gap: var(--distance-16px);
    }
    @include at768 {
      flex: 1.9;
      gap: var(--distance-40px);
      padding: var(--distance-68px) var(--distance-24px);
    }
    @include at992 {
      flex: 1.5;
      gap: var(--distance-40px);
      padding: var(--distance-68px) var(--distance-24px);
    }
    @include at1200 {
      flex: 1.9;
      padding: var(--distance-68px) var(--distance-40px);
    }
    @include at1380 {
      padding: var(--distance-68px) var(--distance-60px);
    }
  }
  &__aside {
    display: flex;
    @include at992 {
      flex: 1;
    }
  }
}
