// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  position: relative;
  margin: 8px 0;
  @include at992 {
    margin: 16px 0;
  }
}
.box {
  display: flex;
  align-items: center;
  background-color: rgba(239, 246, 255, 0.8);
  border: 1.5px solid var(--blue100);
  box-shadow: inset 0 2px 3px rgba(219, 234, 254, 0.4);
  @include dark {
    background-color: var(--header-transparent-background);
    border: 1.5px solid var(--dark200);
    box-shadow: none;
  }
  backdrop-filter: var(--backdrop-filter);
  z-index: 2;
  border-radius: var(--border-radius-999px);
  gap: 8px;
  height: var(--search-mobile-height);
  @include transition-150ms;
  @include to992 {
    margin: 0 8px;
  }
  @include at992 {
    transform: translateX(calc(8px * -1));
    width: calc(100% + (8px * 2));
    gap: 4px;
    height: var(--search-desktop-height);
  }
  @include at1200 {
    transform: translateX(calc(16px * -1));
    gap: 13px;
    width: calc(100% + (16px * 2));
  }
  @include hover {
    border-color: var(--blue200);
    @include dark {
      border-color: var(--dark400);
    }
  }
  &--yields-no-results {
    border-color: var(--red100) !important;
    background-color: rgba(254, 242, 242, 0.8);
    box-shadow: inset 0 2px 3px rgba(254, 226, 226, 0.4);
    @include dark {
      border-color: var(--red900) !important;
    }
    svg {
      fill: var(--red) !important;
    }
  }
  &--focus {
    border-color: var(--blue400) !important;
    box-shadow: inset 0 2px 3px rgba(219, 234, 254, 0.7);
    @include dark {
      border-color: var(--blue600) !important;
    }
  }
  &--focus-yields-no-results {
    border-color: var(--red300) !important;
    @include dark {
      border-color: var(--red) !important;
    }
    box-shadow: inset 0 2px 3px rgba(254, 226, 226, 0.7);
  }
  &__left-side {
    margin-left: 6px;
    width: var(--button-dimension-28px);
    height: var(--button-dimension-28px);
    display: flex;
    align-items: center;
    justify-content: center;
    @include transition-150ms(background-color);
    border-radius: var(--border-radius-999px);
    @include hover {
      background-color: var(--blue100);
      @include dark {
        background-color: var(--dark300);
      }
    }
    @include at992 {
      width: var(--button-dimension-34px);
      height: var(--button-dimension-34px);
      margin-left: 8px;
    }
    > svg {
      width: var(--icon-dimension-16px);
      fill: var(--blue600);
      @include dark {
        fill: var(--blue500);
      }
      @include transition-150ms(fill);
      @include at992 {
        width: var(--icon-dimension-20px);
      }
    }
  }
  &__loader {
    width: var(--icon-dimension-18px);
    height: var(--icon-dimension-18px);
    border: 2px solid var(--accent-color);
    border-bottom-color: transparent !important;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    @include at992 {
      width: var(--icon-dimension-22px);
      height: var(--icon-dimension-22px);
      border: 2.5px solid var(--accent-color);
    }
  }
  &__placeholder {
    position: absolute;
    font-weight: var(--font-weight-inter-medium);
    left: calc(
      var(--padding-6px) + var(--button-dimension-28px) + var(--padding-8px)
    );
    color: var(--blue500);
    @include dark {
      color: var(--text-color-variant);
    }
    @include transition-150ms(color);
    @include at992 {
      font-size: var(--font-size-16px);
      left: calc(var(--padding-8px) + var(--button-dimension-34px) + 4px);
    }
    @include at1200 {
      font-size: var(--font-size-17px);
      left: calc(var(--padding-8px) + var(--button-dimension-34px) + 13px);
    }
  }
  &__form {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: text;
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &__keycap {
      border: 1px solid var(--blue200);
      background: var(--blue100);
      border-radius: var(--border-radius-4px);
      color: var(--blue500);
      font-size: var(--font-size-12px);
      font-weight: var(--font-weight-inter-medium);
      padding: 0 4px;
      @include light {
        box-shadow: var(--box-shadow-blue);
      }
      @include dark {
        color: var(--text-color-dimmed);
        border-color: var(--dark400);
        background-color: var(--dark300);
      }
      @include touch-screen {
        display: none;
      }
    }
    &__content {
      position: absolute;
      white-space: pre;
      -webkit-user-select: none;
      user-select: none;
      &__styled-value {
        z-index: -1;
        position: absolute;
        color: var(--accent-color);
        @include dark {
          color: var(--text-color-normal);
        }
        @include transition-150ms(color);
        display: flex;
        align-items: center;
        pointer-events: none;
        font-weight: var(--font-weight-inter-medium);
        @include to1200 {
          font-family: var(--font-family-inter-tight);
          font-weight: var(--font-weight-inter-tight-medium);
        }
        &--yields-no-results {
          color: var(--red) !important;
          &::placeholder {
            color: ar(--red) !important;
          }
        }
        &__pre-highlight {
          opacity: 0.7;
        }
        &__highlight {
          background-color: var(--blue200);
          border-radius: var(--border-radius-3px);
          @include transition-150ms(background-color);
          @include dark {
            background-color: var(--blue600);
          }
          &--no-results {
            background-color: var(--red200);
          }
        }
        &__completion {
          opacity: 0.5;
          margin-right: 6px;
          font-weight: var(--font-weight-inter-regular);
          @include to1200 {
            font-family: var(--font-family-inter-tight);
            font-weight: var(--font-weight-inter-tight-regular);
          }
          @include touch-screen {
            display: none;
          }
        }
      }
      &__sizer {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        white-space: pre;
        visibility: hidden;
        font-weight: var(--font-weight-inter-medium);
        @include to1200 {
          font-family: var(--font-family-inter-tight);
          font-weight: var(--font-weight-inter-tight-medium);
        }
      }
      input {
        @include light {
          caret-color: var(--accent-color);
        }
        color: transparent;
        width: 100vw; // TODO: Rework workaround
        font-weight: var(--font-weight-inter-medium);
        @include to1200 {
          font-family: var(--font-family-inter-tight);
          font-weight: var(--font-weight-inter-tight-medium);
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
  &__right-side {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 6px;
    @include at992 {
      gap: 8px;
      margin-right: 11px;
    }
    &__press_key {
      pointer-events: none;
      color: var(--blue500);
      @include dark {
        color: var(--text-color-dimmed);
      }
      display: flex;
      white-space: pre;
      margin-right: 11px;
      > div {
        margin: 0 5px;
      }
      @include touch-screen {
        display: none;
      }
    }
    &__results-count {
      color: var(--blue500);
      @include dark {
        color: var(--text-color-variant);
      }
      white-space: pre;
      @include transition-150ms(color);
      @include to992 {
        font-size: var(--font-size-13px);
      }
      &--yields-no-results {
        color: var(--red500);
        @include dark {
          color: var(--red700);
        }
      }
    }
    &__clear {
      transform: rotate(45deg);
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--button-dimension-28px);
      height: var(--button-dimension-28px);
      border-radius: var(--border-radius-999px);
      @include transition-150ms(background-color);
      @include hover {
        background-color: var(--blue100);
        @include dark {
          background-color: var(--dark300);
        }
      }
      &--yields-no-results {
        @include hover {
          background-color: var(--red100);
          @include dark {
            background-color: var(--dark300);
          }
        }
      }
      > svg {
        width: var(--icon-dimension-14px);
        fill: var(--blue600);
        @include dark {
          fill: var(--blue500);
        }
        @include transition-150ms(fill);
        @include at992 {
          width: var(--icon-dimension-16px);
        }
      }
    }
  }
}
.hints {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: calc(var(--button-dimension-40px) + 4px);
  overflow: hidden;
  border-radius: var(--border-radius-12px);
  border: var(--border-primary);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  opacity: 1;
  @include transition-150ms;
  transform: translateY(0);
  @include to992 {
    width: calc(100% - (20px));
    margin-left: 50%;
    transform: translateY(0) translateX(-50%);
  }
  @include at992 {
    top: calc(var(--button-dimension-52px) + 4px);
  }
  &--hidden {
    opacity: 0;
    pointer-events: none;
    transition: none;
    @include to992 {
      transform: translateY(calc(4px * -1)) translateX(-50%);
    }
    @include at992 {
      transform: translateY(calc(4px * -1));
    }
  }
  &__mode {
    padding: 12px 14px 8px 16px;
    display: flex;
    gap: 5px;
    font-size: var(--font-size-14px);
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding-top: var(--padding-8px);
    &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      height: var(--button-dimension-34px);
      padding: 0 14px;
      @include hover {
        background-color: var(--neutral100);
        @include dark {
          background-color: var(--dark200);
        }
      }
      &--selected {
        background-color: var(--neutral100);
        @include dark {
          background-color: var(--dark200);
        }
      }
      &__icon {
        display: flex;
        > svg {
          width: 15px;
        }
      }
      &__content {
        display: flex;
        align-items: center;
        flex: 1;
        height: 100%;
        overflow: hidden;
        &--recent {
          > span {
            color: var(--text-color-dimmed) !important;
          }
          > span:nth-child(2) {
            color: var(--text-color-variant) !important;
          }
        }
        > span {
          color: var(--text-color-variant);
          white-space: pre;
          @include to1200 {
            font-family: var(--font-family-inter-tight);
          }
        }
        > span:nth-child(2) {
          color: var(--text-color-normal);
          font-weight: var(--font-weight-inter-tight-medium);
        }
        &__keycap {
          border: 1px solid var(--neutral300);
          background: var(--neutral100);
          border-radius: var(--border-radius-4px);
          color: var(--text-color-dimmed);
          font-size: var(--font-size-12px);
          font-weight: var(--font-weight-inter-medium);
          padding: 0 4px;
          box-shadow: var(--box-shadow);
          margin-left: 6px;
          @include dark {
            color: var(--text-color-dimmed);
            border-color: var(--dark400);
            background-color: var(--dark300);
          }
          @include touch-screen {
            display: none;
          }
        }
      }
      &__remove {
        display: flex;
        font-size: var(--font-size-13px);
        color: var(--text-color-dimmed);
        @include hover {
          @include text-decoration-underlinie-thin;
        }
      }
    }
  }
  &__footer {
    display: flex;
    font-size: var(--font-size-13px);
    margin: 8px 14px;
    @include to768 {
      flex-direction: column;
      align-items: flex-start;
    }
    @include at768 {
      justify-content: space-between;
    }
    > span {
      color: var(--text-color-dimmed);
    }
    > button {
      color: var(--accent-color);
      @include hover {
        @include text-decoration-underlinie-thin;
      }
    }
  }
}
.skeleton {
  width: 100%;
  margin: 8px 0;
  @include to992 {
    padding: 0 8px;
  }
  @include at992 {
    margin: 16px 0;
    transform: translateX(calc(16px * -1));
  }
  > span > span {
    height: var(--button-dimension-40px);
    border-radius: var(--border-radius-999px);
    @include at992 {
      height: var(--button-dimension-52px);
      width: calc(100% + (16px * 2));
    }
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
