// @type
@use '../../../../styles/foundation' as *;

.container {
  display: grid;
  background: var(--Bookmark-background);
  border: var(--border-secondary);
  cursor: pointer;
  @include transition-100ms(border-color);
  @include to992 {
    grid-template-areas:
      'main main'
      'link actions';
    border-left-width: 0px;
    border-right-width: 0px;
    grid-template-columns: 1fr auto;
  }
  @include at992 {
    grid-template-areas:
      'main actions'
      'link actions';
    border-radius: var(--border-radius-10px);
    grid-template-columns: 1fr auto;
  }
  @include hover {
    border-color: var(--border-color-primary);
  }
}
.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding-top: var(--distance-12px);
  padding-left: var(--distance-16px);
  padding-bottom: var(--distance-10px);
  @include to992 {
    padding-right: var(--distance-16px);
    border-bottom: 1px solid var(--border-color-secondary);
  }
  &--has-tags {
    @include to992 {
      padding-bottom: var(--distance-2px);
    }
    @include at992 {
      padding-bottom: 0;
    }
  }
  &__title {
    display: inline;
    color: var(--text-color-normal);
    margin-right: var(--distance-0-6rem);
    &--starred {
      padding: var(--distance-0-6rem) var(--distance-0-4rem) 0.22rem
        var(--distance-0-4rem);
      margin-left: calc(var(--distance-0-4rem) * -1);
      margin-right: calc(var(--distance-0-6rem) - var(--distance-0-4rem));
      background: var(--Bookmark-starred-title-background);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }
    &__saves {
      display: inline-flex;
      align-items: center;
      transform: translateY(-0.2rem);
      border-radius: var(--border-radius-999px);
      font-family: var(--font-family-plus-jakarta-sans);
      font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
      background: var(--Bookmark-saves-background);
      color: var(--Bookmark-saves-foreground);
      font-size: var(--font-size-1-4rem);
      padding: 0 var(--distance-0-8rem);
      height: var(--distance-2-0rem);
      margin-right: var(--distance-0-6rem);
    }
    &__nsfw {
      display: inline-flex;
      align-items: center;
      color: var(--Bookmark-nsfw-foreground);
      transform: translateY(-0.25rem);
      position: relative;
      font-size: var(--font-size-1-2rem);
      margin-right: var(--distance-0-5rem);
      height: var(--distance-2-0rem);
      background: var(--Bookmark-nsfw-background);
      padding: 0 var(--distance-0-4rem);
      border-radius: var(--border-radius-4px);
      font-family: var(--font-family-plus-jakarta-sans);
      font-weight: var(--font-weight-plus-jakarta-sans-extra-bold);
    }
    &__text {
      display: inline;
      font-weight: var(--font-weight-inter-medium);
      font-size: var(--font-size-1-9rem);
      margin-bottom: var(--distance-0-8rem);
      @include hover {
        color: var(--Bookmark-title-foreground-hover);
      }
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--distance-0-8rem);
    &__tag {
      display: flex;
      align-items: center;
      gap: var(--distance-0-4rem);
      height: var(--button-dimension-34px);
      @include hover {
        > div > span:first-child {
          text-decoration: underline;
        }
      }
      > div > span:first-child {
        font-size: var(--font-size-1-5rem);
        color: var(--Bookmark-tag-foreground);
        font-weight: var(--font-weight-inter-medium);
      }
      > div > span:last-child {
        color: var(--text-color-dimmed);
        font-size: var(--font-size-1-3rem);
        margin-left: var(--distance-0-3rem);
      }
      &--condensed {
        @include to992 {
          font-family: var(--font-family-inter-tight);
          > span:first-child {
            color: var(--Bookmark-tag-foreground);
            font-weight: var(--font-weight-inter-medium);
          }
        }
      }
    }
  }
}
.actions {
  grid-area: actions;
  display: flex;
  @include to992 {
    margin-right: var(--distance-9px);
  }
  @include at992 {
    flex-direction: column;
    margin-top: var(--distance-7px);
    margin-left: var(--distance-8px);
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    @include to992 {
      width: var(--button-dimension-48px);
      height: var(--button-dimension-48px);
    }
    @include at992 {
      width: var(--button-dimension-40px);
      height: var(--button-dimension-34px);
    }
    &:last-of-type {
      @include to992 {
        order: -1;
      }
    }
    svg {
      width: var(--icon-dimension-18px);
      height: var(--icon-dimension-18px);
      fill: var(--Bookmark-action-fill);
      @include transition-100ms(fill);
    }
    @include hover {
      svg {
        fill: var(--Bookmark-action-fill-hover);
      }
    }
  }
}
.link {
  grid-area: link;
  position: relative;
  @include at992 {
    margin-bottom: var(--distance-12px);
  }
  @include to992 {
    overflow: hidden;
    &::after {
      position: absolute;
      width: var(--distance-60px);
      right: 0;
      top: 0;
      height: 100%;
      content: '';
      color: transparent;
      background: linear-gradient(
        to left,
        var(--Bookmark-background),
        transparent
      );
    }
  }
  &__inner {
    padding-left: var(--distance-16px);
    display: flex;
    @include to992 {
      align-items: center;
      height: 100%;
      overflow-x: scroll;
    }
    &::before {
      content: '↪';
      transform: translateY(var(--distance-0-1rem));
      padding-right: var(--distance-0-3rem);
      font-weight: var(--font-weight-inter-semi-bold);
      color: var(--text-color-normal);
      font-size: var(--font-size-1-5rem);
    }
    &__element {
      display: inline-flex;
      color: var(--text-color-variant);
      font-size: var(--font-size-1-5rem);
      color: var(--Bookmark-link-foreground);
      text-decoration: underline;
      @include to992 {
        padding-right: var(--distance-60px);
      }
      @include at992 {
        overflow-wrap: anywhere;
      }
      @include hover {
        text-decoration: none;
      }
      &:visited {
        span {
          color: var(--Bookmark-link-visited-foreground);
        }
      }
    }
  }
}
