// @type
@use '../../../../styles/foundation' as *;

.container {
  display: grid;
  background: var(--bookmark-background);
  border: var(--border-secondary);
  @include transition-100ms(border-color);
  @include to992 {
    grid-template-areas:
      'main main'
      'info actions';
    border-left-width: 0px;
    border-right-width: 0px;
    grid-template-columns: 1fr auto;
  }
  @include at992 {
    grid-template-areas:
      'main actions'
      'info actions';
    border-radius: var(--border-radius-10px);
    grid-template-columns: 1fr auto;
  }
  @include hover {
    border-color: var(--border-color-primary);
  }
}
.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding-top: var(--distance-12px);
  padding-left: var(--distance-16px);
  @include to992 {
    padding-right: var(--distance-16px);
    border-bottom: 1px solid var(--border-color-secondary);
  }
  &__title {
    display: inline;
    color: var(--bookmark-link-foreground);
    margin-right: var(--distance-0-6rem);
    &--starred {
      padding: var(--distance-0-3rem) var(--distance-0-4rem);
      margin-left: calc(var(--distance-0-4rem) * -1);
      margin-right: calc(var(--distance-0-6rem) - var(--distance-0-4rem));
      background: var(--bookmark-starred-title-background);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
    }
    &__nsfw {
      display: inline-flex;
      font-weight: var(--font-weight-inter-bold);
      color: var(--bookmark-nsfw-foreground);
      transform: scale(0.82) translateY(-0.07rem);
      position: relative;
      font-size: var(--font-size-1-3rem);
      margin-right: var(--distance-0-5rem);
      &::before {
        content: '';
        border-radius: var(--border-radius-4px);
        position: absolute;
        width: 120%;
        height: 120%;
        top: 0;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-53%);
        background: var(--bookmark-nsfw-background);
        z-index: -1;
      }
    }
    &__text {
      font-weight: var(--font-weight-inter-medium);
      font-size: var(--font-size-1-8rem);
      padding-bottom: var(--distance-0-8rem);
      @include hover {
        text-decoration: underline;
      }
    }
  }
  &__site {
    color: var(--text-color-dimmed);
    font-size: var(--font-size-1-3rem);
    padding: var(--distance-0-4rem) 0 var(--distance-0-8rem) 0;
    @include hover {
      & span {
        text-decoration: underline;
      }
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--distance-7px);
    padding-bottom: var(--distance-2px);
    @include to992 {
      padding-right: var(--distance-16px);
    }
    &__tag {
      font-size: var(--font-size-1-3rem);
      color: var(--bookmark-tag-foreground);
      background: var(--bookmark-tag-background);
      border-radius: var(--border-radius-4px);
      border: 1px solid var(--bookmark-tag-border-color);
      padding: 0 var(--distance-7px);
      height: var(--button-dimension-28px);
      font-weight: var(--font-weight-inter-medium);
      @include transition-100ms(all);
      @include to992 {
        font-family: var(--font-family-inter-tight);
      }
      @include hover {
        border-color: var(--bookmark-tag-border-color-hover);
        background: var(--bookmark-tag-background-hover);
        color: var(--bookmark-tag-foreground-hover);
      }
    }
  }
  &__separator-middle {
    height: var(--distance-6px);
  }
  &__separator-bottom {
    @include to992 {
      height: var(--distance-8px);
    }
  }
  &__description {
    color: var(--text-color-variant);
    font-size: var(--font-size-1-5rem);
    @include to992 {
      padding-right: var(--distance-16px);
    }
  }
}
.actions {
  grid-area: actions;
  display: flex;
  @include to992 {
    margin-right: var(--distance-5px);
  }
  @include at992 {
    flex-direction: column;
    margin-top: var(--distance-9px);
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--button-dimension-40px);
    height: var(--button-dimension-40px);
    @include at992 {
      width: var(--button-dimension-34px);
      height: var(--button-dimension-28px);
    }
    &:last-of-type {
      @include to992 {
        order: -1;
      }
    }
    & > div > svg {
      width: var(--icon-dimension-16px);
      height: var(--icon-dimension-16px);
      fill: var(--bookmark-action-fill);
      @include transition-100ms(fill);
    }
    @include hover {
      & svg {
        fill: var(--bookmark-action-fill-hover);
      }
    }
  }
}
.info {
  grid-area: info;
  position: relative;
  overflow: hidden;
  &::after {
    position: absolute;
    width: var(--distance-20px);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    content: 'X';
    color: transparent;
    background: linear-gradient(to left, var(--header-background), transparent);
  }
  &__inner {
    display: flex;
    align-items: center;
    font-size: var(--font-size-1-3rem);
    overflow: auto;
    height: 100%;
    width: 100%;
    padding: 0 var(--distance-16px);
    @include at992 {
      padding: 0 var(--distance-16px);
    }
    &__separator {
      padding: 0 var(--distance-0-5rem);
      @include at992 {
        padding: var(--distance-0-6rem) var(--distance-0-5rem)
          var(--distance-0-8rem) var(--distance-0-5rem);
      }
      color: var(--text-color-dimmed);
    }
    &__button {
      height: 100%;
      color: var(--text-color-dimmed);
      white-space: nowrap;
      @include hover {
        text-decoration: underline;
      }
      @include at992 {
        padding: var(--distance-0-8rem) 0;
      }
    }
  }
}
