// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 4px;
  row-gap: 5px;
  > span > span {
    height: 24px;
    border-radius: var(--border-radius-999px);
  }
}
