// @type
@use '../../../../styles/foundation' as *;

.container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 8px;
  height: 100%;
}
.user {
  position: relative;
  &__dropdown {
    right: 0;
    bottom: 0;
    position: absolute;
  }
}
