// @type
@use '../../../../styles/foundation' as *;

.wrapper {
  margin: var(--padding-8px) 0;
  @include at992 {
    margin: var(--padding-16px) 0;
  }
  &--compact {
    @include to992 {
      margin: 0;
    }
    @include at992 {
      margin: var(--padding-8px) 0;
    }
  }
  &--compact-open {
    margin: var(--padding-16px) 0;
  }
}
