// @type

.wrapper {
  @include to992 {
    margin: 0;
  }
  @include at992 {
    margin: var(--padding-8px) 0;
  }
  &--opened {
    margin: var(--padding-16px) 0;
    @include at992 {
      margin: var(--padding-16px) 0;
    }
  }
}
