// @type
@use '../../../../styles/foundation' as *;

.container {
  padding: 60px 0;
  @include at768 {
    padding: 80px 0;
  }
  @include at992 {
    padding: 100px 0;
  }
  @include at1200 {
    padding: 120px 0;
  }
  @include at1380 {
    padding: 140px 0;
  }
}
